﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>@ViewBag.Title - WCTS</title>
    @Styles.Render("~/Content/css")   
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bounce.css" rel="stylesheet" />
    <style>
        .transition {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }

         
    </style>
   
</head>
<body>
   
    
    <div class="wrapper ">
        


        @Html.Partial("_PartialSidebar")
        <div class="main-panel">
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="background-color: #FFFFFF !important">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        @*<marquee behavior=ALTERNATE style="width: 400px; text-shadow: 2px 2px 4px #008b8b; "><p style="font-weight: bold;" class="tasss" id="tass">Walton Compressor Tracking System</p></marquee>*@ 
                    
                    
                       
                    </div>
                   
                    

                    <div class="clock" style=" zoom: 0.5; font-size: 10px !important;width: auto !important"></div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <a id="url" style="color: red;font-weight: bold;text-decoration: underline" href="http://192.168.118.175/Display.html" target="_blank">Click To View Display!</a> 
                    @*<div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">

                            <li role="" class="dropdown" id="wctsNotification" style="border-radius: 20px;border :1px solid orange;text-align: center">

                                @Html.Partial("~/Views/Shared/_PartialNotification.cshtml")

                            </li>
                        </ul>
                    </div>*@
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                           
                            
                          
                            
                            

                            <li class="nav-item btn-rotate dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs"></i>

                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    @*<a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>*@
                                    <a class="dropdown-item" href="@Url.Action("ChangePassword", "Account")">Change Password</a>
                                    <a class="dropdown-item" href="@Url.Action("LogOut", "Account")">Log Out</a>
                                  
                                </div>
                            </li>
                            
                            <li class="nav-item" style="border: 2px solid brown;border-radius: 10px;">
                                <a class="nav-link btn-magnify">
                                    <p>
                                        <span style="color: black !important" class="">User ID: @Session["WCTSUserName"]</span>
                                    </p>
                                </a>
                            </li>
                            @*<li class="nav-item">
                            <a class="nav-link btn-rotate" href="#pablo">
                                <i class="nc-icon nc-settings-gear-65"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Account</span>
                                </p>
                            </a>
                        </li>*@
                        </ul>
                    </div>
                </div>
            </nav>
            
            
            <div class="content">

                <div id="body">

                    @RenderBody()

                </div>

            </div>




            <footer class="footer footer-default">
                <div class="container-fluid">
                    <div class="row">
                        <nav class="footer-nav">
                            @*<ul>
                                <li>
                                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                                </li>
                                <li>
                                    <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                                </li>
                                <li>
                                    <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                                </li>
                            </ul>*@
                        </nav>
                        <div class="credits ml-auto">
                            <span class="copyright">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>  Walton Group
                            </span>
                        </div>
                    </div>
                </div>
            </footer>

        </div>


    </div>
  
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/flipclock.min.js"></script>*@
    <script>
        var keepSessionAlive = false;
        var keepSessionAliveUrl = null;

        function SetupSessionUpdater(actionUrl) {
           
            keepSessionAliveUrl = actionUrl;
            var container = $("#body");
            container.mousemove(function () { keepSessionAlive = true; });
            container.keydown(function () { keepSessionAlive = true; });
            CheckToKeepSessionAlive();
        }

        function CheckToKeepSessionAlive() {
           
            //setTimeout(KeepSessionAlive(), 30000);
            KeepSessionAlive();
        }

        function KeepSessionAlive() {
            
            if (keepSessionAlive) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("KeepSessionAlive", "Home")',
                    success: function () { keepSessionAlive = false; }
                });
            }
            //CheckToKeepSessionAlive();
        }
        setInterval(function () { SetupSessionUpdater(); }, 30000);

      
        function testooo() {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("InventoryPassedItemsMove", "Inventory")',
                    success: function () { keepSessionAlive = false; }
                });
            
            //CheckToKeepSessionAlive();
        }
        setInterval(function () { testooo(); }, 50000);


        $(document).ready(function () {
            $('#url').hover(function () {
                $("#url").addClass('transition');

            }, function () {
                $("#url").removeClass('transition');
            });
            //LoadNotification();
            // $('#brandNotification').load('/../Brand/GetBrandNotification/?type=S');
        });
       // setInterval(LoadNotification, 6000);

        @*function LoadNotification() {

            var link = '@Url.Action("GetWctsNotification", "Common", new { type = "replace" })';
            link = link.replace("replace", 'S');
            $('#wctsNotification').load(link);
        }*@
    </script>









</body>
</html>
