﻿@using WCTS.Models

   <div class="sidebar card-header-info" style="color: white;" data-background-color="white" data-active-color="danger">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">

        </a>

        <a href="#" class="simple-text logo-normal">
            WCTS
        </a>
    </div>
    @*<div class="logo">

        </div>*@

    @*<div class="logo">
            <a href="#" class="simple-text logo-mini">
                CT
            </a>

            <a href="#" class="simple-text logo-normal">
                Creative Tim
            </a>
        </div>*@
    <div class="sidebar-wrapper ps ps--active-x ps--active-y">
        @*<div class="user">
                <div class="info">
                    <div class="photo">
                        <img src="../../assets/img/faces/face-2.jpg">
                    </div>

                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            Chet Faker
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="sidebar-mini">Mp</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="sidebar-mini">Ep</span>
                                    <span class="sidebar-normal">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="sidebar-mini">S</span>
                                    <span class="sidebar-normal">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>*@
        <ul class="nav">

            @if (Session["AllMenus"] != null)
            {
                var menuMaster = (List<MenuModel>)Session["AllMenus"];
                var groupByMenu = menuMaster.GroupBy(x => x.MainMenuName).ToList();


                foreach (var MenuList in groupByMenu)
                {

                    var urlLink = (MenuList.Key).Replace(" ", "");

                    <li style="border: 1px solid white;margin-right: 20px;margin-left: 10px;border-radius: 3px;margin-top: 10px;">
                        <a style="color: white;font-size: 12px;font-weight: bold;font-style: oblique" data-toggle="collapse" href="#@urlLink" class="collapsed" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                            <p>
                                <b class="caret"></b>
                                @MenuList.Key

                            </p>
                        </a>
                        <div style="border:; padding: 2px;" class="collapse" id="@urlLink" aria-expanded="false" style="height: 0px;">
                            <ul class="nav">

                                @foreach (var subMenuList in MenuList)
                                {
                                    <li style="color: white">
                                        <i class="fa fa-toggle-on" style="font-size: 12px;"></i>
                                        <a style="color: white; text-decoration:;" href="@Url.Action(subMenuList.ActionName, subMenuList.ControllerName)">
                                            @subMenuList.SubMenuName
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </li>






                }


            }




        </ul>

    </div>
</div>
