﻿<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/bounce.css" rel="stylesheet" />
<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false" style="color: red; font-size: 25px;">
    <i class="fa fa-bell" style="color: red;font-size: 25px;"></i>
    <span class="badge bg-red" style="padding: 0 !important">@ViewBag.TotalNotifications</span>
</a>
<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu" style="border: 1px solid linen; height: 400px;width: 400px; overflow: auto">

    <li>
        <a class="url" id="" onclick="UpdateAllNotification()">Clear All Notification </a>
    </li>
    @{
        if (ViewBag.recentNotifications != null)
        {
            foreach (var items in ViewBag.recentNotifications)
            {
                    <li>
                        <a class="url" id=@items.Id href="@Url.Action(@items.TargetAction,@items.TargetController)" onclick="boo(this.id);">
                            <span class="image"><img src="~/images/icon-1.png" style="width: 20px;height: 20px;" alt="Profile Image" /></span>
                            <span>
                                <strong><span>@items.Title</span></strong>
                                <br />
                                <span class="time">@items.AddedDate By @items.AddedName</span>
                            </span>
                            <br />
                            <span class="message">
                                @items.Description
                            </span>
                        </a>
                    </li>
                


            }

          

        }

        else
        {
            <li>
                <div class="text-center">
                    <a>
                        <strong style="color: black" >No Notification</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        }


    }
             


        </ul>


<div class="modal fade" id="myModalForImages" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="container body">
                    <div class="main_container">
                        <div class="row" role="main">


                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6" style="height: 600px;">
                                    <div class="x_panel" style="height: 600px;">

                                        <div class=" x_title">
                                            <h2>Recent Activities <small>Sessions</small></h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>


                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="dashboard-widget-content" id="imageContentsss">

                                            </div>

                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnmymodalclose" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

                    function boo(id) {
                      
                        var notification = {};
                        notification.Id = id;
                      
                        $.ajax({
                            url: '@Url.Action("UpdateNotification", "Notification")',
                            type: 'POST',
                            data: JSON.stringify({ notification: notification }),
                            dataType: 'json',
                            async: false,
                            contentType: 'application/json',
                            success: function (result) {
                                if (result.IsSuccess) {
                                    $("#modal-1").removeClass("md-show");
                                }
                            },
                            error: function (result, textStatus, jqXHR) {
                                //toastr.error(result.Message);
                                // alert("Error");
                                return false;
                            }
                        });
                    }


                    function UpdateAllNotification() {

                        
                        $.ajax({
                            url: '@Url.Action("UpdateAllNotification", "notification")',
                            type: 'POST',
                        
                            dataType: 'json',
                            async: false,
                            contentType: 'application/json',
                            success: function (result) {
                                if (result.IsSuccess) {
                                    $("#modal-1").removeClass("md-show");
                                }
                            },
                            error: function (result, textStatus, jqXHR) {
                                //toastr.error(result.Message);
                                // alert("Error");
                                return false;
                            }
                        });
                    }

                



</script>
