﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .circle {
        margin: 15px;
        display: inline-block;
        padding: 12px;
        text-align: center;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 2px solid #1d2087;
    }

        .circle::before,
        .circle::after {
            position: absolute;
            z-index: -1;
            display: block;
            content: '';
        }

        .circle,
        .circle::before,
        .circle::after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .5s;
            transition: all .5s;
        }

    .circle {
        position: relative;
        z-index: 2;
        background-color: #fff;
        border: 2px solid #5c5eae;
        color: #5c5eae;
        line-height: 30px;
        overflow: hidden;
    }

        .circle:hover {
            color: #fff;
        }

        .circle::after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-transform: scale(.5);
            transform: scale(.5);
        }

        .circle:hover::after {
            background: #EF8157;
            border-radius: 50%;
            -webkit-transform: scale(.9);
            transform: scale(.9);
        }

    .circle1 {
        opacity: 0.4;
    }

    .circle2 {
        opacity: 0.6;
    }

    .circle3 {
        opacity: 0.8;
    }

    .circle a {
        text-decoration: none;
        color: #1d2087;
    }

    .circle h2 {
        font-size: 50px;
    }

        .circle h2 small {
            color: #1d2087;
        }

    .circle p {
        font-size: 20px;
        line-height: 0px;
    }


    /*#codeDiv {
        border: 1px solid black;
        width: 650px;
        height: 310px;
    }

    .table {
        margin: auto;
    }

    #tileTable td {
        font-size: 10px;
    }

    #tileTable th {
        font-size: 10px;
    }

    .table td img {
        margin-bottom: 5px;
    }

    span#bCodeId {
        padding-left: 100px;
    }

    span#modelId {
        padding-left: 178px;
    }

    table.table {
        margin-top: -30px;

    }

    table#tileTable {
        margin-top: -28px;
    }

        #table td {
            font-size: 12px;
        }

    #tblAddedComponents td {
        font-size: 10px;
        padding: 0;
        margin: 0;
    }*/

    /*p {
        margin-top: 0 !important;
        margin-bottom: 1px !important;
    }*/

    #dv1, #dv2, #dv3, #dv4 {
        display: none;
    }
</style>




<div class="content">
    <div class="container-fluid">

        @Html.Partial("~/Views/PartialViews/_reprintmastercodelabel.cshtml")


        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" id="dv1" style="text-align: center">
                <div class="card card-stats" style="text-align: center; border: 1px solid #9730B0 !important">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon" style="font-weight: bolder">
                            Model Name
                        </div>

                    </div>
                    <div class="card-footer" style="text-align: center !important; font-weight: bolder; font-size: 20px; color:#ff0000">

                        @ViewBag.Model-(@ViewBag.CategoryCode)

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6" id="dv2">
                <div class="card card-stats" style="text-align: center; font-weight: bolder; border: 1px solid #15BACF !important">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            Line Name
                        </div>

                    </div>
                    <div class="card-footer" style="font-weight: bolder; font-size: 20px; color: #9730b0">

                        @ViewBag.LineName

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6" id="dv3">
                <div class="card card-stats" style="text-align: center; font-weight: bolder; border: 1px solid #4BA64F !important">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            Shift Name
                        </div>

                    </div>
                    <div class="card-footer" style="font-weight: bolder; font-size: 18px; color: #191970">

                        @ViewBag.ShiftName<br />
                        @ViewBag.ProductionDate
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" id="dv4">
                <div class="card card-stats" style="text-align: center; font-weight: bolder; border: 1px solid #FC9107 !important">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            Inventory Type
                        </div>

                    </div>
                    <div class="card-footer" style="font-weight: bolder; font-size: 18px; color: #FC9107">

                        @ViewBag.InventoryType

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6" id="dv5">
                <div class="card card-stats" style="text-align: center; font-weight: bolder; border: 1px solid #4BA64F !important">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            Click To Print Manualy
                        </div>

                    </div>
                    <div class="card-footer" style="font-weight: bolder; color: #191970">

                        <input type="button" class="btn btn-sm btn-danger float-md-left" id="btnManual" style="padding: 5px 10px !important" value="Print Manualy" />

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-header card-header-rose">
                        Scan Compressor Barcode
                        @if (ViewBag.MasterBarcode == null)
                        {
                            <div id="divMasterBarcode">
                                <input type="button" id="btnMasterBarcode" class="btn btn-primary" onclick="GenerateMasterBarcode()" value="Generate Master Barcode" />
                            </div>
                            
                            <input type="hidden" id="MasterBarcode" />
                        }
                        else
                        {
                            <div id="divMasterBarcode">

                            </div>
                            <span id="lblMasterBarcode" style="display:inline-block">Master Barcode: @ViewBag.MasterBarcode</span>
                            <input type="hidden" id="MasterBarcode" value="@ViewBag.MasterBarcode" />
                        }

                    </div>
                    <div class="card-body">

                        <input id="txtCode" style="height: 50px; font-size: 20px; border: 3px solid #9730b0" type="text" placeholder="Scan Barcode" class="form-control form-control-success">
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-chart" style="text-align: center; border: 1px solid #EA4642 !important">
                    <div class="card-header card-header-danger">
                        Latest 3 Scanned Code
                    </div>
                    <div class="card-body">

                        <ol id="tlLast3" style="font-size: 25px;">
                        </ol>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-chart" style="text-align: center; border: 1px solid #EA4642 !important">
                    <div class="card-header card-header-danger">
                        Total Scanned Compressor
                    </div>
                    <div class="card-body">
                        <div class="circle for">
                            <a href=""><h2 id="idCount"></h2><small>Total Compressor</small><p>Count</p></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart" style="text-align: center; border: 1px solid #EA4642 !important">
                    <div class="card-header card-header-danger">
                        Total Ready To Print
                    </div>
                    <div class="card-body">
                        <div class="circle">
                            <a href=""><h2 id="idCountPrint"></h2><small>Ready To Print</small><p>Count</p></a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<audio controls="controls" id="audio" style="display: none">
    <source src="~/Content/success.wav">
</audio>
<audio controls="controls" id="failed" style="display: none">
    <source src="~/Content/fail.mp3" type="audio/mpeg" />
</audio>
@*<div id="codeDiv" style="border: 1px solid;">*@


<div id="codeDiv" style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; width: 620px; background-color: white; height: 330px; border: 2px solid black; border-radius: 5px; padding-top: 0px; padding-bottom: 0px; margin-bottom: 0.5px; margin-top: 0.5px; margin-right:0.5px; margin-left: 30px; ">
    <div style="margin:0 auto; padding-bottom: 6px; text-align: center; font-family:Myriad Pro; margin-top:-1px;">

        <p style="font-size: 21px;"><b>Walton Hi-Tech Industries Ltd.</b></p>
        <p style="font-size: 15px; margin-top: -25px;">Kaliakoir, Gazipur, Bangladesh</p>
        <img src='~/images/complogo.png' style="max-width: 90px; max-height: 70px; width: auto; height: auto; margin-left: 460px; margin-top: -90px;" alt="this attrib should be always present" />
    </div>
    <div class="row" style="margin-top:-15px">

        <div style="width:175px;float: left;text-align: center;font-size: 10px;margin-top: -18px;margin-left: 10px;margin-right: 0px;">
            <p style="font-family:arial;font-size:12px;font-weight:bold; text-align:left;letter-spacing:1px;  margin-left: 53px;">Lot Barcode</p>
            <img id="cdLot" style="margin-top: -12px;" alt="" />
        </div>

        <div style="width:145px;float:left;font-size: 9px;margin-top: -18px;margin-left: 78px;">
            <p id="pModel" style="font-family: arial; font-size: 12px; font-weight: bold; text-align: left; letter-spacing: 1px;margin-left: 10px;"></p>
            <p id="divKg" style="font-family: arial; font-size: 9px; font-weight: bold; margin-top: -12px; text-align: left; margin-left: 14px"> N.W (KG):8.10&plusmn;0.10/PCS</p>

        </div>

        <div style="float:left;font-size: 10px;margin-top: -18px;margin-left: 20px;">
            <p style="font-family: arial; font-size: 12px; font-weight: bold; text-align: left; letter-spacing: 1px; margin-left: 70px;">Master Barcode</p>
            <img id="cdMaster" style="margin-top: -12px; margin-left:30px" alt="" />

        </div>

    </div>
    <table id="tblAddedComponents" style="margin-left:15px;">
        <tbody style="text-align: center;font-size: 8px;margin:0;padding:0;font-weight: bold "></tbody>
    </table>
    <div style="display: inline;"><img src="~/images/walton.png" style="margin-left: 450px; margin-top: -5px; width: 30px; height: 30px" alt="this attrib should be always present"></div>
    <div style="display: inline;font-size: 10px;font-weight: bold">Made In Bangladesh</div>

</div>




@*</div>*@

@*<link href="~/Content/material-dashboard.css" rel="stylesheet" />*@
<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<script src="~/Scripts/jqueryprint/jquery.min.js"></script>
<script src="~/Scripts/jqueryprint/jQuery.print.min.js"></script>
<script src="~/Scripts/Barcode.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>
<script>

    function GenerateMasterBarcode() {
        $.ajax({
            url: '  @Url.Action("GenrateMasterBarcode", "Production")',
            type: 'GET',
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (result) {
                if (result) {
                    window.location = '@Url.Action("Index", "Production")';
                } else {
                    alert("Master barcode generation failed. Please try again.")
                }
            }
        });
    }

    function play() {
        var audio = document.getElementById("audio");
        audio.play();
    }


    function playfailed() {
        var audio = document.getElementById("failed");
        audio.play();
    }


    $(function () {

        $("#txtCode").focus();
        $("#txtReMasterCode").focus();
        CountIssues();
        $("#dv1").fadeIn(2000);
        $("#dv2").fadeIn(3000);
        $("#dv3").fadeIn(4000);
        $("#dv4").fadeIn(5000);
        $("#dv5").fadeIn(6000);
        //$("#tst").effect("bounce", { times: 3 }, 300);
    });



    function CountIssues() {


        $.ajax({
            url: '  @Url.Action("GetItemsCounts", "Production")',
            type: 'GET',
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (result) {


               // console.log(result);
                if (result.length == 0) {
                    $('#idCount').text('0');
                    $('#idCountPrint').text('0');

                    var list = "<li style='font-size:20px;color:green' class='text-center'>No data</li>";
                    $('#tlLast3').append(list);
                }

                else {



                    $('#idCount').text(result[0].TotalCount);
                    $('#idCountPrint').text(result[0].readyPrint);
                    $('#tlLast3').empty();
                    //var tree = result[0].topThreeRecord;

                    $.each(result[0].topThreeRecord, function (index, data) {

                        var list = "<li style='font-size:20px;color:green' class='text-center'>" + data.Barcode + "</li>";
                        $('#tlLast3').append(list);


                    });

                }
            },
            error: function (result, textStatus, jqXHR) {
                //toastr.error(result.Message);
                // alert("Error");
                playfailed();
                return false;
            }
        });

    }

    $("#txtCode").on('keydown', function (e) {

        debugger;
        if ($("#txtCode").val().length == 12) {

            var masterBarcode = $("#MasterBarcode").val();
            if (masterBarcode == '') {
                iziToast.warning({
                    timeout: 1000,
                    imageWidth: 150,
                    position: 'center',
                    title: 'warning!-',
                    message: "Please generate master barcode",
                    backgroundColor: '#E70F0F',
                    theme: 'dark', // dark
                    zindex: 999,
                    progressBarColor: '#091B2B',
                    titleSize: 15,
                    messageColor: '#FDFEFE',
                    messageSize: 15,

                });
                $("#txtCode").val('');
                $("#txtCode").prop("disabled", false);
                playfailed();
                $("#txtCode").focus();
                window.location = '@Url.Action("Index", "Production")';
                return false;
            }

            var code = $("#txtCode").val();
            $("#txtCode").prop("disabled", true);
          //  alert("disable");
            $.ajax({
                url: '@Url.Action("InsertProductionMaster", "Production")',
                type: 'Post',
                data: JSON.stringify({ barcode: code, masterBarcode: masterBarcode }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    //alert("adasd");
                    //console.log(data);

                    if (data.IsSuccess) {
                        CountIssues();
                        iziToast.success({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Added Successfully'
                        });
                        play();
                        $("#txtCode").prop("disabled", false);
                        $("#txtCode").val('');
                        $("#txtCode").focus();

                       // console.log(data.BatchItems);

                        if (data.BatchItems.length == 90) {

                            $('#cdLot').JsBarcode(data.LotNo,
                              {
                                  width: 1,
                                  height: 15,
                                  fontSize: 12,
                                  fontOptions: "bold",
                              });

                            $('#cdMaster').JsBarcode(data.MasterBatch,
                               {
                                   width: 1,
                                   height: 15,
                                   fontSize: 12,
                                   fontOptions: "bold",
                               });

                            $('#pModel').text('Model :'+data.BatchItems[0].Model);
                            $.when(generatelabels(data.BatchItems)).then($('#codeDiv').show());
                            //printData();
                            printData(data.BatchItems, masterBarcode);
                            //generatelabels(data.batchItems);
                        }

                    }

                    if (data.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    }



                    if (!data.IsSuccess) {
                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: data.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,

                        });
                        $("#txtCode").val('');
                        $("#txtCode").prop("disabled", false);
                        playfailed();
                        $("#txtCode").focus();
                        if (data.Message == "The limit has been exceeded.") {
                            window.location = '@Url.Action("Index", "Production")';
                        }
                        return false;
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                    playfailed();
                }
            });
        }

    });
    function printData(printData, masterBarcode) {
        debugger;
        // $('#codeDiv').print();
        //$("#codeDiv").printMe();
        //printJS({
        //    printable: 'codeDiv',
        //    type: 'html'
        //});
        //setTimeout(location.reload(), 6000);
        // $('#codeDiv').printElement();
        // $.when($('#codeDiv').print()).then(setTimeout($('#codeDiv').hide(), 8000));
        $.when($('#codeDiv').print()).then(setTimeout(UpdatedPrintedData(printData, masterBarcode), 1000));
        //$('#codeDiv').print();
        //$('#codeDiv').hide();
        $("#txtCode").val('');
        $("#lblMasterBarcode").empty();
        $("#MasterBarcode").val('');
        $("#divMasterBarcode").empty();
        $("#divMasterBarcode").append('<input type="button" id="btnMasterBarcode" class="btn btn-primary" onclick="GenerateMasterBarcode()" value="Generate Master Barcode" />');
        $("#txtCode").focus();
    }
    function UpdatedPrintedData(printData, masterBarcode) {

        debugger;
        $.ajax({
            url: '@Url.Action("UpdatePrintedBarcodes", "Production")',
            type: 'Post',
            data: JSON.stringify({
                printedList: printData,
                masterBarcode: masterBarcode
            }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (result) {

                if (result.IsSuccess) {
                    //setTimeout(location.reload(), 5000);
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    CountIssues();
                    //iziToast.success({
                    //    timeout: 2000,
                    //    imageWidth: 150,
                    //    position: 'center',
                    //    title: 'Success',
                    //    message: 'Setup Completed Successfully'
                    //});

                    @*setTimeout(function() {
                        window.location.href = "@Url.Action("LogOut", "Account")";
                    }, 1000);*@
                }

            },
            error: function (request) {
                alert(request.responseText);
            }

        });



    }

    function generatelabels(data) {
        debugger;
        //$('#codeDiv').empty();
        $('#tblAddedComponents tbody').empty();
        var count = 0;
        var row = 0;
        //var final = "";
        //var inner = "";
        $.each(data, function (index, itemData) {

            if (count == 0) {
                $('#tblAddedComponents tbody').append('<tr id="' + row + '"></tr>');
            }
            $('<td><span style="max-width: 100%;max-height: 100% font-size:3px;font-weight: bold" id="cd' + index + '"></span>&nbsp;</td>').appendTo('#' + row);

            $('#cd' + index).text(parseInt(parseInt(index) + 1) + ". " + itemData.Barcode);
            //$('#cd' + index).JsBarcode(itemData.barcode,
            //{
            //    width: 1,
            //    height: 8,
            //    fontSize: 10
            //});

            count++;
            if (count == 8) {
                count = 0;
                row++;
            }
        });

    }


    function Clear() {

        $("#txtCode").focus();
        $("#txtCode").val('');

    }
    $("#btnManual").on('click', function (e) {
        var masterBarcode = $("#MasterBarcode").val();
        if (masterBarcode == '') {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'warning!-',
                message: "Please generate master barcode",
                backgroundColor: '#E70F0F',
                theme: 'dark', // dark
                zindex: 999,
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#FDFEFE',
                messageSize: 15,

            });
            $("#txtCode").val('');
            $("#txtCode").prop("disabled", false);
            playfailed();
            $("#txtCode").focus();
            return false;
        }
        iziToast.show({
            theme: 'dark',
            icon: 'icon-person',
            timeout: 5000,
            title: 'Wait!!',
            imageWidth: 150,
            message: 'Are You Sure To Print The Label Manually ??? ',
            position: 'center',
            layout: 1,
            messageSize: 15,
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                ['<button>Ok</button>', function (instance, toast) {
                    iziToast.info({
                        title: 'wait !',
                        message: 'Printing Started!',
                        timeout: 1000,
                    });

                    // manual Printing

                    $.ajax({
                        url: '@Url.Action("GetDataForManualPrint", "Production")',
                        type: 'POST',
                        dataType: 'json',
                        async: false,
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.IsSuccess) {
                                if (data.BatchItems.length > 0) {
                                    CountIssues();
                                    $("#txtCode").val('');
                                    $("#txtCode").focus();
                                    //console.log(data.BatchItems);
                                    $('#cdLot').JsBarcode(data.LotNo,
                                      {
                                          width: 1,
                                          height: 15,
                                          fontSize: 12,
                                          fontOptions: "bold",
                                      });

                                    $('#cdMaster').JsBarcode(data.MasterBatch,
                                       {
                                           width: 1,
                                           height: 15,
                                           fontSize: 12,
                                           fontOptions: "bold",
                                       });

                                    $('#pModel').text('Model :' + data.BatchItems[0].Model);
                                    $.when(generatelabels(data.BatchItems)).then($('#codeDiv').show());
                                    //printData();
                                    printData(data.BatchItems,masterBarcode);
                                    //generatelabels(data.batchItems);

                                    $("#txtCode").val('');
                                    $("#txtCode").focus();
                                }

                                else {

                                    iziToast.error({
                                        timeout: 2000,
                                        imageWidth: 150,
                                        position: 'center',
                                        title: 'Alert',
                                        message: 'No Data Available to print'
                                    });

                                }
                            }

                            else if (result.Id == "0") {
                                window.location = '@Url.Action("LogOut", "Account")';

                            }

                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log('Error in Operation');
                        }
                    });

                    //manual Printing

                }, true], // true to focus
                ['<button>Close</button>', function (instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutUp',
                        onClosing: function (instance, toast, closedBy) {
                            console.info('closedBy: ' + closedBy); // The return will be: 'closedBy: buttonName'
                        }
                    }, toast, 'buttonName');
                }]
            ],
            onOpening: function (instance, toast) {
                console.info('callback abriu!');
            },
            onClosing: function (instance, toast, closedBy) {
                console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
            }
        });


    });


</script>
