﻿
@{
    ViewBag.Title = "ModelSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Hiding the checkbox, but allowing it to be focused */
    .badgebox {
        opacity: 0;
    }

        .badgebox + .badge {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgebox:focus + .badge {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */
            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgebox:checked + .badge {
            /* Move the check mark back when checked */
            text-indent: 0;
        }

   
  
</style>
<div class="content">
    <div class="row">
        
        <div class="card card-chart" style="text-align: center;">
            <div class="card-header card-header-rose">

            </div>
            <div class="card-body" style="text-align: center;">
                <div class="row" style="text-align: center;">



                    <div class="col-md-4">
                        <label for="chkNew" class="btn btn-primary" style="color: white; background-color: darkslategray; text-align: center">New Setup<input type="checkbox" name="chkCriteria" value="NS" id="chkNew" class="badgebox checkbox-template"><span class="badge">&check;</span></label>
                        @*<label class="checkbox-inline"><input type="checkbox" name="chkCriteria" class="checkbox-template" value="DT">&nbsp;Date And Serial</label>*@
                    </div>
                    &nbsp;&nbsp;


                    <div class="col-md-4">
                        <label for="chkUpdate" class="btn btn-primary" style="color: white; background-color: crimson; text-align: center">Update Data<input type="checkbox" name="chkCriteria" value="UP" id="chkUpdate" class="badgebox checkbox-template"><span class="badge">&check;</span></label>
                        @*<label class="checkbox-inline"><input type="checkbox" name="chkCriteria" class="checkbox-template" value="DT">&nbsp;Date And Serial</label>*@
                    </div>
                    
                    <div class="col-md-3">
                        <label for="chkReport" class="btn btn-primary" style="color: white; background-color: darkmagenta; text-align: center"> Report<input type="checkbox" name="chkReport" value="RP" id="chkReport" class="badgebox checkbox-template"><span class="badge">&check;</span></label>
                        @*<label class="checkbox-inline"><input type="checkbox" name="chkCriteria" class="checkbox-template" value="DT">&nbsp;Date And Serial</label>*@
                    </div>

                </div>
            </div>
        </div>
        
        
        
        

        <div class="col-md-12" id="divSetupPanel" style="display: none">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Model Setup</h5>
                </div>
                <div class="card-body">
                    <form>
                       
                        <div class="row">
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label> Model Name</label>
                                    @*<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">*@
                                    <select id="ddlModel" data-placeholder="Choose a Model" class="chosen-select form-control" tabindex="1"></select>
                                </div>

                            </div>
                           
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label> FG Code</label>
                                    @*<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">*@
                                    <select id="ddlFgCode" data-placeholder="Select FG Code" class="chosen-select form-control" tabindex="1"></select>
                                </div>

                            </div>
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label> SFG Code</label>
                                    @*<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">*@
                                    <select id="ddlSfgCode" data-placeholder="Select SFG Code" class="chosen-select form-control" tabindex="1"></select>
                                </div>

                            </div>
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <button type="button" id="btnSave" class="btn btn-primary btn-round">Save Setup</button>

                                </div>
                               
                            </div>
                            <div class="col-md-3 pr-1">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        
        
        
        <div class="col-md-12" id="divUpdatePanel" style="display: none">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Model Setup</h5>
                </div>
                <div class="card-body">
                    <form>

                        <div class="row">

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label> Model Name</label>
                                    @*<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">*@
                                    <select id="ddlModelWcts" data-placeholder="Choose a Model" class="chosen-select form-control" tabindex="1"></select>
                                </div>

                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label> FG Code</label>
                                    <input type="text" id="txtFgCode" class="form-control"  placeholder="" >
                                   
                                </div>

                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label> SFG Code</label>
                                    <input type="text" id="txtSFgCode" class="form-control"  placeholder="">
                                </div>

                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <button type="button" id="btnUpdate" class="btn btn-danger btn-round">Update Setup</button>

                                </div>

                            </div>
                            <div class="col-md-3 pr-1">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12" id="divReport" style="display:none ; overflow: auto">
            <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                <div class="card-close">

                </div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">All Models</h3>
                </div>
                <div class="card-body" style="">
                    <table id="datatableModel" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                        <thead style="font-size: 12px;">
                            <tr>
                                <th>Model Name</th>
                                <th>Model Code</th>
                                <th>FG Code</th>
                                <th>SFG Code</th>
                                <th>Added By</th>
                                <th>Added Date</th>
                                <th>Updated By</th>
                                <th>Updated Date</th>

                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>
@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>


<script> $(function() {
    LoadAllModels();
    LoadAllFGCode();
    LoadAllSFGCode();
});


$('input[type="checkbox"]').click(function() {
    debugger;
    $('input.checkbox-template').not(this).prop('checked', false);
    var inputValue = $(this).attr("value");
    if (inputValue == "NS") {

        $("#divSetupPanel").show();
        $("#divUpdatePanel").hide();
        $("#divReport").hide();
        
        
    }
    if (inputValue == "UP") {
        $("#divUpdatePanel").show();
        $("#divSetupPanel").hide();
        $("#divReport").hide();
        LoadAllModelsWcts();
       
    }
    if (inputValue == "RP") {
        $("#divUpdatePanel").hide();
        $("#divSetupPanel").hide();
        $("#divReport").show();
        GetModelsReport();

    }
    

});



function LoadAllModelsWcts() {

    var url = "@Url.Action("GetModels", "Common")";
    $.getJSON(url, function (json) {
        var elem = $("#ddlModelWcts");
        $("#ddlModelWcts").chosen("destroy");
        elem.empty();

        elem.append("<option value='0'> Please Select Any Model </option>");

        $.each(json, function (idx, obj) {

            elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
        });

        elem.chosen({ width: "100%", height: "10px" });

        //$(".chosen-select").chosen({ height: "10%" });

    });
}


       $("#ddlModelWcts").change(function() {
           var model = $("#ddlModelWcts option:selected").text();
           $.ajax({
               url: '@Url.Action("GetModelInformationByName", "Common")',
               type: 'Post',
               data: JSON.stringify({ model: model }),
               dataType: 'json',
               async: false,
               contentType: 'application/json',
               success: function (data) {
                   $("#txtSFgCode").val(data.SFGItemCode);
                   $("#txtFgCode").val(data.FGItemCode);
                      
               },
               error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
               }
           });
       
       });


    function LoadAllModels() {

        var url = "@Url.Action("GetModelsFromOracle", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlModel");
            $("#ddlModel").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Any Model </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }

    function LoadAllSFGCode() {

        var url = "@Url.Action("GetSfgcodeFromOracle", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlSfgCode");
            $("#ddlSfgCode").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select SFG Code </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
    
    function LoadAllFGCode() {

        var url = "@Url.Action("GetFgcodeFromOracle", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlFgCode");
            $("#ddlFgCode").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select FG Code </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }

    $("#btnSave").click(function() {
        var model = {};
        if ($('#ddlModel').val() == 0) {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select Model Name',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        
        if ($('#ddlFgCode').val() == 0) {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select FG Code !',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        else {
           

            model.ModelName = $("#ddlModel").val();
            model.ModelCode = $("#ddlModel").val();
            model.FGItemCode = $("#ddlFgCode").val();
            model.SFGItemCode = $("#ddlSfgCode").val();

            $.ajax({
                url: '@Url.Action("InsertModelName", "Production")',
                type: 'Post',
                data: JSON.stringify({
                    model: model
                }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function(result) {

                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Model Added Successfully'
                        });

                        setTimeout(function() {
                            window.location.href = "@Url.Action("ModelSetup", "Production")";
                        }, 1000);
                    }

                    else if (result.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    } else {
                        iziToast.warning({
                            timeout: 1500,
                            imageWidth: 30,
                            position: 'center',
                            message: result.Message,
                            title: 'warning! -',
                            backgroundColor: '#E22919',
                            theme: 'dark', // dark
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#F4F3F8',
                            messageSize: 15,

                        });
                        return false;
                    }
                   
                },
                error: function (request) {
                    alert(request.responseText);
                }

            });

        }

    });
    
    $("#btnUpdate").click(function() {
        var model = {};
        if ($('#ddlModelWcts').val() == 0) {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select Model Name',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        
        if ($('#txtFgCode').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Type FG Code !',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        else {
           

            model.ModelName = $("#ddlModelWcts option:selected").text();
            model.Id = $("#ddlModelWcts").val();
            model.FGItemCode = $("#txtFgCode").val();
            model.SFGItemCode = $("#txtSFgCode").val();
            

            $.ajax({
                url: '@Url.Action("UpdateModelInformation", "Production")',
                type: 'Post',
                data: JSON.stringify({
                    model: model
                }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function(result) {

                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: result.Message
                        });

                        setTimeout(function() {
                            window.location.href = "@Url.Action("ModelSetup", "Production")";
                        }, 3000);
                    }

                    else if (result.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    } else {
                        iziToast.warning({
                            timeout: 1500,
                            imageWidth: 30,
                            position: 'center',
                            message: result.Message,
                            title: 'warning! -',
                            backgroundColor: '#E22919',
                            theme: 'dark', // dark
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#F4F3F8',
                            messageSize: 15,

                        });
                        return false;
                    }
                   
                },
                error: function (request) {
                    alert(request.responseText);
                }

            });

        }

    });
    

    function GetModelsReport() {
        var buttonCommon = {

        };
        var table = $('#datatableModel').DataTable({
            "ajax": {
                "url": "@Url.Action("GetModelsReport", "Report")",
            "type": "GET",
            
            "datatype": "json"
        },
     "destroy": true,
     "columnDefs":
     [{
         "searchable": true,

            visible: false
    },

    
    ],

            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

            "pageLength": 20,

            "scrollY": "500px",
            "scrollX": true,
            "dom": 'Blfrtip',
            "buttons": [

                $.extend(true, {}, buttonCommon, {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                    title: 'Model Report',
                    footer: true,
                }),
            {
                extend: 'csvHtml5',
                text: '<i class="fa fa-files-o"></i> Csv',
                exportOptions: { orthogonal: 'export' },
                title: 'Model Report',
            },

                {

                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: 'Model Report',
                    messageTop: "Model Details Report</br> ",
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true,
                    autoPrint: true

                },

                'colvis'
            ],
            "columns": [


                
                 { "data": "ModelName", "autoWidth": false, "searchable": true },
                 { "data": "ModelCode", "autoWidth": false, "searchable": true },
                 { "data": "FGItemCode", "autoWidth": false, "searchable": true },
                 { "data": "SFGItemCode", "autoWidth": false, "searchable": true },
                 { "data": "AddedBy", "autoWidth": false, "searchable": true },

                {
                    "data": "AddedDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null ) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    }
                },
                 { "data": "UpdatedBy", "autoWidth": false, "searchable": true },

                {
                    "data": "UpdatedDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null ) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    }
                }


            ],
            

    });

    }
</script>

