﻿
@{
    ViewBag.Title = "ProductionSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
      
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Setup Compressor Production</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                           
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label for="txtDate">Select Production Date</label>

                                    <input id="txtDate" type="text" placeholder="Select production Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label for="ddlLine">Select Line</label>

                                    <select id="ddlLine" data-placeholder="Choose a Shift" class="chosen-select form-control" tabindex="1"></select>
                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label for="ddlShift">Select Shift</label>
                                    
                                    <select id="ddlShift" data-placeholder="Choose a Shift" class="chosen-select form-control" tabindex="1"></select>
                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Add Category</label>
                                    @*<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">*@
                                    <select id="ddlCategory" data-placeholder="Choose a Shift" class="chosen-select form-control" tabindex="1"></select>
                                </div>
                            </div>
                           
                           
                        </div>
                        <div class="row">
                          
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Add Model</label>
                                    @*<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">*@
                                    <select id="ddlModel" data-placeholder="Choose a Shift" class="chosen-select form-control" tabindex="1"></select>
                                </div>
                              
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Inventory Type</label>
                                    @*<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">*@
                                    <select id="ddlInventoryType" data-placeholder="Choose a Shift" class="chosen-select form-control" tabindex="1"></select>
                                </div>
                            </div>
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Assembly Line Lot</label>
                                    <input type="text" id="txtSerial" class="form-control" maxlength="4" placeholder="Type Assembly Lot">
                                   
                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Shift Target</label>
                                    <input type="text" id="txtTarget" class="form-control"  placeholder="Type Target">

                                </div>
                            </div>
                           
                        </div>
                       
                      
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="button" id="btnSave" class="btn btn-primary btn-round">Save Setup</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*<link href="~/Content/material-dashboard.css" rel="stylesheet" />*@
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script>

   // $(".chzn-select").chosen();
    

    $(function() {
        $("#txtDate").datepicker({ dateFormat: 'dd-mm-yy', minDate: '-2D', maxDate: 'Today', });
        LoadAllShifts();
        LoadAllLines();
        LoadAllCategories();
        LoadAllModels();
        LoadAllInventoryTypes();
       // LoadProdType();
    });

    function LoadAllShifts() {

        var url = "@Url.Action("GetShifts", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlShift");
            $("#ddlShift").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Any Shift </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
    

    //function LoadProdType() {
    //    var elem = $("#ddlprodType");
    //    $("#ddlprodType").chosen("destroy");
    //    elem.empty();
    //    //elem.append("<option value='0'>---Select---</option>");
    //    elem.append("<option value='FG'>Finished Good</option>");
    //    elem.append("<option value='SFG'>Semi Finished Good</option>");


    //    elem.chosen({ width: "100%", height: "10px" });
    //}


    function LoadAllLines() {

        var url = "@Url.Action("GetLines", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlLine");
            $("#ddlLine").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Line </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
    

    function LoadAllCategories() {

        var url = "@Url.Action("GetCategories", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlCategory");
            $("#ddlCategory").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Any Category </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
    
    function LoadAllModels() {

        var url = "@Url.Action("GetModels", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlModel");
            $("#ddlModel").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Any Model </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
    
    function LoadAllInventoryTypes() {

        var url = "@Url.Action("GetInventoryTypes", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlInventoryType");
            $("#ddlInventoryType").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Inventory Type</option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }


    $("#btnSave").click(function() {
      
        if ($('#txtDate').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select Production Date',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }


        if ($('#ddlLine').val() == 0) {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select Line',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });

            return false;

        }
        

        if ($('#ddlShift').val() == 0) {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select Shift',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        
        if ($('#ddlCategory').val() == 0) {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select Category',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        
        if ($('#ddlModel').val() == 0) {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select Model',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        
        if ($('#ddlInventoryType').val() == 0) {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select Inventory Type',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        
        if ($('#txtSerial').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please type Serial Number',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        
        if ($('#txtTarget').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Add Target For this setup',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }
        
        else {
            var gridateFrom = $("#txtDate").val().split('-');
            var date = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];

            var productionSetup = {};

            productionSetup.LineId = $("#ddlLine").val();
            productionSetup.LineName = $("#ddlLine option:selected").text();
            productionSetup.ShiftId = $("#ddlShift").val();
            productionSetup.ShiftName = $("#ddlShift option:selected").text();
            productionSetup.CategoryCode = $("#ddlCategory").val();
            productionSetup.CategoryName = $("#ddlCategory option:selected").text();
            productionSetup.ModelId = $("#ddlModel").val();
            productionSetup.ModelName = $("#ddlModel option:selected").text();
            productionSetup.InventoryTypeId = $("#ddlInventoryType").val();
            productionSetup.InventoryType = $("#ddlInventoryType option:selected").text();
            productionSetup.SerialNumber = $("#txtSerial").val();
            productionSetup.ProductionDate = date;
            productionSetup.target = $("#txtTarget").val();
            
            
            //console.log(productionSetup);
            //return false;
            $.ajax({
                url: '@Url.Action("InsertProductionSetup", "Production")',
                type: 'Post',
                data: JSON.stringify({
                    productionSetup: productionSetup
                }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function(result) {

                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Setup Completed Successfully'
                        });

                        setTimeout(function() {
                            window.location.href = "@Url.Action("Index", "Production")";
                        }, 2000);
                    }

                    else if (result.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    }
                   
                },
                error: function (request) {
                    alert(request.responseText);
                }

            });

        }

    });
</script>