﻿
@{
    ViewBag.Title = "QcReturnPrint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    
    <div class="row">
        
        <div class="col-lg-5">
           
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Setup Compressor Production</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Add Model</label>
                                    @*<input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">*@
                                    <select id="ddlModel" data-placeholder="Choose a Shift" class="chosen-select form-control" tabindex="1"></select>
                                </div>

                            </div>
                            @*<div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Model</label>
                                    <input type="text" id="txtModels" style="font-size: 12px;"  class="form-control" maxlength="13" placeholder="Type Model">

                                </div>
                            </div>*@
                            

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Master Barcode</label>
                                    <input type="text" id="txtMaster" style="font-size: 12px;" class="form-control" maxlength="13" placeholder="Master Barcode (13 digit)">

                                </div>
                            </div>

                            
                            

                        </div>
                        
                        
                        
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Lot Barcode</label>
                                    <input type="text" id="txtLot" style=" font-size:12px;" class="form-control" maxlength="13" placeholder="Lot Barcode(13 digit)">

                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">


                                    <textarea id="dataMulti" style="height: 200px;width: auto; font-size: 12px;" placeholder="Type Barcode"></textarea>

                                </div>
                            </div>

                        </div>
                        
                        
                        

                        <div class="row pull-right">
                            @*<div class="col-md-6 pr-1">
                <div class="form-group">


                    <textarea id="dataMulti" style="height: 500px;width: 300px; font-size: 14px;" placeholder="Type Barcode"></textarea>

                </div>
            </div>*@
                            <div class="col-md-3 pr-1pull-right ">
                                <div class="form-group">
                                    <button type="button" id="btnPrint" class="btn btn-primary btn-round float-right">Print</button>

                                </div>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="col-md-3 pr-1 pull-right">
                                <div class="form-group">
                                    <button type="button" id="btnClear" onclick="location.reload();" class=" btn btn-warning btn-round  float-right">Clear</button>

                                </div>
                            </div>

                        </div>


                      
                    </form>
                </div>
            </div>
            
        </div> 
        
        <div class="col-lg-7">
            <div id="McodeDiv" style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; width: 620px; background-color: white; height: 330px; border: 2px solid black; border-radius: 5px; padding-top: 0px; padding-bottom: 0px; margin-bottom: 0.5px; margin-top: 0.5px; margin-right:0.5px; margin-left: 30px; ">
                <div style="margin:0 auto; padding-bottom: 6px; text-align: center; font-family:Myriad Pro; margin-top:-1px;">

                    <p style="font-size: 21px;"><b>Walton Hi-Tech Industries Ltd.</b></p>
                    <p style="font-size: 15px; margin-top: -25px;">Kaliakoir, Gazipur, Bangladesh</p>
                    <img src='~/images/complogo.png' style="max-width: 90px; max-height: 70px; width: auto; height: auto; margin-left: 460px; margin-top: -90px;" alt="this attrib should be always present" />
                </div>
                <div class="row" style="margin-top:-15px">

                    <div style="width:175px;float: left;text-align: center;font-size: 10px;margin-top: -18px;margin-left: 10px;margin-right: 0px;">
                        <p style="font-family:arial;font-size:12px;font-weight:bold; text-align:left;letter-spacing:1px;  margin-left: 53px;">Lot Barcode</p>
                        <img id="McdLot" style="margin-top: -12px;" alt="" />
                    </div>

                    <div style="width:145px;float:left;font-size: 9px;margin-top: -18px;margin-left: 78px;">
                        <p id="MpModel" style="font-family: arial; font-size: 12px; font-weight: bold; text-align: left; letter-spacing: 1px;margin-left: 10px;"></p>
                        <p id="MdivKg" style="font-family: arial; font-size: 9px; font-weight: bold; margin-top: -12px; text-align: left; margin-left: 14px"> N.W (KG):8.10&plusmn;0.10/PCS</p>

                    </div>

                    <div style="float:left;font-size: 10px;margin-top: -18px;margin-left: 20px;">
                        <p style="font-family: arial; font-size: 12px; font-weight: bold; text-align: left; letter-spacing: 1px; margin-left: 70px;">Master Barcode</p>
                        <img id="McdMaster" style="margin-top: -12px; margin-left:30px" alt="" />

                    </div>

                </div>
                <table id="MtblAddedComponents" style="margin-left:15px;">
                    <tbody style="text-align: center;font-size: 7px;margin:0;padding:0;font-weight: bold "></tbody>
                </table>


                <div style="display: inline;"><img src="~/images/walton.png" style="margin-left: 420px;margin-top: -5px; width: 30px; height: 30px" alt="this attrib should be always present"></div>
                <div style="display: inline; font-size: 10px; font-weight: bold;">Made In Bangladesh</div>


                @*<div style="position: fixed; margin-top: 196px; margin-left:40px; ">
                <div style="display: inline;"><img src="~/images/walton.png" style="margin-left: 420px;margin-top: -5px; width: 30px; height: 30px" alt="this attrib should be always present"></div>
                <div style="display: inline; font-size: 10px; font-weight: bold;">Made In Bangladesh</div>
            </div>*@
            </div> 
            

        </div> 
    </div>

</div>
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jqueryprint/jquery.min.js"></script>
<script src="~/Scripts/jqueryprint/jQuery.print.min.js"></script>
<script src="~/Scripts/Barcode.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>

<script>
    

    $(function () {
       
        LoadAllModels();
       
    });
    function LoadAllModels() {

        var url = "@Url.Action("GetModels", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlModel");
            $("#ddlModel").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'>Select Model </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
    $("#btnPrint").click(function() {


        if ($("#ddlModel").val() ==0|| $("#ddlModel").val() =="") {
            iziToast.warning({
                timeout: 3000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Please Type Model Name'
            });
            return false;

        }

        else if ($("#txtMaster").val() == "") {
            iziToast.warning({
                timeout: 3000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Please Type Master Barcode'
            });
            return false;

        }

        else  if ($("#txtLot").val() == "") {
            iziToast.warning({
                timeout: 3000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Please Type Lot Barcode'
            });
            return false;

        }

        else if ($("#dataMulti").val() == "") {
            iziToast.warning({
                timeout: 3000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Please Type Barcode'
            });
            return false;

        }

        else {
            

         if ($("#txtMaster").val().length !=13) {
            iziToast.warning({
                timeout: 3000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Master Barcode Should Be 13 digit'
            });
            return false;

        }

         else if ($("#txtLot").val().length != 13) {
             iziToast.warning({
                 timeout: 3000,
                 imageWidth: 150,
                 position: 'center',
                 title: 'Warning',
                 message: 'Lot Barcode Should Be 13 digit'
             });
             return false;

         } else 
             {

             var multiData = [];
             var flag = true;
             $.each($('#dataMulti').val().split(/\n/), function (i, line) {
                 if (line) {
                    // alert(line.length);
                     if (line.length < 12 || line.length > 12) {
                         iziToast.warning({
                             timeout: 3000,
                             imageWidth: 150,
                             position: 'center',
                             title: 'Warning',
                             message: 'Barcode Should Be 12 digit'
                         });
                         flag = false;
                         return false;

                     } else {
                         multiData.push({

                             BarCode: line,
                             LotBarCode :$("#txtLot").val(),
                             MasterBarCode : $("#txtMaster").val(),
                             Model: $("#ddlModel option:selected").text()
                     });
                     }

                 }
             });
             
             if (multiData.length > 90 || multiData.length < 0) {

                 iziToast.warning({
                     timeout: 3000,
                     imageWidth: 150,
                     position: 'center',
                     title: 'Warning',
                     message: 'Max 90 ANd Min 1 Barcode Allowed'
                 });
                 return false;
             } else {

                 if (flag == true) {
                     

                     $.ajax({
                         url: '@Url.Action("InsertManualPrintDataLog", "QcPanel")',
                         type: 'Post',
                         data: JSON.stringify({
                             manualPrintLog: multiData
                         }),
                         dataType: 'json',
                         async: false,
                         contentType: 'application/json',
                         success: function(result) {

                             if (result.IsSuccess) {
                                 generateBarCode(multiData);
                             }

                             else if (result.Id == "0") {
                                 window.location = '@Url.Action("LogOut", "Account")';

                             } else {
                                 
                                 iziToast.error({
                                     timeout: 3000,
                                     imageWidth: 150,
                                     position: 'center',
                                     title: 'ERROR !',
                                     message: result.Message
                                 });
                             }
                   
                         },
                         error: function (request) {
                             alert(request.responseText);
                         }

                     });
                 }
                    
                 else {
                     //iziToast.warning({
                     //    timeout: 3000,
                     //    imageWidth: 150,
                     //    position: 'center',
                     //    title: 'Warning',
                     //    message: 'Barcode Should Be 12 digit'
                     //});

                     return false;
                 }

             }

             
             }
         

        }
    });

    function generateBarCode(multiData) {


        var lot = $("#txtLot").val();
        var master = $("#txtMaster").val();
        var model = $("#ddlModel option:selected").text();
        $('#McdLot').JsBarcode(lot,
            {
                width: 1,
                height: 15,
                fontSize: 12,
                fontOptions: "bold",
            });

        $('#McdMaster').JsBarcode(master,
            {
                width: 1,
                height: 15,
                fontSize: 12,
                fontOptions: "bold",
            });

        $('#MpModel').text('Model :' + model);
        

        $.when(Mgeneratelabels(multiData)).then($('#McodeDiv').show());
        //printData();
        MprintData(multiData);


    }
    function Mgeneratelabels(data) {
        debugger;
        //$('#codeDiv').empty();
        $('#MtblAddedComponents tbody').empty();
        var count = 0;
        var row = 0;
        //var final = "";
        //var inner = "";
        $.each(data, function (index, itemData) {

            if (count == 0) {
                $('#MtblAddedComponents tbody').append('<tr id="' + row + '"></tr>');
            }
            $('<td><span style="max-width: 100%;max-height: 100% font-size:3px;font-weight: bold" id="cd' + index + '"></span>&nbsp;</td>').appendTo('#' + row);

            $('#cd' + index).text(parseInt(parseInt(index) + 1) + ". " + itemData.BarCode);
            //$('#cd' + index).JsBarcode(itemData.barcode,
            //{
            //    width: 1,
            //    height: 8,
            //    fontSize: 10
            //});

            count++;
            if (count == 8) {
                count = 0;
                row++;
            }
        });

    }
    
    function MprintData(printData) {
        debugger;
      
        $('#McodeDiv').print();
        $('#MtblAddedComponents tbody').empty();
        $("#dataMulti").val('');
        $("#txtLot").val('');
        $("#txtMaster").val('');
        $("#MpModel").text('');
        

        ///
        
        
        var $image = $('#McdLot');
        $image.removeAttr('src').replaceWith($image.clone());
        var $image2 = $('#McdMaster');
        $image2.removeAttr('src').replaceWith($image2.clone());
    }   

</script>