﻿@{
    ViewBag.Title = "InventoryReady";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2 pr-1">
                &nbsp;
            </div>
            @*<div class="col-md-8">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-header card-header-rose">
                        Search report
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-1 pr-1">
                                &nbsp;
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtFromDate">From Date</label>
                                    <input id="txtFromDate" type="text" placeholder="From Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtToDate">To Date</label>

                                    <input id="txtToDate" type="text" placeholder="To Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>
                            <div class="col-md-2 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                            <div class="col-md-1 pr-1">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col-md-2 pr-1">
                &nbsp;
            </div>
        </div>

        <div class="row">


            @*For passedI Items*@

            @*For Pending Items*@
            <div class="col-lg-12" id="divAssemblyProductionDataPending" style="overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Ready Items To Push IN EBS </h3>
                    </div>
                    <div class="card-body" style="">
                        <table class="table table-responsive-lg header-fixed table-striped table-bordered table-condensed table-hover no-footer " style="overflow: auto" id="tblComponent">
                            <thead class="" style="background-color: #054C32; font-weight: normal; font-style: normal; color: white; font-size: 10px; ">
                                <tr>

                                    <th>Barcode</th>
                                    <th>Total</th>
                                    <th>Time Remains</th>
                                    <th>Hold</th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">Passed Inventory Items Item Hold</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-horizontal" style="margin-top: 30px;">
                    <div class="form-group row" id="divSingleCode">
                        <label class="col-sm-4 form-control-label">Master Barcode</label>
                        <div class="col-sm-8" id="">

                            <input id="txtMBCode" style="font-size:15px;" disabled="disabled" type="text" placeholder="" required="" class="form-control form-control-success">
                        </div>


                    </div>
                    <div class="form-group row" id="divSingleCode">
                        <label class="col-sm-4 form-control-label">Remarks</label>
                        <div class="col-sm-8" id="">

                            <input id="txtRemarks" style="font-size:15px; " type="text" placeholder="Remarks" required="" class="form-control form-control-success">
                        </div>


                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnholdItemSave">save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>






<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
@*<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
    <link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
*@
@*<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
    <script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
    <script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
    <script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
    <script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
    <script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
    <script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
    <script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
    <script src="~/Scripts/DatatablePrint/jszip.min.js"></script>*@
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>

<script src="~/Scripts/iziToast.min.js"></script>


<script>

    $(function () {

        $("#txtFromDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        setInterval(GetPassedItemFromInventoryWD, 80000);
        GetPassedItemFromInventoryWD();
    });
 

    $(document).on("click", "input[class=hold]", function (){
   
        var $row = $(this).closest("tr");   
        var $text = $row.find('td:eq(0)').text(); 
        $("#myModal").modal('show');
        $("#txtMBCode").val($text);

    });
    $(document).on("change", "input[class=hold]", function (){
        $('input.hold').not(this).prop('checked', false);

    });
    function GetPassedItemFromInventoryWD() {

        $.ajax({
            url: " @Url.Action("GetPassedItemFromInventoryWD", "Inventory")",
            type: 'Post',

            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.data.length > 0) {
                    debugger;
                   
                    $('#tblComponent tbody').empty();
                    $.each(data.data, function (index, itemData) {

                       
                        var row = "<tr class='active' style='font-size=5px;height:3px;'>" +
                            "<td style='height:5px;' class='text-center'>" + itemData.MasterBarCode + "</td>" +
                            "<td style='height:3px; class='text-center'>" + itemData.Total + "</td>" +
                            "<td style='height:3px; font-weight:bolder; color:red'; class='text-center'><span class='boos'> Remaining Times :</span> <span class='boo'>" + itemData.RemainTime + "</span> Miniutes </td>" +
                               "<td style='height:3px;' class='text-center'><input type='checkbox' class='hold' value=''></td>" +
                            "</tr>";


                        $('#tblComponent tbody').append(row);
                    });

                }
                else {

                    var row = "<tr class='active' style='font-size=5px;height:3px;'>" +
                            "<td style='height:5px;' class='text-center'></td>" +
                            "<td style='height:5px;color:red' class='text-center'>No Data Available</td>" +
                           "<td style='height:5px;' class='text-center'></td>" +
                            "<td style='height:5px;' class='text-center'></td>" +
                            "</tr>";

                    $('#tblComponent tbody').append(row);
                }
            },


            error: function (data, textStatus, jqXHR) {

            }


        });

    }




    $("#btnSearch").click(function () {
        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];

        $.ajax({
            url: " @Url.Action("GetPassedItemFromInventory", "Inventory")",
            type: 'Post',
            data: JSON.stringify({ fromdate: fromdate, todate: todate }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                //console.log(data);
                if (data.data.length > 0) {
                    debugger;
                    alert("Ok");
                    $('#tblComponent tbody').empty();
                    $.each(data.data, function(index, itemData) {


                        //new logic
                        //var aa;
                        //        var now = moment(); // new Date().getTime();
                        //        var then = moment().add(60 * parseInt(itemData.RemainTime), 'seconds'); // new Date(now + 60 * 1000);
                        //var au = countdown(then).toString();
                        var row = "<tr class='active' style='font-size=5px;height:3px;'>" +
                            "<td style='height:5px;' class='text-center'>" + itemData.MasterBarCode + "</td>" +
                            "<td style='height:3px; class='text-center'>" + itemData.Total + "</td>" +
                            "<td style='height:3px'; class='text-center'><span class='boos'></span> (<span class='boo'>" + itemData.RemainTime + "</span> )</td>" +
                            "<td style='height:3px;' class='text-center'><input type='checkbox' class='pass' value=''></td>" +
                            "</tr>";


                        $('#tblComponent tbody').append(row);
                    });

                } else {
                    
                    var row = "<tr class='active' style='font-size=5px;height:3px;'>" +
                            "<td style='height:5px;' class='text-center'>No Data Available</td>" +
                          
                            "</tr>";

                    $('#tblComponent tbody').append(row);
                }
            },


            error: function (data, textStatus, jqXHR) {

            }


        });
        //timerLoop();
    });


    $("#btnholdItemSave").click(function() {

        var passedInventoryHold = {};
        passedInventoryHold.MasterBarcode = $("#txtMBCode").val();
        passedInventoryHold.Remarks = $("#txtRemarks").val();

        $.ajax({
        url: " @Url.Action("HoldPassedInventoryItems", "Inventory")",
        type: 'Post',
        data: JSON.stringify({ passedInventoryHold: passedInventoryHold }),
        dataType: 'json',
        async: false,
        contentType: 'application/json',
        success: function (result) {
            if (result.IsSuccess) {
                iziToast.success({
                    timeout: 2000,
                    imageWidth: 150,
                    position: 'center',
                    title: 'Success',
                    message: 'Information Saved Successfully'
                });
                setTimeout(function() {
                    window.location.href = "@Url.Action("InventoryReady", "Inventory")";
                }, 2000);
                return true;

            } else if (result.Id == "0") {
                window.location = '@Url.Action("LogOut", "Account")';

            }


            else {
                iziToast.error({
                    timeout: 2000,
                    imageWidth: 150,
                    position: 'center',
                    title: 'Error',
                    message: result.Message
                });

            }
        },


        error: function (data, textStatus, jqXHR) {

        }


    });






    });
</script>