﻿
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-header card-header-rose">
                        Scan Master Barcode
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-8 pr-1">
                                <div class="form-group">
                                    <label for="txtCode">Type Master Barcode To Scan</label>

                                    <input id="txtCode" style="height: 50px; font-size: 25px;" type="text" placeholder="Scan Master Barcode" class="form-control form-control-success">
                                </div>
                            </div>
                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>
                                    <input type="button" id="btnClear" value="Clear" onclick="location.reload();" style="margin-top: 20px;" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div id="divtblData"  class="card card-chart" style="display: none; text-align: center; border: 1px solid #EA4642 !important;">
                    <div class="card-header card-header-danger card-header-rose" style="border: 1px solid #ea4642">
                        
                            <h3 class="h4">Total Count:<span id="batchCount" style="text-align: center;margin-left: 50px;"></span></h3>
                    </div>
                    <div class="card-body" style="height: 500px !important; overflow: auto; ">
                        <div class="form-group row" id="divBatchFailed">

                         
                            <input type="button" id="btnreceived" value="Clear" style="margin-top: 20px;" class="btn btn-primary">
                          


                        </div>

                        <table class="table table-responsive-lg  table-bordered" id="tblComponent" style="height: 200px !important; overflow: auto; ">
                            <thead class="" style="background-color: #054C32; font-weight: normal; font-style: normal; color: white; font-size: 10px !important;">
                                <tr>
                                    <th class="text-center">SN</th>
                                    <th class="text-center">Item Code</th>
                                    <th class="text-center">Model</th>
                                    <th class="text-center">Master Barcode</th>
                                    <th class="text-center">Lot Number</th>


                                </tr>
                            </thead>
                            <tbody style="font-size: 10px;"></tbody>
                        </table>
                    </div>

                </div>
            </div>
            
        </div>

    </div>
</div>


<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<script src="~/Scripts/jqueryprint/jquery.min.js"></script>
<script src="~/Scripts/jqueryprint/jQuery.print.min.js"></script>
<script src="~/Scripts/Barcode.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>

<script>
    //setInterval(MovePassedDataToPassedInventory(), 20000);
    $(function () {

        $("#txtCode").focus();
       // setInterval(MovePassedDataToPassedInventory(), 20000);
    });
    







    @*function MovePassedDataToPassedInventory() {

        $.ajax({
            url: " @Url.Action("InventoryPassedItemsMove", "Inventory")",
            type: 'GET',
            dataType: 'json',
            async: true,
            contentType: 'application/json',
            success: function (data) {

                setInterval(MovePassedDataToPassedInventory(), 20000);
            },
            error: function (data, textStatus, jqXHR) {

            }
        });
    }*@

    $("#txtCode").on('keydown', function (e) {

        debugger;
        if ($("#txtCode").val().length == 12) {

            GetMasterBarcodeData();
        }
    });


    function GetMasterBarcodeData() {

        $.ajax({
            url: " @Url.Action("GetMasterBarcodeData", "Inventory")",
            type: 'Post',
            data: JSON.stringify({ masterBarCode: $("#txtCode").val() }),
            dataType: 'json',
            async: true,
            contentType: 'application/json',
            success: function (data) {
                console.log(data);

                if (data.status == "0") {
                    iziToast.warning({

                        message: data.message,
                        timeout: 1000,
                        imageWidth: 100,
                        position: 'center',
                        title: 'Warning!- ',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });

                }

                if (data.status == "1") {

                    $('#divtblData').show();
                    $('#tblComponent tbody').empty();

                    var serial = 0;
                    $.each(data.data, function (index, itemData) {
                        serial += 1;

                        var row = "<tr class='active' style='font-size=10px;height:3px;'>" +
                            "<td style='height:3px;' class='text-center'>" + serial + "</td>" +
                            "<td style='height:3px;' class='text-center'>" + itemData.BarCode + "</td>" +
                            "<td style='height:3px;font-size=10px' class='text-center'>" + itemData.Model + "</td>" +
                            "<td style='height:3px;font-size=10px' class='text-center'>" + itemData.MasterBarCode + "</td>" +
                            "<td style='height:3px;font-size=10px' class='text-center'>" + itemData.LotNo + "</td>" +
                            "</tr>";
                        $('#tblComponent tbody').append(row);
                    });

                    $('#batchCount').text('(Total Items:' + (data.data).length + ')');
                    $('#txtCode').val('');
                    $("#txtCode").focus();

                }

            },
            error: function (data, textStatus, jqXHR) {

            }
        });
    }


    $("#btnreceived").click(function () {
        debugger;
        //alert("adadasd");
        InventoryReceived();


    });

    function InventoryReceived() {
        var inventoryList = [];

        $('#tblComponent tbody').find("tr").each(function (row, tr) {


            inventoryList.push({
                ItemCode: $(tr).find('td:eq(1)').text(),
                MasterBarCode: $(tr).find('td:eq(3)').text(),
                LotNo: $(tr).find('td:eq(4)').text(),

            });
        });

        if (inventoryList.length > 0) {

            $.ajax({
                url: ' @Url.Action("InventoryReceived", "Inventory")',
                type: 'Post',
                data: JSON.stringify({ inventoryList: inventoryList }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (result) {

                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Information Saved Successfully'
                        });
                        $('#tblComponent tbody').empty();
                        return true;

                    } else if (result.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    }


                    else {
                        iziToast.error({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Error',
                            message: result.Message
                        });

                    }

                },
                error: function (result, textStatus, jqXHR) {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: result.Message
                    });

                    //return false;
                }
            });


        }

    }

</script>