﻿
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Change Password</h5>
                </div>
                <div class="card-body">
                    <form>

                        <div class="row">
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Employee Id</label>
                                    <input type="text" id="txtEmployeeId" class="form-control"  placeholder="Type EmployeeId">

                                </div>
                              
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="text" id="txtOldPassword" class="form-control"  placeholder="Type Old Password">

                                </div>
                             
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="text" id="txtNewPassword" class="form-control"  placeholder="Type New Password">

                                </div>
                               
                            </div>
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                 <br/>
                                    <button type="button" id="btnUpdate" class="btn btn-primary btn-border">Update Password</button>

                                </div>
                               
                                   
                                  
                              
                              
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>

<script>

    $("#btnUpdate").click(function () {

        if ($('#txtEmployeeId').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please type Employee Id',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,
            });
            return false;
        }

        else if ($('#txtOldPassword').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please type Old Password',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,
            });
            return false;

        }
        else if ($('#txtNewPassword').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please type New Password',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,
            });
            return false;

        }


        else {
            var logindata = {};

            logindata.EmployeeId = $("#txtEmployeeId").val();
            logindata.OldPassword = $("#txtOldPassword").val();
            logindata.NewPassword = $("#txtNewPassword").val();
            console.log(logindata);
            $.ajax({
                url: '@Url.Action("ChangePasswordDetails", "Production")',
                type: 'Post',
                data: JSON.stringify({ login: logindata }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (result) {
                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: result.Message
                        });

                        setTimeout(function () {
                            window.location.href = "@Url.Action("LogOut", "Account")";
                        }, 1000);

                    }
                    else if (result.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    } else {

                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: result.Message
                        });
                        return false;
                    }

                },
                error: function (request) {
                    alert(request.responseText);
                }

            });


        }
    });

</script>