﻿
@{
    ViewBag.Title = "FinalInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .dataTables_scroll {
        overflow: auto;
    }


    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
     
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
      
        text-align: center;
        font-size: 10px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }
</style>

<div class="content">
    <div class="container-fluid">

        <div class="row">
            
            <div class="col-md-12">
                <div class="card card-chart" id="divAllHold" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-header card-header-rose">
                        Search report
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtFromDate">From Date</label>

                                    <input id="txtFromDate" type="text" placeholder="From Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtToDate">To Date</label>

                                    <input id="txtToDate" type="text" placeholder="To Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>
                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="row">

            @*For passedI Items*@
            <div class="col-lg-12" id="divAllHoldReport" style="display: none; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center" style="text-align: center;color: green">
                        <h3 class="h4">Final Inventory Report</h3>
                    </div>
                    <div class="card-body" style="">
                        <table id="datatableAllInventory" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                            <thead style="font-size: 10px;">
                                <tr>
                                    <th>BarCode</th>
                                    <th>Master BarCode</th>
                                    <th>Oracle Uploaded</th>
                                    <th>Added Date</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>


        </div>
        

    </div>
</div>
<div class="modal fade" id="popUpModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document" style="background-color: rgba(255, 255, 255, 0.9);">
        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.9);">

            <div class="modal-body" style="background-color: rgba(255, 255, 255, 0.9);">
                <div class="form-group row">
                    <div class="col-sm-12 offset-sm-4" id="img" onkeypress="">
                        <img src="~/images/Cube-1s-200px.gif" style="margin-left: 25px;width: 80px;height: 80px;" />


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>

<script>
    $(function () {
        $("#txtFromDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
    });

    $("#btnSearch").click(function () {

        $("#popUpModal").modal("show");
        setTimeout(function () {
            GetData();
        }, 2000);




    });
    

    function GetData() {
        
        $("#divAllHoldReport").show();

        var buttonCommon = {
            
        };
        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];
        
        //$("#divAssemblyProductionDataPending").show();
        /////////////////////////

        var tablePending = $('#datatableAllInventory').DataTable({
            "ajax": {
                "url": "@Url.Action("GetAllInventoryData", "Report")",
            "type": "GET",
            "data": function(d) {
                d.fromdate = fromdate;
                d.todate = todate;
            },
            "datatype": "json"
        },
            "destroy": true,
            "columnDefs":
        [{
            "searchable": true,

            visible: false
    },
    //{ "width": "50%", "targets": 0 }

    ],

        "pageLength": 50,

        "scrollY": "800px",
        "scrollX": true,
        "dom": 'Bfrtip',
        "buttons": [
            $.extend(true, {}, buttonCommon, {
                extend: 'excelHtml5',
                text: '<i class="fa fa-file-excel-o"></i> Excel',
                title: 'All Hold Report',
                footer: true,
            }),
            {
                extend: 'csvHtml5',
                text: '<i class="fa fa-files-o"></i> Csv',
                exportOptions: { orthogonal: 'export' },
                title: 'All Hold Report'
            },
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i> Print',
                title: 'All Hold Report ',
                messageTop: "All Hold Report </br> ",
                orientation: 'landscape',
                pageSize: 'LEGAL',
                exportOptions: {
                    columns: ':not(.no-print)'
                },
                footer: true,
                autoPrint: true
            },
            'colvis'
        ],
        "columns": [
            { "data": "BarCode", "autoWidth": false, "searchable": true },
            { "data": "MasterBarCode", "autoWidth": false, "searchable": true },
            { "data": "IsMovedToOracle", "autoWidth": false, "searchable": true },
            { "data": "DateTime", "autoWidth": false, "searchable": true },
           
        ],
    });
    setTimeout(function () {
        $("#popUpModal").modal("hide");
    }, 1000);

    }

</script>