﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

        $(function () {

           var fromdate = '@ViewBag.fromdate';
            var todate = '@ViewBag.todate';
            var model = '@ViewBag.model';
            var shift = '@ViewBag.shift';
            var category = '@ViewBag.category';
            GetDataLoader(fromdate, todate, model, shift, category);

        });

        function GetDataLoader(fromdate, todate, model, shift, category) {


            $.ajax({


                url: " @Url.Action("GetBaroceForAllProduction", "Report")", //?id=+ model,
                type: "Post",
                data: JSON.stringify({ fromdate: fromdate, todate: todate, model: model,shift:shift,category:category }),
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $.each(result, function (key, item) {
                        var row = "<tr style=display: table-row;vertical-align: inherit;border-color: inherit;>" +
                            "<td style=isplay: table-cell;vertical-align: inherit;>" + item.Barcode + "&nbsp;*DN</td>" +
                            "</tr>";
                        $('table tbody').append(row);
                    });

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        }



    </script>


</head>
<body cz-shortcut-listen="true">
    <div>
        <table cellpadding="3" cellspacing="3" class="reportTbl" border="0" align="center" style="float:left">
            <tbody></tbody>
        </table>
    </div>

</body>
</html>