﻿
@{
    ViewBag.Title = "LotTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    div.ui-datepicker {
        font-size: 12px;
    }

    .dataTables_scroll {
        overflow: auto;
    }



    table.dataTable thead tr {
        background-color: #9C27B0;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    .table > thead > tr > th {
        font-size: 12px;
        font-weight: 500;
        padding-bottom: 0;
        border: 1px solid #DEE2E6;
    }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }
</style>
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-2">

            </div>

            <div class="col-md-6">
                <div class="card card-chart" style="text-align: center; border: 1px solid #008080 !important">
                    <div class="card-header card-header-rose">
                        Search Report Using Lot Number
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="ddlLot">Lot Number</label>

                                    <select id="ddlLot" data-placeholder="Choose a Lot Number" class="chosen-select form-control" tabindex="1"></select>
                                </div>
                            </div>

                           
                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

            </div>

        </div>
        <div class="row">
            <div class="col-lg-12" id="divLotBarcodeData" style="display: none; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Production Report</h3>
                    </div>
                    <div class="card-body" style="">
                        <table id="datatableLotWiseReport" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                            <thead style="font-size: 12px;">
                                <tr>
                                    <th>Barcode</th>
                                    <th>Model</th>
                                    <th>Lot Number</th>
                                    <th>Categry</th>
                                    <th>Shift</th>
                                    <th>Weight(KG)</th>
                                    <th>Qc Status</th>
                                    <th>Production Date</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>
@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>


<script>
    $(function () {

        LoadAllLotNumber();
     
    });
    function LoadAllLotNumber() {

        var url = "@Url.Action("GetAllLotNumbers", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlLot");
            $("#ddlLot").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Lot Number </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
    

    $("#btnSearch").click(function () {


        GetLotWiseReport();


    });
    
    function getDateString(date) {
        var dateObj = new Date(parseInt(date.substr(6)));
        return dateObj.toDateString();
    }
    
    function GetLotWiseReport() {
        
        
        var buttonCommon = {

        };
        var code = $("#ddlLot").val();


     

        $("#divLotBarcodeData").show();
        /////////////////////////

        var table = $('#datatableLotWiseReport').DataTable({
            "ajax": {
                "url": "@Url.Action("GetLotWiseReport", "Report")",
            "type": "GET",
            "data": function (d) {
                d.lotNumber = code;
            },
            "datatype": "json"
        },
            "destroy": true,
            "columnDefs":
            [{
                "searchable": true,

            visible: false
    },

    //{ "width": "50%", "targets": 0 }

    { "width": "10%", "targets": 0 },
    { "width": "9%", "targets": 1 }
    ],

            "pageLength": 30,
            "scrollY": "800px",
            "scrollX": true,
            "dom": 'Blfrtip',
            "lengthMenu": [[50,100,200, -1], [50, 100,200, "All"]],
            "buttons": [

                $.extend(true, {}, buttonCommon, {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                    title: 'Barcode Details',
                    footer: true,
                }),
            {
                extend: 'csvHtml5',
                text: '<i class="fa fa-files-o"></i> Csv',
                exportOptions: { orthogonal: 'export' },
                title: 'Barcode Details'
            },

                {

                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: 'Barcode Details ',
                    messageTop: "Barcode Details</br> ",
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true,
                    autoPrint: true

                },

                'colvis'
            ],
            "columns": [
                 { "data": "BarCode", "autoWidth": false, "searchable": true },
                 { "data": "Model", "autoWidth": false, "searchable": true },
                 { "data": "LotNo", "autoWidth": false, "searchable": true },
                 { "data": "CategoryName", "autoWidth": false, "searchable": true },
                 { "data": "ShiftName", "autoWidth": false, "searchable": true },
                 { "data": "Weight", "autoWidth": false, "searchable": true },
                 { "data": "Status", "autoWidth": false, "searchable": true },
                 {
                     "data": "Date",
                     "type": "date ",
                     "render": function (value) {
                         if (value === null) return "";

                         var pattern = /Date\(([^)]+)\)/;
                         var results = pattern.exec(value);
                         var dt = new Date(parseFloat(results[1]));
                         return dt.getDate() + "/"+(dt.getMonth() + 1) + "/" + dt.getFullYear();
                     }
                 }



            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };




            }

    });
    $("#txtCode").val('');
    $("#txtCode").focus();

    }

</script>