﻿
@{
    ViewBag.Title = "ManualPrintLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    div.ui-datepicker {
        font-size: 12px;
    }

    .dataTables_scroll {
        overflow: auto;
    }



    table.dataTable thead tr {
        background-color: #9C27B0;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    .table > thead > tr > th {
        font-size: 12px;
        font-weight: 500;
        padding-bottom: 0;
        border: 1px solid #DEE2E6;
    }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }
</style>
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-2">

            </div>

            <div class="col-md-6">
                <div class="card card-chart" style="text-align: center; border: 1px solid #008080 !important">
                    <div class="card-header card-header-rose">
                        Search Report Using Master Barcode Number
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-8 pr-1">
                                <div class="form-group">
                                    <label for="txtMCode">Master Barcode Number</label>
                                    <input id="txtMCode" type="text" placeholder="Scan Master Barcode" class="form-control form-control-success">
                                    @*<select id="ddlLot" data-placeholder="Choose a Lot Number" class="chosen-select form-control" tabindex="1"></select>*@
                                </div>
                            </div>


                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

            </div>

        </div>
        <div class="row">
            <div class="col-lg-12" id="divManualPrintLogData" style="display: none; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Production Report</h3>
                    </div>
                    <div class="card-body" style="">
                        <table id="datatableManualPrintLogReport" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                            <thead style="font-size: 12px;">
                                <tr>
                                    <th>Model</th>
                                    <th>Lot Number</th>
                                    <th>Master Barcode</th>
                                    <th>BarCode</th>
                                    <th>Added By</th>
                                    <th>AddedDate</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>
@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>

<script>
    $(function () {

        //LoadAllLotNumber();
        $("#txtMCode").focus();
    });
   


    $("#btnSearch").click(function () {

        if ($("#txtMCode").val() == '') {
            iziToast.warning({

                message:"Please Type Master Barcode Number !",
                timeout: 1000,
                imageWidth: 100,
                position: 'center',
                title: 'Warning!- ',
                backgroundColor: '#E70F0F',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#FDFEFE',
                messageSize: 15,

            });
            return false;
        } else {
            GetManualPrintLogReport();
        }




    });


    $("#txtMCode").on('keydown', function (e) {


        if ($("#txtMCode").val().length == 13) {
            GetManualPrintLogReport();
            $("#txtMCode").val('');

            $("#txtMCode").focus();
        }
    });

    $("#txtMCode").keyup(function (event) {
        if (event.keyCode === 13) {
            

            if ($("#txtMCode").val().length == 13) {
                GetManualPrintLogReport();
                $("#txtMCode").val('');

                $("#txtMCode").focus();
            } else {
                
                iziToast.warning({

                    message: "MasterBarcode Should Be 13 Digit !",
                    timeout: 1000,
                    imageWidth: 100,
                    position: 'center',
                    title: 'Warning!- ',
                    backgroundColor: '#E70F0F',
                    theme: 'dark', // dark
                    progressBarColor: '#091B2B',
                    titleSize: 15,
                    messageColor: '#FDFEFE',
                    messageSize: 15,

                });
                return false;
            }

          //  GetManualPrintLogReport();
        }
    });


    function GetManualPrintLogReport() {


        var buttonCommon = {

        };
        var code = $("#txtMCode").val();




        $("#divManualPrintLogData").show();
        /////////////////////////

        var table = $('#datatableManualPrintLogReport').DataTable({
            "ajax": {
                "url": "@Url.Action("GetManualPrintLogReport", "Report")",
            "type": "GET",
            "data": function (d) {
                d.masterBarCode = code;
            },
            "datatype": "json"
        },
            "destroy": true,
            "columnDefs":
            [{
                "searchable": true,

            visible: false
    },

    //{ "width": "50%", "targets": 0 }

    //{ "width": "10%", "targets": 0 },
    //{ "width": "9%", "targets": 1 }
    ],

            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

            "pageLength": 50,

            "scrollY": "800px",
            "scrollX": true,
            "dom": 'Blfrtip',
            "buttons": [

                $.extend(true, {}, buttonCommon, {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                    title: 'Barcode Details',
                    footer: true,
                }),
            {
                extend: 'csvHtml5',
                text: '<i class="fa fa-files-o"></i> Csv',
                exportOptions: { orthogonal: 'export' },
                title: 'Barcode Details'
            },

                {

                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: 'Barcode Details ',
                    messageTop: "Barcode Details</br> ",
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true,
                    autoPrint: true

                },

                'colvis'
            ],
            "columns": [


                
                 { "data": "Model", "autoWidth": false, "searchable": true },
                 { "data": "LotBarCode", "autoWidth": false, "searchable": true },
                 { "data": "MasterBarCode", "autoWidth": false, "searchable": true },
                 { "data": "BarCode", "autoWidth": false, "searchable": true },
                 { "data": "AddedBy", "autoWidth": false, "searchable": true },

                {
                    "data": "AddeDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    }
                },




                 //{ "data": "AddeDate", "autoWidth": false, "searchable": true },
              



            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };




            }

        });
     $("#txtMCode").val('');

    $("#txtMCode").focus();

    }

</script>
