﻿@{
    ViewBag.Title = "AllProduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #myModal .modal-dialog {
        min-width: 100%;
    }

    div.ui-datepicker {
        font-size: 12px;
    }

    .dataTables_scroll {
        overflow: auto;
    }



    table.dataTable thead tr {
        background-color: #9C27B0;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #datatableProductionLineCountAll thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #datatableProductionLineCountAll thead tr th {
        text-align: center;
        background-color: darkslategray;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }


    /* Hiding the checkbox, but allowing it to be focused */
    .badgebox {
        opacity: 0;
    }

        .badgebox + .badge {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgebox:focus + .badge {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */
            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgebox:checked + .badge {
            /* Move the check mark back when checked */
            text-indent: 0;
        }
</style>

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-header card-header-rose">
                        Search report
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtFromDate">From Date</label>

                                    <input id="txtFromDate" type="text" placeholder="From Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtToDate">To Date</label>

                                    <input id="txtToDate" type="text" placeholder="To Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>
                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" id="divmainshift" style="">
                <div class="card card-chart" style="text-align: center; border: 1px solid #4169e1 !important;">
                    <div class="card-header card-header-rose">
                        Select Shift Type
                    </div>
                    <div class="card-body">
                        <div class="row" id="divShift" style="color: black;text-align: left">



                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" id="divmainGrade" style="">
                <div class="card card-chart" style="text-align: center; border: 1px solid #4169e1 !important;">
                    <div class="card-header card-header-rose">
                        Select Grade Type
                    </div>
                    <div class="card-body">
                        <div class="row" id="divGrade" style="color: black;text-align: left">



                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">

            @*For passedI Items*@
            <div class="col-lg-12" id="divAssemblyProductionData" style="display: ; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Masterbarcode Wise Production Report</h3>
                    </div>
                    <div class="card-body" style="">
                        <table id="datatableProductionLineCountAll" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                            <thead style="font-size: 12px;">
                                <tr>
                                    <th>MasterBarcode</th>
                                    <th>Model</th>
                                    <th>Shift</th>
                                    <th>Category</th>
                                    <th>Production Count</th>
                                    <th>Date</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>

<script>


    $(function() {
        GetAllIShiftList();
        GetAllICategory();
        $("#txtFromDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());

    });

    function GetAllIShiftList() {

        $.ajax({
            url: '  @Url.Action("GetShiftsDetails", "Common")',
            type: 'GET',
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.length == 0) {
                    $('#divShift').empty();
                    $('#divShift').append('<div class="statistic d-flex align-items-center bg-white has-shadow" ><div class="icon bg-green"><i class="fa fa-calendar-o"></i></div><div class="text"><small>No ongoing task available</small></div></div>');

                    return false;
                } else {

                    $('#divShift').empty();
                    $.each(data, function (index, itemData) {


                        $("#divShift").append('<div class="col-md-6" style="color: black"><form style="color: black"><label style="color: black" class="checkbox-inline"><input type="checkbox" name="chkShift" style="color: black" value="' + itemData.ShiftName + '">&nbsp;' + itemData.ShiftName + '</label></form></div>');
                    });

                }

            },
            error: function (result, textStatus, jqXHR) {
                //toastr.error(result.Message);
                // alert("Error");
                return false;
            }
        });
    }



    function GetAllICategory() {

        $.ajax({
            url: '  @Url.Action("GetCategories", "Common")',
            type: 'GET',
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {

                console.log(data);

                if (data.length == 0) {
                    $('#divGrade').empty();
                    $('#divGrade').append('<div class="statistic d-flex align-items-center bg-white has-shadow" ><div class="icon bg-green"><i class="fa fa-calendar-o"></i></div><div class="text"><small>No ongoing task available</small></div></div>');

                    return false;
                } else {

                    $('#divGrade').empty();
                    $.each(data, function (index, itemData) {


                        $("#divGrade").append('<div class="col-md-6" style="color: black"><form style="color: black"><label style="color: black" class="checkbox-inline"><input type="checkbox" name="chkCategory" style="color: black" value="' + itemData.Id + '">&nbsp;' + itemData.value + '</label></form></div>');
                    });

                }

            },
            error: function (result, textStatus, jqXHR) {
                //toastr.error(result.Message);
                // alert("Error");
                return false;
            }
        });
    }



    $("#btnSearch").click(function() {

        GetAllProductionReport();


    });

    var tables;
    function GetAllProductionReport() {

        var buttonCommon = {

        };
        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];


        var shifts = [];
        var category = [];
        $('input[name="chkShift"]:checked').each(function () {

            shifts.push(this.value);

        });
        $('input[name="chkCategory"]:checked').each(function () {

            category.push(this.value);

        });


        tables = $('#datatableProductionLineCountAll').DataTable({
            "ajax": {
                "url": "@Url.Action("GetAllMasterBarcodeWiseProductionReport", "Report")",
            "type": "GET",
            "data": function (d) {
                d.fromdate = fromdate;
                d.todate = todate;
                d.shifts = JSON.stringify(shifts);
                d.category = JSON.stringify(category);
            },
            "datatype": "json"
        },
   "destroy": true,
   "columnDefs":
        [{
            "searchable": true,

            visible: false
        },

                ////{ "width": "50%", "targets": 0 }

                //{ "width": "10%", "targets": 0 },
                //{ "width": "9%", "targets": 1 }
        ],
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

        "pageLength": 50,

        "scrollY": "800px",
        "scrollX": true,
        "dom": 'Blfrtip',
        "buttons": [

            $.extend(true, {}, buttonCommon, {
                extend: 'excelHtml5',
                text: '<i class="fa fa-file-excel-o"></i> Excel',
                title: 'Assembly Line Status',
                footer: true,
            }),
        {
            extend: 'csvHtml5',
            text: '<i class="fa fa-files-o"></i> Csv',
            exportOptions: { orthogonal: 'export' },
            title: 'Assembly Line Status'
        },

            {

                extend: 'print',
                text: '<i class="fa fa-print"></i> Print',
                title: 'Assembly Line Status ',
                messageTop: "Assembly Line Status </br> ",
                orientation: 'landscape',
                pageSize: 'LEGAL',
                exportOptions: {
                    columns: ':not(.no-print)'
                },
                footer: true,
                autoPrint: true

            },

            'colvis'
        ],
        "columns": [
            { "data": "MasterBarcode", "autoWidth": true, "searchable": true },
            { "data": "Model", "autoWidth": true, "searchable": true },
            { "data": "Shift", "autoWidth": true, "searchable": true },
            { "data": "CategoryCode", "autoWidth": true, "searchable": true },
            {
                "data": "Total", "autoWidth": true, "searchable": true, "render": function (data, row) {

                    return '<a id="link" href="#">' + data + '</a>';
                }
            },
            { "data": "AddedDate", "autoWidth": true, "searchable": true }


        ],

        footerCallback: function (tfoot, data, start, end, display) {
            var api = this.api();
            $(api.column(3).footer()).html(
                api.column(4).data().reduce(function (a, b) {
                    return a + b;
                }, 0)
            );
        }


        });


        $('#datatableProductionLineCountAll tbody').on('click', 'tr', function () {

            debugger;
            var tableData = tables.row(this).data();

            var model = tableData.Model;
            var shift = tableData.Shift;
            category = tableData.Category;
            loadDataLoader(model, shift, category);
        });
    }


    function loadDataLoader(model, shift, category) {
        var target = "@Url.Action("GetDataLoaderProductionALL", "Report")";
        var xmodel = model.replace(/\+/g, '%2B');
        var xshift = shift.replace(/\+/g, '%2B');
        var xcategory = category.replace(/\+/g, '%2B');

        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];

        window.open(target + '?fromdate=' + fromdate + '&todate=' + todate + '&model=' + xmodel + '&shift=' + xshift + '&category=' + xcategory);

    }
</script>