﻿
@{
    ViewBag.Title = "MultiBarcodeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /* Hiding the checkbox, but allowing it to be focused */
    .badgebox {
        opacity: 0;
    }

        .badgebox + .badge {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgebox:focus + .badge {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */
            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgebox:checked + .badge {
            /* Move the check mark back when checked */
            text-indent: 0;
        }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
        text-align: center;
        font-size: 12px;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }



    .dataTables_scrollHeadInner {
        width: 100% !important;
    }

        .dataTables_scrollHeadInner table {
            width: 100% !important;
        }
</style>


<div class="card card-chart" id="divMC" style="text-align: center;">
    <div class="card-header card-header-rose">
        Copy Multiple Barcode And Search
    </div>
    <div class="card-body">
        <div class="form-group">
            <textarea id="dataMulti" style="height: 100px; font-size: 15px;"></textarea>
        </div>

        <div class="col-md-12">

            <input type="button" id="btnSearchMulti" class="btn btn-primary" value="Search" />
            <input type="button" id="btnClear" class="btn btn-primary" onclick="location.reload();" value="Clear All" />

        </div>

    </div>
</div>

@*Multi Barcode Wise*@
<div class="col-md-8" id="divProdTMDataMUB" style="font-size: 13px;">
    <div class="card card-user">
        <div class="card-header">
            <h6 class="card-title" style="text-align: center; font-weight: bolder; color: red">Production Multi barcoed Wise</h6>
        </div>
        <div class="card-body" style="">
            <form>
                <div class="row">
                    
                    <div class="col-lg-12" id="divProdTMItemsMUB" style=" overflow: auto;font-size: 13px;">
                        <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important; font-size: 13px;">


                            <div class="card-body" id="container" style="font-weight: normal; font-size: 13px;">
                                <table id="datatableProdTMItemsDetailsMUB" class="table table-bordered display nowrap" cellspacing="1">
                                    @*class="table table-bordered display"*@

                                    <thead style="font-size: 12px !important;">
                                        <tr style="font-size: 11px !important;font-weight: normal">
                                            <th style="font-size: 11px !important;font-weight: normal !important;">Model</th>
                                            <th style="font-size: 11px !important;font-weight: normal !important;">Barcode</th>
                                            <th style="font-size: 11px !important;font-weight: normal !important;">Lot Number</th>
                                            <th style="font-size: 11px !important;font-weight: normal !important;">Master Barcode</th>
                                            <th style="font-size: 11px !important;font-weight: normal !important;">Production Date</th>
                                            <th style="font-size: 11px !important;font-weight: normal !important;">Scanned Date</th>

                                        </tr>
                                    </thead>
                                    <tbody class="tbody" style="color: black;font-size: 11px;"></tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
@*Multi Barcode Wise*@


<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<link href="~/Scripts/uitimepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Content/st.action-panel.css" rel="stylesheet" />
<script src="~/Scripts/jqueryprint/jquery.min.js"></script>
<script src="~/Scripts/jqueryprint/jQuery.print.min.js"></script>
<script src="~/Scripts/Barcode.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/st.action-panel.js"></script>
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/uitimepicker/jquery-ui-timepicker-addon.js"></script>

<script>

    var checkedItems = [];
    $(function () {
        $('.st-actionContainer').launchBtn({ openDuration: 500, closeDuration: 300 });
       $("#txtDate").datepicker({ dateFormat: 'dd-mm-yy', minDate: '-365D', maxDate: 'Today', });

       $("#txtDateFromTM").datetimepicker({ dateFormat: 'yy-mm-dd' }).datetimepicker("setDate", new Date());
        $("#txtDateToTM").datetimepicker({ dateFormat: 'yy-mm-dd' }).datetimepicker("setDate", new Date());

        $('input[type="checkbox"]').click(function () {
            debugger;
            $('input.checkbox-template').not(this).prop('checked', false);
            var inputValue = $(this).attr("value");
            if (inputValue == "LB") {
                $("#divLB").show();
                $("#txtCode").focus();
                $("#divMB").hide();
                $("#divDT").hide();
                $("#divLotMB").hide();
                $("#divBR").hide();
                $("#divProdTm").hide();
                $("#divProdTMData").hide();
                $("#divMC").hide();
                $("#divProdTMDataMUB").hide();
                $("#divSerialDateLot").hide();


            }
            if (inputValue == "MB") {

                $("#divMB").show();
                $("#txtMBCode").focus();
                $("#divDT").hide();
                $("#divLB").hide();
                $("#divLot").hide();
                $("#divBR").hide();
                $("#divProdTm").hide();
                $("#divProdTMData").hide();
                $("#divMC").hide();
                $("#divProdTMDataMUB").hide();
                $("#divSerialDateLot").hide();

            }
            if (inputValue == "DT") {
                $("#divLB").hide();
                $("#txtMBCode").focus();
                $("#divMB").hide();
                $("#divDT").show();
                $("#divBR").hide();
                $("#divProdTm").hide();
                $("#divProdTMData").hide();
                $("#divMC").hide();

            }


            if (inputValue == "BR") {
                $("#divLB").hide();
                $("#divSerialDateLot").hide();
                $("#divMB").hide();
                $("#divDT").hide();
                $("#divBR").show();
                $("#divProdTm").hide();
                $("#txtBRCode").focus();
                $("#divMC").hide();
                $("#divProdTMData").hide();
                $("#divProdTMDataMUB").hide();
                $("#divProdTMDataMUB").hide();
            }

            if (inputValue == "MC") {
                $("#divLB").hide();
                $("#divBR").hide();
                $("#divMB").hide();
                $("#divDT").hide();
                $("#divMC").show();
                $("#divProdTm").hide();
                $("#dataMulti").focus();
                $("#divProdTMData").hide();
                $("#divProdTMDataMUB").hide();
                //$("#divProdTMDataMUB").hide();

            }



            if (inputValue == "TM") {
                $("#divLB").hide();
               // $("#txtMBCode").focus();
                $("#divMB").hide();
                $("#divDT").hide();
                $("#divBR").hide();
                $("#divMC").hide();
                $("#divProdTm").show();
            }



        });
    });

    //For Master Barcode

    $("#txtMBCode").on('keydown', function (e) {

        debugger;
        if ($("#txtMBCode").val().length == 13) {
            var code = $("#txtMBCode").val();
            $.ajax({
                url: '@Url.Action("GetLotBarcodeInformationByMasterBarcode", "QcPanel")',
                type: 'Post',
                data: JSON.stringify({ barcode: code }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {


                    if (data.Passed == "True") {

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: 'Already Checked At Qc',
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                        $("#txtCode").val('');
                        $("#txtCode").focus();
                        return false;

                    }

                    if (data.Status != "0") {
                        $("#divLotMB").show();
                        $("#hidLotBarcode").val(data.LotNo);
                        $("#hidsetupId").val(data.ProjectSetupId);

                        $("#taMBLotCode").val(data.LotNo);

                        $("#taMBmasterBCode").val(data.MasterBarCode);
                        $("#taMBModel").val(data.Model);
                        $("#taMBShift").val(data.ShiftName);
                        $("#taMBCategory").val(data.CategoryName);
                        $("#taMBDate").val(data.DateTime);
                        $("#taMBTotal").val(data.Total);
                        $("#taMBSerial").val(data.Serial);

                        $("#taStatus").val(data.Status);

                        $("#txtMBCode").val('');
                        $("#txtMBCode").focus();

                        checkedItems.push({
                            Model: data.Model,
                            LotBarcode: data.LotNo,
                            ProjectSetupId: data.ProjectSetupId,
                        });



                    } else {

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: data.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,

                        });
                        $("#divLot").hide();
                        $("#txtMBCode").val('');

                        $("#txtMBCode").focus();

                        return false;

                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        }

    });

    ////Master Barcode Wise Search
  //*********************************//

    ////Only Barcode Wise Search


    $("#txtBRCode").on('keydown', function (e) {

        debugger;
        if ($("#txtBRCode").val().length == 12) {
            var code = $("#txtBRCode").val();
            $.ajax({
                url: '@Url.Action("GetLotBarcodeInformationByBarcode", "QcPanel")',
                type: 'Post',
                data: JSON.stringify({ barcode: code }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {

                    if (data.Status == "Hold") {

                        iziToast.warning({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: 'Already Hold At Qc .Please View Hold Items',
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                        $("#txtBRCode").val('');
                        $("#txtBRCode").focus();
                        return false;

                    }


                    if (data.Status == "Passed") {

                        iziToast.warning({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: 'Already Passed By Qc',
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                        $("#txtBRCode").val('');
                        $("#txtBRCode").focus();
                        return false;

                    }



                    if (data.Status != "0") {
                        $("#divLotBR").show();
                        $("#divSerialDateLot").hide();
                        $("#hidLotBarcode").val(data.LotNo);
                        $("#hidsetupId").val(data.ProjectSetupId);

                        $("#taBRLotCode").val(data.LotNo);

                        $("#taBRmasterBCode").val(data.MasterBarCode);
                        $("#taBRModel").val(data.Model);
                        $("#taBRShift").val(data.ShiftName);
                        $("#taBRCategory").val(data.CategoryName);
                        $("#taBRDate").val(data.DateTime);
                        $("#taBRTotal").val(data.Total);
                        $("#taBRSerial").val(data.Serial);
                        $("#taBRBCode").val(code);

                        $("#taStatus").val(data.Status);

                        $("#txtBRCode").val('');
                        $("#txtBRCode").focus();

                        checkedItems.push({
                            Model: data.Model,
                            LotBarcode: data.LotNo,
                            ProjectSetupId: data.ProjectSetupId,
                        });



                    } else {

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: data.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,

                        });
                        $("#txtBRCode").val('');
                        $("#txtBRCode").focus();
                        //$("#divLot").hide();
                        return false;

                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        }

    });



    ////Only Barcode Wise Search



    //*********************************//
    ////Only Lot Barcode Wise Search
    $("#txtCode").on('keydown', function (e) {

        debugger;
        if ($("#txtCode").val().length == 13) {
            var code = $("#txtCode").val();
            $.ajax({
                url: '@Url.Action("GetLotBarcodeInformation", "QcPanel")',
                type: 'Post',
                data: JSON.stringify({ barcode: code }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {


                    if (data.Status == "Passed") {

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: 'Already Checked At Qc',
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                        $("#txtCode").val('');
                        $("#txtCode").focus();
                        return false;

                    }
                    if (data.Status == "Hold") {

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: 'Already Holded At Qc Please Check At Hold Items',
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                        $("#txtCode").val('');
                        $("#txtCode").focus();
                        return false;

                    }

                    if (data.Status != "0") {
                        $("#divLot").show();
                        $("#hidLotBarcode").val(data.LotNo);
                        $("#hidsetupId").val(data.ProjectSetupId);

                        $("#taLotCode").val(data.LotNo);
                        $("#taModel").val(data.Model);
                        $("#taShift").val(data.ShiftName);
                        $("#taCategory").val(data.CategoryName);
                        $("#taDate").val(data.DateTime);
                        $("#taTotal").val(data.Total);
                        $("#taSerial").val(data.Serial);
                        $("#taStatus").val(data.Status);
                        $("#txtCode").val('');
                        $("#txtCode").focus();
                        checkedItems.push({
                            Model: data.Model,
                            LotBarcode: data.LotNo,
                            ProjectSetupId: data.ProjectSetupId,
                        });



                    } else {

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: data.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,

                        });
                        $("#txtCode").val('');
                        $("#divLot").hide();
                        $("#txtCode").focus();
                        return false;

                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        }

    });

    //Production Time Wise Search  Booya

    $("#btnProdTMSearch").click(function() {

        var gridateFrom = $("#txtDateFromTM").val();

        var gridateTo = $("#txtDateToTM").val();

        GetProductionTimeWiseData(gridateFrom, gridateTo);
        console.log(gridateFrom + "   " + gridateTo);

    });

    //Need
    $("#btnSearchMulti").click(function () {

        if ($("#btnSearchMulti").val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Input Barcode',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;

        } else {

            GetMultiBarcodeDataForQc();
        }

    });








    //Production Time Wise Search

    ///Production Search Data Booya

    var table;
    function GetProductionTimeWiseData(gridateFrom, gridateTo) {

        $("#divProdTMData").show();
        debugger;
        var buttonCommon = {

        };
        table = $('#datatableProdTMItemsDetails').DataTable({
            "ajax": {
                "url": "@Url.Action("GetProductionTimeWiseData", "QcPanel")",
            "type": "GET",
            "data": function (d) {
                d.fromdate = gridateFrom;
                d.todate = gridateTo;
            },
            "datatype": "json"
        },
           "destroy": true,
           "columnDefs":
        [{
            "searchable": true,

            visible: false
        },
                { "width": "10%", "targets": 0 },
                { "width": "9%", "targets": 1 }
        ],
   "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
   "pageLength": 50,
   "scrollY": "600px",
   "scrollX": true,

   "dom": 'Blfrtip',
   "sScrollY": (0.6 * $(window).height()),
   "bPaginate": true,
   "bJQueryUI": true,
   "bScrollCollapse": true,
   "bAutoWidth": true,
   "sScrollXInner": "100%",

   "buttons": [

$.extend(true, {}, buttonCommon, {
    extend: 'excelHtml5',
    text: '<i class="fa fa-file-excel-o"></i> Excel',
    title: 'Assembly Line Status',
    footer: true,
}),
{
    extend: 'csvHtml5',
    text: '<i class="fa fa-files-o"></i> Csv',
    exportOptions: { orthogonal: 'export' },
    title: 'Assembly Line Status'
},

{

    extend: 'print',
    text: '<i class="fa fa-print"></i> Print',
    title: 'Assembly Line Status ',
    messageTop: "Assembly Line Status </br> ",
    orientation: 'landscape',
    pageSize: 'LEGAL',
    exportOptions: {
        columns: ':not(.no-print)'
    },
    footer: true,
    autoPrint: true

},


'colvis'
   ],
   "columns": [

       {
           "data": "",
           "render": function (data, type, row) {
               return '<input type="checkbox" name="true" id="true">';
           }
       },
       {
           "data": "",
           "render": function (data, type, row) {
               return '<input type="checkbox" name="false" id="false">';
           }
       },
       { "data": "Model", "autoWidth": true, "searchable": true },
        { "data": "BarCode", "autoWidth": true, "searchable": true },
       { "data": "LotNo", "autoWidth": true, "searchable": true },
       { "data": "MasterBarCode", "autoWidth": true, "searchable": true },
       //{ "data": "LotTrackingSerial", "autoWidth": true, "searchable": true },
       {
           "data": "ProductionDate",
           "type": "date ",
           "render": function (value) {
               if (value === null) return "";

               var pattern = /Date\(([^)]+)\)/;
               var results = pattern.exec(value);
               var dt = new Date(parseFloat(results[1]));

               return dt.getDate() + "/"+(dt.getMonth() + 1) + "/" + dt.getFullYear();
           }
       },
       {
           "data": "ScannedDate",
           "type": "date ",
           "render": function (value) {
               if (value === null) return "";

               var pattern = /Date\(([^)]+)\)/;
               var results = pattern.exec(value);
               var dt = new Date(parseFloat(results[1]));

               return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes();
           }
       }



   ],

   });
    //table.clear().draw();
    //$('#container').css('display', 'block');
    //table.columns.adjust().draw();
    $('input[name="select-all-pass"]').click(function () {

        if ($(this).prop('checked') == true) {
            $('input[name="select-all-reject"]').prop('checked', false);
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var $tr = this.nodes().to$();
                $tr.find('input[name="true"]').prop('checked', true);
                $tr.find('input[name="false"]').prop('checked', false);
                $tr.find('input[name="select-all-false"]').prop('checked', false);
            });
        }

        if ($(this).prop('checked') == false) {
            $('input[name="select-all-reject"]').prop('checked', false);
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var $tr = this.nodes().to$();
                $tr.find('input[name="true"]').prop('checked', false);
                $tr.find('input[name="false"]').prop('checked', false);
                $tr.find('input[name="select-all-reject"]').prop('checked', false);
            });
        }


    });

    $('input[name="select-all-reject"]').click(function () {

        if ($(this).prop('checked') == true) {
            $('input[name="select-all-pass"]').prop('checked', false);
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var $tr = this.nodes().to$();
                $tr.find('input[name="true"]').prop('checked', false);
                $tr.find('input[name="false"]').prop('checked', true);
                $tr.find('input[name="select-all-pass"]').prop('checked', false);
            });
        }

        if ($(this).prop('checked') == false) {
            $('input[name="select-all-pass"]').prop('checked', false);
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var $tr = this.nodes().to$();
                $tr.find('input[name="true"]').prop('checked', false);
                $tr.find('input[name="false"]').prop('checked', false);
                $tr.find('input[name="select-all-reject"]').prop('checked', false);
            });
        }


    });

    $(document).on('click', 'input[name=true]', function () {


        if ($(this).prop('checked') == true) {

            $(this).prop('checked', true);
            $(this).closest('#datatableProdTMItemsDetails tr').find('input[name=false]').prop('checked', false);
        }
        if ($(this).prop('checked') == false) {

            $(this).prop('checked', false);
            $(this).closest('#datatableProdTMItemsDetails tr').find('input[name=false]').prop('checked', false);
        }


    });


    $(document).on('click', 'input[name=false]', function () {


        if ($(this).prop('checked') == true) {

            $(this).prop('checked', true);
            $(this).closest('#datatableProdTMItemsDetails tr').find('input[name=true]').prop('checked', false);
        }
        if ($(this).prop('checked') == false) {

            $(this).prop('checked', false);
            $(this).closest('#datatableProdTMItemsDetails tr').find('input[name=true]').prop('checked', false);
        }


    });


    //setTimeout( $('#mdHoldDetailsModal').modal('show'),10000);


    setTimeout(function () {
        table.fnAdjustColumnSizing();
    }, 10);
    }

    ///Production Search Data





    $("#btnDTSearch").click(function () {



        if ($('#txtDate').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Select  Date',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });
            return false;
        }

        if ($('#txtSerial').val() == "") {
            iziToast.warning({
                timeout: 1500,
                imageWidth: 30,
                position: 'center',
                message: ' Please Type  Lot Serial',
                title: 'warning! -',
                backgroundColor: '#E22919',
                theme: 'dark', // dark
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#F4F3F8',
                messageSize: 15,

            });

            return false;

        } else {
            var gridateFrom = $("#txtDate").val().split('-');
            var date = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
            var serial = $('#txtSerial').val();
            $.ajax({
                url: '@Url.Action("GetLotBarcodeInformationByDateAndSerial", "QcPanel")',
                type: 'Post',
                data: JSON.stringify({ date: date,serial:serial }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {

                    console.log(data);

                    if (data.length > 0) {
                        $("#divLot").hide();
                        $("#divSerialDateLot").show();

                        $('#tblLotBarCodeDetails tbody').empty();

                        var color = '';
                        $.each(data, function (index, itemData) {


                            if (itemData.Status.toLowerCase() =="pending") {
                                color = 'red';
                            } else {

                                color = 'green';
                            }
                            //var pattern = /Date\(([^)]+)\)/;
                            //var results = pattern.exec(itemData.DateTime);
                            //var dt = new Date(parseFloat(results[1]));
                            //var finaldate= dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();


                            var d = itemData.DateTime;

                            var m = d.match(/\/Date\((\d+)\)\//);
                            var f= m ? (new Date(+m[1])).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) : d;




                            var row = "<tr class='active' style='font-size=12px;height:3px;'>" +
                                "<td style='height:3px;' class='text-center'><input type='checkbox' name='chkpass' class='pass' value=''></td>" +
                                "<td style='height:3px;' class='text-center'>" + itemData.LotNo + "</td>" +
                                "<td style='height:3px;font-size=12px' class='text-center'>" + itemData.Model + "</td>" +
                                "<td style='height:3px;font-size=12px' class='text-center'>" + itemData.Total + "</td>" +
                                "<td style='height:3px;font-size=12px' class='text-center'>" + itemData.Serial + "</td>" +
                                "<td style='height:3px;font-size=12px' class='text-center'>" + itemData.ShiftName + "</td>" +
                                "<td style='height:3px;font-size=12px' class='text-center'>" + itemData.CategoryName + "</td>" +
                                "<td bgcolor=" + color + " style='height:3px;font-size=12px' class='text-center'>" + itemData.Status + "</td>" +
                                "<td  style='height:3px;font-size=12px; class='text-center'>" + f + "</td>" +
                                "<td style='height:3px;width:250px;' class='text-center'><input type='text' name='taRemarks' style='width:250px;font-size:12px;' class='form-control' /></td>" +
                                "</tr>";
                            $('#tblLotBarCodeDetails tbody').append(row);
                        });


                    }

                    else
                    {
                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: 'No Data Found',
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,

                        });
                        $("#txtCode").val('');
                        $("#divLot").hide();
                        $("#txtCode").focus();
                        return false;

                    }


                    //if (data.Passed == "True") {

                    //    iziToast.warning({
                    //        timeout: 1000,
                    //        imageWidth: 150,
                    //        position: 'center',
                    //        title: 'warning!-',
                    //        message: 'Already Checked At Qc',
                    //        backgroundColor: '#E70F0F',
                    //        theme: 'dark', // dark
                    //        zindex: 999,
                    //        progressBarColor: '#091B2B',
                    //        titleSize: 15,
                    //        messageColor: '#FDFEFE',
                    //        messageSize: 15,
                    //    });
                    //    $("#txtCode").val('');
                    //    $("#txtCode").focus();
                    //    return false;

                    //}

                    //if (data.LotNo != null) {
                    //    $("#divLot").show();
                    //    $("#hidLotBarcode").val(data.LotNo);
                    //    $("#hidsetupId").val(data.ProjectSetupId);

                    //    $("#taLotCode").val(data.LotNo);
                    //    $("#taModel").val(data.Model);
                    //    $("#taShift").val(data.ShiftName);
                    //    $("#taCategory").val(data.CategoryName);
                    //    $("#taDate").val(data.DateTime);
                    //    $("#taTotal").val(data.Total);
                    //    $("#taSerial").val(data.Serial);
                    //    $("#taStatus").val(data.Status);
                    //    $('#txtSerial').val('');
                    //    $('#txtDate').val('');
                    //    $("#txtCode").val('');
                    //    $("#txtCode").focus();
                    //    checkedItems.push({
                    //        Model: data.Model,
                    //        LotBarcode: data.LotNo,
                    //        ProjectSetupId: data.ProjectSetupId,
                    //    });



                    //} else {

                    //    iziToast.warning({
                    //        timeout: 1000,
                    //        imageWidth: 150,
                    //        position: 'center',
                    //        title: 'warning!-',
                    //        message: 'No Data Found',
                    //        backgroundColor: '#E70F0F',
                    //        theme: 'dark', // dark
                    //        zindex: 999,
                    //        progressBarColor: '#091B2B',
                    //        titleSize: 15,
                    //        messageColor: '#FDFEFE',
                    //        messageSize: 15,

                    //    });
                    //    $("#txtCode").val('');
                    //    $("#divLot").hide();
                    //    $("#txtCode").focus();
                    //    return false;

                    //}
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });

        }
    });


    //********************All Pass Function********************//

    //********************For Date AND Serial Wise Hold********************//

    //********************For Date AND Serial Wise Hold********************//
    $("#btnSerialDateHold").click(function () {

        var chekIssueA = $('input[name="chkpass"]:checked').length;

        if (!chekIssueA) {

            iziToast.error({
                timeout: 2000,
                imageWidth: 150,
                position: 'center',
                title: 'Error',
                message: "Please  Check Any Item To Hold Entry !"
            });

            return false;

        } else {

            iziToast.show({
                theme: 'dark',
                icon: 'icon-person',
                timeout: 6000,
                title: 'Wait!!',
                imageWidth: 150,
                message: 'Are You Sure To Hold This Lot ??? ',
                position: 'center',
                layout: 1,
                messageSize: 15,
                progressBarColor: 'rgb(0, 255, 184)',
                buttons: [
                    ['<button>Ok</button>', function (instance, toast) {

                        var holdData = [];
                        $('#tblLotBarCodeDetails  tbody').find("tr").each(function (row, tr) {

                            if ($(this).closest("tr").find('input[name=chkpass]').prop("checked") == true) {

                                holdData.push({
                                    LotBarcode: $(tr).find('td:eq(1)').text(),
                                    Model: $(tr).find('td:eq(2)').text(),
                                    Remarks: $(tr).find('input[name="taRemarks"]').val(),
                                });
                            }

                        });


                        //console.log(passedData);
                        if (holdData.length > 0) {

                            HoldDateAndSerialWiseData(holdData);
                            //InsertProductionPassedItems(holdData);


                        }


                       // HoldLotItems();

                    }, true],
                    ['<button>Close</button>', function (instance, toast) {
                        instance.hide({
                            transitionOut: 'fadeOutUp',
                            onClosing: function (instance, toast, closedBy) {
                                console.info('closedBy: ' + closedBy);
                            }
                        }, toast, 'buttonName');

                    }]
                ],
                onOpening: function (instance, toast) {
                    console.info('callback abriu!');
                },
                onClosing: function (instance, toast, closedBy) {
                    console.info('closedBy: ' + closedBy);
                }
            });






        }


    });


    function HoldDateAndSerialWiseData(datas) {


        $.ajax({
            url: '@Url.Action("HoldDateAndSerialWiseData", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({ qcItemses: datas }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 3000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: data.Message
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 2000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }


                else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: data.Message,
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });


    }



    //********************For Date AND Serial Wise Hold********************//

    //********************For Date AND Serial Wise Hold********************//




    //********************For Date AND Serial Wise Pass********************//

    //********************For Date AND Serial Wise Pass********************//


    $("#btnSerialDatePass").click(function () {

        var chekIssueA = $('input[name="chkpass"]:checked').length;

        if (!chekIssueA) {

            iziToast.error({
                timeout: 2000,
                imageWidth: 150,
                position: 'center',
                title: 'Error',
                message: "Please  Check Any Item To Pass Entry !"
            });

            return false;

        } else {

            var passedData = [];
                $('#tblLotBarCodeDetails  tbody').find("tr").each(function (row, tr) {

                    if ($(this).closest("tr").find('input[name=chkpass]').prop("checked") == true) {

                    passedData.push({
                        LotBarcode: $(tr).find('td:eq(1)').text(),
                        Model: $(tr).find('td:eq(2)').text(),
                        Remarks: $(tr).find('input[name="taRemarks"]').val(),
                    });
                            }

                });


            console.log(passedData);
            if (passedData.length > 0) {
                //alert("OK");

                $("#pleaseWaitDialog").modal('show');


                setTimeout(function () {
                    InsertProductionPassedItems(passedData);
                }, 1000);





            }



        }


    });

    function InsertProductionPassedItems(datas) {


        $.ajax({
            url: '@Url.Action("InsertProductionPassedItems", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({ qcItemses: datas }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 3000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        backgroundColor: 'Green',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#white',
                        message: data.Message
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;
                    $("#pleaseWaitDialog").modal('hide');

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 3000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }


                else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: data.Message,
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });



    }



    //********************For Date AND Serial Wise Pass********************//

    //********************For Date AND Serial Wise Pass********************//

    //*******************************************************************************************************************************//




    //********************For Lot Barcode Pass Function********************//
    $("#btnPass").click(function (checkedItems) {

        $("#pleaseWaitDialog").modal('show');


        setTimeout(function () {
            LotWisePass(checkedItems);
        }, 1000);

    });


    function LotWisePass(checkedItems) {
        $("#pleaseWaitDialog").modal('show');
        $.ajax({
            url: '@Url.Action("InsertQcPanelInfo", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({ qcItemses: checkedItems }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 3000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: data.Message
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 2000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }


                else {

                    iziToast.warning({
                        timeout: 3000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: 'Error Occured While Processing Information',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });


        //console.log(checkedItems);
    }




    //********************For Lot Barcode Pass Function********************//
    //*********************************************************************//
    //********************For  Barcode Pass Function********************//

    $("#btnBRPass").click(function () {
        $.ajax({
            url: '@Url.Action("InsertPassDataByBarcode", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({ barcode: $("#taBRBCode").val() }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Saved Successfully'
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 2000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }


                else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: 'Error Occured While Processing Information',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });


        console.log(checkedItems);


    });








    //********************For  Barcode Pass Function********************//

    //********************For Master Barcode Pass Function********************//

    $("#btnMBPass").click(function () {
        $.ajax({
            url: '@Url.Action("InsertQcPassInfoByMasterBarcode", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({ mastercode: $("#taMBmasterBCode").val() }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Saved Successfully'
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 1000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }


                else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: 'Error Occured While Processing Information',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });


        console.log(checkedItems);


    });

    //********************For Master Barcode Pass Function********************//
    //*********************************************************************//

    //********************All Pass Function********************//

    $("#btnHold").click(function () {


        iziToast.show({
            theme: 'dark',
            icon: 'icon-person',
            timeout: 6000,
            title: 'Wait!!',
            imageWidth: 150,
            message: 'Are You Sure To Hold This Lot ??? ',
            position: 'center',
            layout: 1,
            messageSize: 15,
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                ['<button>Ok</button>', function (instance, toast) {
                    //iziToast.info({
                    //    title: 'wait !',
                    //    message: 'Printing Started!',
                    //    timeout: 1000,
                    //});
                    HoldLotItems();

                }, true],
                ['<button>Close</button>', function (instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutUp',
                        onClosing: function (instance, toast, closedBy) {
                            console.info('closedBy: ' + closedBy);
                        }
                    }, toast, 'buttonName');

                }]
            ],
            onOpening: function (instance, toast) {
                console.info('callback abriu!');
            },
            onClosing: function (instance, toast, closedBy) {
                console.info('closedBy: ' + closedBy);
            }
        });

    });


    function HoldLotItems() {


        var rem = $('textarea#taRemarks').val();
        alert(rem);
        $.ajax({
            url: '@Url.Action("HoldLotItems", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({lotNumebr: $("#taLotCode").val(), remarks: rem}),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Hold Successfully'
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 2000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }



                else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: 'No Data Found',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    }



    //For MasterBarcode Operation



    $("#btnMBHold").click(function () {


        iziToast.show({
            theme: 'dark',
            icon: 'icon-person',
            timeout: 6000,
            title: 'Wait!!',
            imageWidth: 150,
            message: 'Are You Sure To Hold This Master Barcode Items ??? ',
            position: 'center',
            layout: 1,
            messageSize: 15,
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                ['<button>Ok</button>', function (instance, toast) {
                    //iziToast.info({
                    //    title: 'wait !',
                    //    message: 'Printing Started!',
                    //    timeout: 1000,
                    //});
                    HoldMasterBarcodeItems();

                }, true],
                ['<button>Close</button>', function (instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutUp',
                        onClosing: function (instance, toast, closedBy) {
                            console.info('closedBy: ' + closedBy);
                        }
                    }, toast, 'buttonName');

                }]
            ],
            onOpening: function (instance, toast) {
                console.info('callback abriu!');
            },
            onClosing: function (instance, toast, closedBy) {
                console.info('closedBy: ' + closedBy);
            }
        });

    });



    function HoldMasterBarcodeItems() {


        var rem = $('textarea#taMBRemarks').val();
        alert(rem);
        $.ajax({
            url: '@Url.Action("HoldMasterBarcodeItems", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({ masterBarcodeNumebr: $("#taMBmasterBCode").val(), remarks: rem, lotNumebr: $("#taMBLotCode").val() }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Items Hold Successfully'
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 2000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }



                else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: 'No Data Found',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    }

    //**************************************************//
    //**************************************************//




    //********* For Bar Code Operation *********//
    //********* For Bar Code Operation *********//


    $("#btnBRHold").click(function () {


        iziToast.show({
            theme: 'dark',
            icon: 'icon-person',
            timeout: 6000,
            title: 'Wait!!',
            imageWidth: 150,
            message: 'Are You Sure To Hold This Barcode Items ??? ',
            position: 'center',
            layout: 1,
            messageSize: 15,
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                ['<button>Ok</button>', function (instance, toast) {
                    //iziToast.info({
                    //    title: 'wait !',
                    //    message: 'Printing Started!',
                    //    timeout: 1000,
                    //});
                    HoldBarcodeItems();

                }, true],
                ['<button>Close</button>', function (instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutUp',
                        onClosing: function (instance, toast, closedBy) {
                            console.info('closedBy: ' + closedBy);
                        }
                    }, toast, 'buttonName');

                }]
            ],
            onOpening: function (instance, toast) {
                console.info('callback abriu!');
            },
            onClosing: function (instance, toast, closedBy) {
                console.info('closedBy: ' + closedBy);
            }
        });

    });



    function HoldBarcodeItems() {


        var rem = $('textarea#taBRRemarks').val();
        alert(rem);
        $.ajax({
            url: '@Url.Action("HoldBarcodeItems", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({ barcode: $("#taBRBCode").val(), remarks: rem, lotNumebr: $("#taBRLotCode").val() }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Items Hold Successfully'
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 2000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }



                else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: 'No Data Found',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    }

    //********* For Bar Code Operation *********//
    //********* For Bar Code Operation *********//






    //*************Date Time Wise Prepare Data**********//


    $("#btnTimeWiseDataProcess").click(function () {
        // $("#popUpModal").modal("show");
        var status;
        var data = [];

        table.rows().every(function (rowIdx, tableLoop, rowLoop) {
            var $tr = this.nodes().to$();
            if ($tr.find('input[name="true"]').is(':checked') || $tr.find('input[name="false"]').is(':checked')) {
                if ($tr.find('input[name="true"]').is(':checked') && !$tr.find('input[name="false"]').is(':checked')) {
                    status = 'y';

                }
                if (!$tr.find('input[name="true"]').is(':checked') && $tr.find('input[name="false"]').is(':checked')) {

                    status = 'n';

                }
                data.push({
                    Model: $tr.find('td:eq(2)').text(),
                    BarCode: $tr.find('td:eq(3)').text(),
                    LotNo: $tr.find('td:eq(4)').text(),
                    MasterBarCode: $tr.find('td:eq(5)').text(),
                    Status: status,


                });

            }

        });

        //console.log(holdData);
        if (data.length > 0) {

            $.ajax({
                url: '@Url.Action("PrepareScannedTimeWiseData", "QcPanel")',
                type: 'Post',
                data: JSON.stringify({ data: data }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    if (data.IsSuccess) {

                        iziToast.success({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success!-',
                            message: data.Message,
                            //backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });

                       // setTimeout($('#mdHoldDetailsModal').modal('hide'), 8000);

                        setTimeout(function () {
                            window.location.href = "@Url.Action("Qc", "QcPanel")";
                        }, 2000);
                        $("#popUpModal").modal("hide");
                    } else {


                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: data.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });

        } else {
            $("#popUpModal").modal("hide");
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'warning!-',
                message: 'Please select any data to save',
                backgroundColor: '#E70F0F',
                theme: 'dark', // dark

                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#FDFEFE',
                messageSize: 15,
            });


        }
    });



    //Multi Barcode Operation
    //Need

    var tableMUB;
    function GetMultiBarcodeDataForQc() {

        $("#divProdTMDataMUB").show();
        //var multidata=$("#dataMulti").val();

        debugger;

        var multiData = [];

        $.each($('#dataMulti').val().split(/\n/), function (i, line) {
            if (line) {
                multiData.push({

                    BarCode: line

                });
            }
        });



        var finaldata = JSON.stringify(multiData);


        console.log(finaldata);

        debugger;
        var buttonCommon = {

        };
        tableMUB = $('#datatableProdTMItemsDetailsMUB').DataTable({
            "ajax": {
                "url": "@Url.Action("GetProductionMultiBarcodeData", "Report")",
                "type": "POST",
                "data": function (d) {
                    d.strdata = finaldata;
                   // return JSON.stringify(d);
                },
                "processing": true,
                "serverSide": true,
                "datatype": "json",


        },
           "destroy": true,
           "columnDefs":
        [{
            "searchable": true,

            visible: false
        },
                { "width": "10%", "targets": 0 },
                { "width": "9%", "targets": 1 }
        ],
   "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
   "pageLength": 50,
   "scrollY": "600px",
   "scrollX": true,

   "dom": 'Blfrtip',
   "sScrollY": (0.6 * $(window).height()),
   "bPaginate": true,
   "bJQueryUI": true,
   "bScrollCollapse": true,
   "bAutoWidth": true,
   "sScrollXInner": "100%",

   "buttons": [

       $.extend(true, {}, buttonCommon, {
           extend: 'excelHtml5',
           text: '<i class="fa fa-file-excel-o"></i> Excel',
           title: 'MUltiple_Barcode Report',
           footer: true,
       }),
   {
       extend: 'csvHtml5',
       text: '<i class="fa fa-files-o"></i> Excel',
       exportOptions: { orthogonal: 'export' },
       title: 'MUltiple_Barcode Report',
   },

       {

           extend: 'print',
           text: '<i class="fa fa-print"></i> Print',
           title: 'Assembly Line Status ',
           messageTop: "Assembly Line Status </br> ",
           orientation: 'landscape',
           pageSize: 'LEGAL',
           exportOptions: {
               columns: ':not(.no-print)'
           },
           footer: true,
           autoPrint: true

       },

       'colvis'
   ],
   "columns": [

       
       { "data": "Model", "autoWidth": true, "searchable": true },
        { "data": "BarCode", "autoWidth": true, "searchable": true },
       { "data": "LotNo", "autoWidth": true, "searchable": true },
       { "data": "MasterBarCode", "autoWidth": true, "searchable": true },
       //{ "data": "LotTrackingSerial", "autoWidth": true, "searchable": true },
       {
           "data": "ProductionDate",
           "type": "date ",
           "render": function (value) {
               if (value === null) return "";

               var pattern = /Date\(([^)]+)\)/;
               var results = pattern.exec(value);
               var dt = new Date(parseFloat(results[1]));

               return (dt.getMonth() + 1) + "/"+dt.getDate() + "/"+ dt.getFullYear();
           }
       },
       {
           "data": "ScannedDate",
           "type": "date ",
           "render": function (value) {
               if (value === null) return "";

               var pattern = /Date\(([^)]+)\)/;
               var results = pattern.exec(value);
               var dt = new Date(parseFloat(results[1]));

               return  (dt.getMonth() + 1) + "/"+dt.getDate() + "/"  + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes();
           }
       }



   ],

   });
    //table.clear().draw();
    //$('#container').css('display', 'block');
    //table.columns.adjust().draw();
    //$('input[name="select-all-pass-mub"]').click(function () {

    //    if ($(this).prop('checked') == true) {
    //        $('input[name="select-all-reject-mub"]').prop('checked', false);
    //        tableMUB.rows().every(function (rowIdx, tableLoop, rowLoop) {
    //            var $tr = this.nodes().to$();
    //            $tr.find('input[name="trueMUB"]').prop('checked', true);
    //            $tr.find('input[name="falseMUB"]').prop('checked', false);
    //            $tr.find('input[name="select-all-false-mub"]').prop('checked', false);
    //        });
    //    }

    //    if ($(this).prop('checked') == false) {
    //        $('input[name="select-all-reject-mub"]').prop('checked', false);
    //        tableMUB.rows().every(function (rowIdx, tableLoop, rowLoop) {
    //            var $tr = this.nodes().to$();
    //            $tr.find('input[name="trueMUB"]').prop('checked', false);
    //            $tr.find('input[name="falseMUB"]').prop('checked', false);
    //            $tr.find('input[name="select-all-reject-mub"]').prop('checked', false);
    //        });
    //    }


    //});

    //$('input[name="select-all-reject-mub"]').click(function () {

    //    if ($(this).prop('checked') == true) {
    //        $('input[name="select-all-pass-mub"]').prop('checked', false);
    //        tableMUB.rows().every(function (rowIdx, tableLoop, rowLoop) {
    //            var $tr = this.nodes().to$();
    //            $tr.find('input[name="trueMUB"]').prop('checked', false);
    //            $tr.find('input[name="falseMUB"]').prop('checked', true);
    //            $tr.find('input[name="select-all-passmub"]').prop('checked', false);
    //        });
    //    }

    //    if ($(this).prop('checked') == false) {
    //        $('input[name="select-all-pass-mub"]').prop('checked', false);
    //        tableMUB.rows().every(function (rowIdx, tableLoop, rowLoop) {
    //            var $tr = this.nodes().to$();
    //            $tr.find('input[name="trueMUB"]').prop('checked', false);
    //            $tr.find('input[name="falseMUB"]').prop('checked', false);
    //            $tr.find('input[name="select-all-reject-mub"]').prop('checked', false);
    //        });
    //    }


    //});

    //$(document).on('click', 'input[name=trueMUB]', function () {


    //    if ($(this).prop('checked') == true) {

    //        $(this).prop('checked', true);
    //        $(this).closest('#datatableProdTMItemsDetailsMUB tr').find('input[name=falseMUB]').prop('checked', false);
    //    }
    //    if ($(this).prop('checked') == false) {

    //        $(this).prop('checked', false);
    //        $(this).closest('#datatableProdTMItemsDetailsMUB tr').find('input[name=falseMUB]').prop('checked', false);
    //    }


    //});


    //$(document).on('click', 'input[name=falseMUB]', function () {


    //    if ($(this).prop('checked') == true) {

    //        $(this).prop('checked', true);
    //        $(this).closest('#datatableProdTMItemsDetailsMUB tr').find('input[name=trueMUB]').prop('checked', false);
    //    }
    //    if ($(this).prop('checked') == false) {

    //        $(this).prop('checked', false);
    //        $(this).closest('#datatableProdTMItemsDetailsMUB tr').find('input[name=trueMUB]').prop('checked', false);
    //    }


    //});

    //setTimeout( $('#mdHoldDetailsModal').modal('show'),10000);


    setTimeout(function () {
        tableMUB.fnAdjustColumnSizing();
    }, 10);

    $('#dataMulti').val('');
    }







    $("#btnTimeWiseDataProcessMUB").click(function () {
        // $("#popUpModal").modal("show");
        var status;
        var data = [];

        tableMUB.rows().every(function (rowIdx, tableLoop, rowLoop) {
            var $tr = this.nodes().to$();
            if ($tr.find('input[name="trueMUB"]').is(':checked') || $tr.find('input[name="falseMUB"]').is(':checked')) {
                if ($tr.find('input[name="trueMUB"]').is(':checked') && !$tr.find('input[name="falseMUB"]').is(':checked')) {
                    status = 'y';

                }
                if (!$tr.find('input[name="trueMUB"]').is(':checked') && $tr.find('input[name="falseMUB"]').is(':checked')) {

                    status = 'n';

                }
                data.push({
                    Model: $tr.find('td:eq(2)').text(),
                    BarCode: $tr.find('td:eq(3)').text(),
                    LotNo: $tr.find('td:eq(4)').text(),
                    MasterBarCode: $tr.find('td:eq(5)').text(),
                    Status: status,


                });

            }

        });

        //console.log(holdData);
        if (data.length > 0) {

            $.ajax({
                url: '@Url.Action("PrepareScannedTimeWiseData", "QcPanel")',
                type: 'Post',
                data: JSON.stringify({ data: data }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    if (data.IsSuccess) {

                        iziToast.success({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success!-',
                            message: data.Message,
                            //backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });

                        // setTimeout($('#mdHoldDetailsModal').modal('hide'), 8000);

                        setTimeout(function () {
                            window.location.href = "@Url.Action("Qc", "QcPanel")";
                        }, 2000);
                        $("#popUpModal").modal("hide");
                    } else {


                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: data.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });

        } else {
            $("#popUpModal").modal("hide");
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'warning!-',
                message: 'Please select any data to save',
                backgroundColor: '#E70F0F',
                theme: 'dark', // dark

                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#FDFEFE',
                messageSize: 15,
            });


        }
    });





    //Multi Barcode Operation


</script>
