﻿@{
    ViewBag.Title = "OracleUploadReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table,thead, th, td {
        border: 1px solid white !important;
      
    }
  

</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                <div class="card-header card-header-rose">
                    Search report
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label for="txtFromDate">From Date</label>

                                <input id="txtFromDate" type="text" placeholder="From Date" class="form-control form-control-success txtDate">
                            </div>
                        </div>

                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label for="txtToDate">To Date</label>

                                <input id="txtToDate" type="text" placeholder="To Date" class="form-control form-control-success txtDate">
                            </div>
                        </div>
                        <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                            <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-12">

            <div class="card" style="border: 2px solid darkcyan;display: none" id="tblDataDiv">
                @*display: none;*@
                <div class="card-header d-flex align-items-center" style="background-color: darkcyan;color: white">
                    <h3 class="h4" style="font-weight: normal">Report Data </h3>
                </div>
                <div class="card-body">
                    <div class="form-horizontal" style="overflow: auto">
                        <table class="table table-bordered table-hover" id="tblData">
                            <thead class="" style="background-color: #123D6A; color: white; font-size: 18px;text-align: center; border-radius: 50px; ">
                                <tr>
                                    <th style="">
                                        Model
                                    </th>

                                    <th>
                                        Lot Number
                                    </th>

                                    <th>
                                        Transaction Id
                                    </th>

                                    <th>
                                        Qc Passed Count
                                    </th>
                                    <th>
                                        Oracle Uploaded Count
                                    </th>

                                    <th>
                                        Upload To Oracle
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Processing...</h1>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete (success)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <link href="~/Content/iziToast.min.css" rel="stylesheet" />
        <link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
        <link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
        <link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
        <script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
        <script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
        <script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
        <script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
        <script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
        <script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
        <script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
        <script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
        <script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
        <script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
        <script src="~/Scripts/DatatablePrint/jszip.min.js"></script>
        <script src="~/Scripts/iziToast.min.js"></script>



<script>

    $(function() {
        //GetAllIShiftList();
        
        $("#txtFromDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());

        $("#btnSearch").click(function() {            
            $("#pleaseWaitDialog").modal('show');

            setTimeout(function () {
                GetOracleUpalodedData();
            }, 1000);



        });

    });
    

    function GetOracleUpalodedData() {
        
        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];

        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];
        
        $.ajax({
            url: '@Url.Action("GetQcPassedOracleUploadedData", "Report")',
            type: 'Post',
            data: JSON.stringify({ fromdate: fromdate, todate: todate }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',

            success: function (result) {

                if (result.length > 0) {
                    $('#tblDataDiv').show();

                    var html = '';
                    var footer = '';
                    var total = 0;
                    var oracleTotal = 0;
                    $.each(result, function (key, item) {

                        total += item.QcPassedCount;
                        oracleTotal += item.OracleUploadCount;
                        html += '<tr style=font-size:14px;height:3px;text-align:center;color:#123D6A;Background-color:#EEF5F9;>';
                        html += '<td>' + item.Model + '</td>';
                        html += '<td>' + item.LotBarcode + '</td>';
                        html += '<td>' + item.OracleTransactionCode + '</td>';
                        html += '<td>' + item.QcPassedCount + '</td>';
                        html += '<td>' + item.OracleUploadCount + '</td>';
                       
                        html += '<td><button type="button" id="btnUploadToOracle" class="btn btn-success UploadToOracle"><i class="glyphicon glyphicon-remove-sign"></i>Upload To Oracle</button></td>';

                        html += '</tr>';
                    });
                    $('.tbody').html(html);


                    var remains = parseInt(total) - parseInt(oracleTotal);

                    footer += '<tr style=font-size:12px;height:3px;text-align:center;color:#123D6A;Background-color:#EEF5F9;>';
                    footer += '<td></td>';
                    footer += '<td></td>';
                    footer += '<td></td>';
                    footer += '<td style="font-weight:bold;font-size:15px;color:blue"> Total Received : ' + total + '</td>';
                    footer += '<td style="font-weight:bold;font-size:15px;color:green"> Total Uploaded: ' + oracleTotal + '</td>';
                    footer += '<td style="font-weight:bold;font-size:15px;color:red"> Upload Remains: ' + remains + '</td>';
                    footer += '</tr>';
                    $('.tbody').append(footer);

                    $("#pleaseWaitDialog").modal('hide');
                } else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 100,
                        position: 'center',
                        title: 'Warning!- ',
                        message: 'No Data Found !',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#pleaseWaitDialog").modal('hide');
                }

                // $('#img').hide();
            },
            error: function (result, textStatus, jqXHR) {

            }

        });

    }


    $(document).on("click", ".UploadToOracle", function () {
        var model = $(this).closest("tr").find('td:eq(0)').text();    // Find the row
        var lot = $(this).closest("tr").find('td:eq(1)').text();
        var trnsCode = $(this).closest("tr").find('td:eq(2)').text();
        var quantity = parseInt($(this).closest("tr").find('td:eq(3)').text());
        var uploadquantity = parseInt($(this).closest("tr").find('td:eq(4)').text());

        if (quantity == uploadquantity) {


            iziToast.show({
                theme: 'dark',
                icon: 'icon-person',
                timeout: 2000,
                title: 'Wait!!',
                imageWidth: 150,
                message: 'Already Uploaded All Quantity !!!!!',
                position: 'center',
                layout: 1,
                messageSize: 15,
                progressBarColor: 'rgb(0, 255, 184)'

            });

        } else {

            iziToast.show({
                theme: 'dark',
                icon: 'icon-person',
                title: 'Wait!!',
                timeout: 2000,
                imageWidth: 150,
                message: 'Are You Sure to Upload',
                position: 'center',
                layout: 1,
                messageSize: 15,
                progressBarColor: 'rgb(0, 255, 184)',
                buttons: [
                    ['<button>Ok</button>', function (instance, toast) {

                        CheckAndUploadToOracle(model, lot, trnsCode);


                        iziToast.info({
                            title: 'Uploading',
                            message: 'Uploading Started!',
                        });


                    }, true], // true to focus
                    ['<button>Close</button>', function (instance, toast) {
                        instance.hide({
                            transitionOut: 'fadeOutUp',
                            onClosing: function (instance, toast, closedBy) {
                                console.info('closedBy: ' + closedBy); // The return will be: 'closedBy: buttonName'
                            }
                        }, toast, 'buttonName');
                    }]
                ],
                onOpening: function (instance, toast) {
                    console.info('callback abriu!');
                },
                onClosing: function (instance, toast, closedBy) {
                    console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
                }
            });
        }
    });


    function CheckAndUploadToOracle(model, lot, trnsCode) {
      
                        
        $.ajax({
            url: '@Url.Action("CheckAndUploadToOracle", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({ model: model, lot: lot, transcode: trnsCode }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.IsSuccess) {
                    iziToast.success({
                        timeout: 3000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: data.Message
                    });
                    $("#btnPass").hide();
                    $("#txtCode").val('');
                    checkedItems.length = 0;

                    setTimeout(function () {
                        window.location.href = "@Url.Action("Qc", "QcPanel")";
                    }, 2000);
                }

                else if (data.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }


                else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning!-',
                        message: data.Message,
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $("#txtCode").val('');
                    $("#txtCode").focus();
                    return false;

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });

    }
</script>
