﻿
@{
    ViewBag.Title = "PassInventoryHold";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*#myModal .modal-dialog {
        min-width: 100%;
    }*/

    div.ui-datepicker {
        font-size: 12px;
    }

    .dataTables_scroll {
        overflow: auto;
    }



    table.dataTable thead tr {
        background-color: #9C27B0;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }


    /* Hiding the checkbox, but allowing it to be focused */
    .badgebox {
        opacity: 0;
    }

    .badgebox + .badge {
        /* Move the check mark away when unchecked */
        text-indent: -999999px;
        /* Makes the badge's width stay the same checked and unchecked */
        width: 27px;
    }

    .badgebox:focus + .badge {
        /* Set something to make the badge looks focused */
        /* This really depends on the application, in my case it was: */
        /* Adding a light border */
        box-shadow: inset 0px 0px 5px;
        /* Taking the difference out of the padding */
    }

    .badgebox:checked + .badge {
        /* Move the check mark back when checked */
        text-indent: 0;
    }

    #myOracleModal .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 50%;
        margin: 0 auto;
    }
</style>

<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6">
                <div class="card card-chart" style="text-align: center; border: 1px solid #4169e1 !important;">
                    <div class="card-header card-header-rose">
                        Select Report Type
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="chkCHold" class="btn btn-danger" style="color: white; background-color: #4169E1; text-align: center">
                                    Currently Holded Data
                                    <input type="checkbox" name="chkCriteria" value="CHold" id="chkCHold" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label for="chkAHold" class="btn btn-success" style="color: white;background-color: darkgreen; text-align: center">
                                    All Hold History
                                    <input type="checkbox" name="chkCriteria" value="AHold" id="chkAHold" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                </label>
                                @*<label class="checkbox-inline"><input type="checkbox" name="chkCriteria" class="checkbox-template" value="MB">&nbsp;Master Barcode</label>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-chart" id="divAllHold" style="text-align: center; border: 1px solid #4169E1 !important; display: none">
                    <div class="card-header card-header-rose">
                        Search report
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtFromDate">From Date</label>

                                    <input id="txtFromDate" type="text" placeholder="From Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtToDate">To Date</label>

                                    <input id="txtToDate" type="text" placeholder="To Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>
                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">

            @*For passedI Items*@
            <div class="col-lg-12" id="divAllHoldReport" style="display: none; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #4169E1 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">All Over Hold Report</h3>
                    </div>
                    <div class="card-body" style="">
                        <table id="datatableAllHoldReport" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                            <thead style="font-size: 10px !important;">
                                <tr>
                                    <th>Barcode</th>
                                    <th>Master Barcode</th>
                                    <th>Remarks</th>
                                    <th>Production Date</th>
                                    <th>Passed</th>
                                    <th>Added Date</th>
                                    <th>Added By</th>

                                </tr>
                            </thead>

                           
                        </table>
                    </div>
                </div>
            </div>

            @*For passedI Items*@

            @*For Pending Items*@
            <div class="col-lg-12" id="divCurrentHold" style="display: none; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Currently Holded Data</h3>
                    </div>
                    <div class="card-body" style="">
                        <div class="card-body" style="">
                            <table class="table table-responsive-lg header-fixed table-striped table-bordered table-condensed table-hover no-footer " style="overflow: auto" id="tblCurrentlyHold">
                                <thead class="" style="background-color: #054C32; font-weight: normal; font-style: normal; color: white; font-size: 12px; ">
                                    <tr>

                                        <th> Master Barcode</th>
                                        <th>Total</th>
                                        <th>Remarks</th>
                                        <th>Pass</th>


                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*For Pending Items*@


        </div>

    </div>
</div>
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="text-align: center">
                <h4 class="modal-title">Passed Inventory Item Hold</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-horizontal" style="margin-top: 30px;">
                    <div class="form-group row" id="divSingleCode">
                        <label class="col-sm-4 form-control-label">Master Barcode</label>
                        <div class="col-sm-8" id="">

                            <input id="txtMBCode" style="font-size:15px;" disabled="disabled" type="text" placeholder="" required="" class="form-control form-control-success">
                        </div>


                    </div>
                    <div class="form-group row" id="divSingleCode">
                        <label class="col-sm-4 form-control-label">Remarks</label>
                        <div class="col-sm-8" id="">

                            <input id="txtRemarks" style="font-size:15px; " type="text" placeholder="Remarks" required="" class="form-control form-control-success">
                        </div>


                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="btnPass" class="btn btn-success" data-dismiss="modal">save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="popUpModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document" style="background-color: rgba(255, 255, 255, 0.9);">
        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.9);">

            <div class="modal-body" style="background-color: rgba(255, 255, 255, 0.9);">
                <div class="form-group row">
                    <div class="col-sm-12 offset-sm-4" id="img" onkeypress="">
                        <img src="~/images/Cube-1s-200px.gif" style="margin-left: 25px;width: 80px;height: 80px;" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>

<script>

    $(function () {

        $("#txtFromDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());

    });


    $('input[type="checkbox"]').click(function () {
        debugger;
        $("#divAllHold").hide();
        $('input.checkbox-template').not(this).prop('checked', false);
        var inputValue = $(this).attr("value");
        var isChecked = $(this).is(':checked');
        if (inputValue == "AHold" && isChecked) {
            $("#divAllHold").show();
            $("#divCurrentHold").hide();


        }

        if (inputValue == "CHold" && isChecked) {

            $("#popUpModal").modal("show");
            $("#divAllHoldReport").hide();
            setTimeout(function () {
                GetCurrentlyHoldReport();
            }, 2000);


        }

    });

    

    function GetCurrentlyHoldReport() {
        debugger;
        $("#divCurrentHold").show();
        $.ajax({
            url: " @Url.Action("GetPassedInventoryHoldData", "Report")",
            type: 'Post',
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.data.length > 0) {
                    debugger;

                    $('#tblCurrentlyHold tbody').empty();
                    $.each(data.data, function(index, itemData) {

                        var row = "<tr class='active' style='font-size=5px;height:3px;'>" +
                            "<td style='height:5px;' class='text-center'>" + itemData.MasterBarcode + "</td>" +
                            "<td style='height:3px; class='text-center'>" + itemData.Total + "</td>" +
                            "<td style='height:3px; class='text-center'>" + itemData.Remarks + "</td>" +
                            "<td style='height:3px;' class='text-center'><input type='checkbox' class='pass' value=''></td>" +
                            "</tr>";


                        $('#tblCurrentlyHold tbody').append(row);
                        setTimeout(function () {
                            $("#popUpModal").modal("hide");
                        }, 1000);
                    });
                   
                } else {
                    var row = "<tr class='active' style='font-size=5px;height:3px;'>" +
                            "<td style='height:5px;' class='text-center'></td>" +
                            "<td style='height:3px;color:red' class='text-center'>No Data Found</td>" +
                            "<td style='height:3px;' class='text-center'></td>" +
                            "<td style='height:3px;' class='text-center'></td>" +
                            "</tr>";


                    $('#tblCurrentlyHold tbody').append(row);
                    setTimeout(function () {
                        $("#popUpModal").modal("hide");
                    }, 1000);
                }
            },


            error: function (data, textStatus, jqXHR) {

            }


        });

    }


    $(document).on("click", "input[class=pass]", function () {

        var $row = $(this).closest("tr");
        var $text = $row.find('td:eq(0)').text();


        $("#myModal").modal('show');

        $("#txtMBCode").val($text);

    });

    $("#btnPass").click(function() {
            debugger;
            var masterBarcode = $("#txtMBCode").val();
            $.ajax({
                url: " @Url.Action("GetHoldedPassData", "Report")",
                type: 'Post',
                dataType: 'json',
                data: JSON.stringify({ masterBarcode: masterBarcode }),
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    alert("hurray!");
                },


                error: function (data, textStatus, jqXHR) {
                    alert("Ooops!");
                }


        });



    });


    $("#btnSearch").click(function () {

        $("#popUpModal").modal("show");
        setTimeout(function () {
            GetAllHoldReport();
        }, 2000);




    });


    function GetAllHoldReport() {

        $("#divAllHoldReport").show();

        var buttonCommon = {

        };
        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];

        //$("#divAssemblyProductionDataPending").show();
        /////////////////////////

        var tablePending = $('#datatableAllHoldReport').DataTable({
            "ajax": {
                "url": "@Url.Action("GetAllPassedInventoryData", "Report")",
                "type": "GET",
                "data": function(d) {
                    d.fromdate = fromdate;
                    d.todate = todate;
                },
                "datatype": "json"
            },
                "destroy": true,
                "columnDefs":
            [{
                "searchable": true,

                visible: false
            },
        

            //{ "width": "10%", "targets": 0 },
            //{ "width": "9%", "targets": 1 }
        ],

            "pageLength": 10,

            "scrollY": "800px",
            "scrollX": true,
            "dom": 'Bfrtip',
            "buttons": [
                $.extend(true, {}, buttonCommon, {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                    title: 'All Hold Report',
                    footer: true,
                }),
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-files-o"></i> Csv',
                    exportOptions: { orthogonal: 'export' },
                    title: 'All Hold Report'
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: 'All Hold Report ',
                    messageTop: "All Hold Report </br> ",
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true,
                    autoPrint: true
                },
                'colvis'
            ],
            "columns": [
                
                { "data": "Barcode", "autoWidth": false, "searchable": true },
                { "data": "MasterBarcode", "autoWidth": false, "searchable": true },
                { "data": "Remarks", "autoWidth": false, "searchable": true },
                {
                    "data": "ProductionDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));

                        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                    }
                },
                { "data": "IsPassed", "autoWidth": false, "searchable": true },

                {
                    "data": "AddedDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));

                        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                    }
                },
                { "data": "AddedBy", "autoWidth": false, "searchable": false }
             
                
                
               
            ],
            
            });
            setTimeout(function () {
                $("#popUpModal").modal("hide");
            }, 1000);

    }

    

</script>

