﻿@{
    ViewBag.Title = "QcLotTrackingReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.ui-datepicker {
        font-size: 12px;
    }

    .dataTables_scroll {
        overflow: auto;
    }



    table.dataTable thead tr {
        background-color: #9C27B0;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    .table > thead > tr > th {
        font-size: 12px;
        font-weight: 500;
        padding-bottom: 0;
        border: 1px solid #DEE2E6;
    }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    /* Hiding the checkbox, but allowing it to be focused */
    .badgebox {
        opacity: 0;
    }

        .badgebox + .badge {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgebox:focus + .badge {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */
            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgebox:checked + .badge {
            /* Move the check mark back when checked */
            text-indent: 0;
        }
</style>
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6">
                <div class="card card-chart" style="text-align: center; border: 1px solid #4169e1 !important;">
                    <div class="card-header card-header-rose">
                        Select Report Type
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="chklot" class="btn btn-danger" style="color: white; background-color: red; text-align: center">
                                    Lot Wise
                                    <input type="checkbox" name="chkCriteria" value="lot" id="chklot" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label for="chkDate" class="btn btn-success" style="color: white;background-color: darkgreen; text-align: center">
                                    Date Wise
                                    <input type="checkbox" name="chkCriteria" value="date" id="chkDate" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                </label>
                                @*<label class="checkbox-inline"><input type="checkbox" name="chkCriteria" class="checkbox-template" value="MB">&nbsp;Master Barcode</label>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="divlot" style="text-align: center; border: 1px solid #008080 !important;display: none">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                        Search Report Using Lot Number
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="ddlLot">Lot Number</label>

                                    <select id="ddlLot" data-placeholder="Choose a Lot Number" class="chosen-select form-control" tabindex="1"></select>
                                </div>
                            </div>


                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="divdate" style="text-align: center; border: 1px solid #DC2366 !important ;display:none ">
                <div class="card card-chart" >
                    <div class="card-header card-header-rose">
                        Search report
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtFromDate">From Date</label>

                                    <input id="txtFromDate" type="text" placeholder="From Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtToDate">To Date</label>

                                    <input id="txtToDate" type="text" placeholder="To Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>
                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btndateSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12" id="divLotBarcodeData" style="display: none; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Production Report</h3>
                    </div>
                    <div class="card-body" style="">
                        <table id="datatableLotWiseReport" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                            <thead style="font-size: 12px;">
                                <tr>
                                    <th>Date</th>
                                    <th>LotNumber</th>
                                    <th>Marking Lot Barcode</th>
                                    <th>IA Production Date</th>
                                    <th>Any Major Issue with this lot during assembly</th>
                                    <th>Compressor Model</th>
                                    <th>Compressor Lot Number by QC</th>
                                    <th>Shrinked Rotor Production Date & Lot</th>
                                    <th>Crankshaft Lot & Group</th>
                                    <th>Flange Bearing Lot and Group </th>
                                    <th>Connecting rod Lot & Production Date</th>
                                    <th>Piston Lot & Production Date</th>
                                    <th>Piston Pin Lot</th>
                                    <th>Valve Plate Lot & Production date</th>
                                    <th>Rotor</th>
                                    <th>Crank Case</th>
                                    <th>Piston</th>
                                    <th>Screw_FB</th>
                                    <th>Gasket_Leaf</th>
                                    <th>Suction Valve Leaf</th>
                                    <th>Valve Plate</th>
                                    <th>Universal Gasket</th>
                                    <th>Cylinder Head</th>
                                    <th>Suction Muffler</th>
                                    <th>SMF Spring</th>
                                    <th>Discharge Gasket</th>
                                    <th>Screw_CH</th>
                                    <th>Stator Screw</th>
                                    <th>Suspension Spring</th>
                                    <th>Stator</th>
                                    
                                    <th>LowerShell Assembly</th>
                                    <th>Internal Discharge Tube</th>
                                    <th>Brazing Ring</th>
                                    <th>Upper Shell</th>
                                    <th>Suction Rubber Plug</th>
                                    <th>Service Rubber Plug</th>
                                    <th>Discharge Rubber Plug</th>
                                    <th>TBA</th>
                                    <th>Remarks</th>
                                    <th>Added By</th>
                                    
                                    <th>UpdatedBy</th>
                                    <th>Updated Date</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>
@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>


<script>
    

    $('input[type="checkbox"]').click(function () {
        debugger;
        $("#divlot").hide();
        $("#divdate").hide();
        $('input.checkbox-template').not(this).prop('checked', false);
        var inputValue = $(this).attr("value");
        var isChecked = $(this).is(':checked');
        if (inputValue == "lot" && isChecked) {
            $("#divlot").show();
            $("#divdate").hide();


        }

        if (inputValue == "date" && isChecked) {

           
            $("#divlot").hide();
            $("#divdate").show();
          


        }

    });




    $(function () {
        $("#txtFromDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        LoadAllLotNumber();

    });
    function LoadAllLotNumber() {

        var url = "@Url.Action("GetAllLotNumbers", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlLot");
            $("#ddlLot").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Lot Number </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }
    
    
    $("#btndateSearch").click(function () {


        GetDateWiseReport();


    });

    $("#btnSearch").click(function () {


        GetLotWiseReport();


    });

    function getDateString(date) {
        var dateObj = new Date(parseInt(date.substr(6)));
        return dateObj.toDateString();
    }

    function GetLotWiseReport() {


        var buttonCommon = {

            };
        var code = $("#ddlLot").val();




        $("#divLotBarcodeData").show();
        /////////////////////////

        var table = $('#datatableLotWiseReport').DataTable({
            
            "processing": true,
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            "ajax": {
                "url": "@Url.Action("GetQcTrackingLotReport", "Report")",
                "type": "GET",
                "data": function (d) {
                    d.lotNumber = code;
                },
                "datatype": "json"
            },
            "destroy": true,
            "columnDefs":
            [{
                    "searchable": true,

                    visible: false
                },

                //{ "width": "50%", "targets": 0 }

                { "width": "10%", "targets": 0 },
                { "width": "9%", "targets": 1 }
            ],

            "pageLength": 30,
            "scrollY": "800px",
            "scrollX": true,
            "dom": 'Blfrtip',
            "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
            "buttons": [

                $.extend(true, {}, buttonCommon, {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                    title: 'QC lot tracking (manual entry per shift 1 time against lot barcode)',
                    footer: true,
                }),
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-files-o"></i> Csv',
                    exportOptions: { orthogonal: 'export' },
                    title: 'QC lot tracking (manual entry per shift 1 time against lot barcode)'
                },

                {

                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: 'QC lot tracking (manual entry per shift 1 time against lot barcode) ',
                    messageTop: "QC lot tracking (manual entry per shift 1 time against lot barcode)",
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true,
                    autoPrint: true

                },

                'colvis'
            ],
            "columns": [
                {
                    "data": "AddedDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    }
                },
                { "data": "LotNumber", "autoWidth": false, "searchable": true },
                { "data": "MarkingLotBarcode", "autoWidth": false, "searchable": true },
                
                { "data": "IaProductionDate", "autoWidth": false, "searchable": true },
                { "data": "MajorIssue", "autoWidth": false, "searchable": true },
                { "data": "Model", "autoWidth": false, "searchable": true },
                { "data": "LotByQc", "autoWidth": false, "searchable": true },
                { "data": "ShrinkedRotor", "autoWidth": false, "searchable": true },
                { "data": "CrankShaft", "autoWidth": false, "searchable": true },
                { "data": "Flang", "autoWidth": false, "searchable": true },
                { "data": "ConRod", "autoWidth": false, "searchable": true },
                { "data": "PistonLot", "autoWidth": false, "searchable": true },
                { "data": "PistonPinLot", "autoWidth": false, "searchable": true },
                { "data": "ValvePlateLot", "autoWidth": false, "searchable": true },
                



                { "data": "Rotor", "autoWidth": false, "searchable": true },
                { "data": "CrankCase", "autoWidth": false, "searchable": true },
                { "data": "Piston", "autoWidth": false, "searchable": true },
                { "data": "Screw_FB", "autoWidth": false, "searchable": true },
                { "data": "Gasket_Leaf", "autoWidth": false, "searchable": true },
                { "data": "SuctionValveLeaf", "autoWidth": false, "searchable": true },
                { "data": "ValvePlate", "autoWidth": false, "searchable": true },
                { "data": "UniversalGasket", "autoWidth": false, "searchable": true },
                { "data": "CylinderHead", "autoWidth": false, "searchable": true },
                { "data": "SuctionMuffler", "autoWidth": false, "searchable": true },
                { "data": "SMFSpring", "autoWidth": false, "searchable": true },
                { "data": "DischargeGasket", "autoWidth": false, "searchable": true },
                { "data": "Screw_CH", "autoWidth": false, "searchable": true },
                { "data": "StatorScrew", "autoWidth": false, "searchable": true },
                { "data": "SuspensionSpring", "autoWidth": false, "searchable": true },
                { "data": "Stator", "autoWidth": false, "searchable": true },
                { "data": "LowerShellAssembly", "autoWidth": false, "searchable": true },
                { "data": "InternalDischargeTube", "autoWidth": false, "searchable": true },
                { "data": "BrazingRing", "autoWidth": false, "searchable": true },
                { "data": "UpperShell", "autoWidth": false, "searchable": true },
                { "data": "SuctionRubberPlug", "autoWidth": false, "searchable": true },
                { "data": "ServiceRubberPlug", "autoWidth": false, "searchable": true },
                { "data": "DischargeRubberPlug", "autoWidth": false, "searchable": true },
                { "data": "TBA", "autoWidth": false, "searchable": true },
                { "data": "Remarks", "autoWidth": false, "searchable": true },
                { "data": "AddedBy", "autoWidth": false, "searchable": true },
                

                { "data": "UpdatedBy", "autoWidth": false, "searchable": true },
                
                {
                    "data": "UpdatedDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    }
                }

           



            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };




            }

        });
        $("#txtCode").val('');
        $("#txtCode").focus();

    }


    ///Date Wise Report
    

    function GetDateWiseReport() {


        var buttonCommon = {

        };
       // var code = $("#ddlLot").val();

        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];


        $("#divLotBarcodeData").show();
        /////////////////////////

        var table = $('#datatableLotWiseReport').DataTable({
            
            "processing": true,
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            "ajax": {
                "url": "@Url.Action("GetQcTrackingDateWiseReport", "Report")",
            "type": "GET",
            "data": function (d) {
                d.fromdate = fromdate;
                d.todate = todate;
            },
            "datatype": "json"
        },
            "destroy": true,
            "columnDefs":
            [{
                    "searchable": true,

            visible: false
    },

    //{ "width": "50%", "targets": 0 }

    { "width": "10%", "targets": 0 },
    { "width": "9%", "targets": 1 }
    ],

            "pageLength": 30,
            "scrollY": "800px",
            "scrollX": true,
            "dom": 'Blfrtip',
            "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
            "buttons": [

                $.extend(true, {}, buttonCommon, {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                    title: 'QC lot tracking (manual entry per shift 1 time against lot barcode)',
                    footer: true,
                }),
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-files-o"></i> Csv',
                    exportOptions: { orthogonal: 'export' },
                    title: 'QC lot tracking (manual entry per shift 1 time against lot barcode)'
                },

                {

                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: 'QC lot tracking (manual entry per shift 1 time against lot barcode) ',
                    messageTop: "QC lot tracking (manual entry per shift 1 time against lot barcode)",
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true,
                    autoPrint: true

                },

                'colvis'
            ],
            "columns": [
                {
                    "data": "AddedDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    }
                },
                { "data": "LotNumber", "autoWidth": false, "searchable": true },
                { "data": "MarkingLotBarcode", "autoWidth": false, "searchable": true },
                { "data": "IaProductionDate", "autoWidth": false, "searchable": true },
                { "data": "MajorIssue", "autoWidth": false, "searchable": true },
                { "data": "Model", "autoWidth": false, "searchable": true },
                { "data": "LotByQc", "autoWidth": false, "searchable": true },
                { "data": "ShrinkedRotor", "autoWidth": false, "searchable": true },
                { "data": "CrankShaft", "autoWidth": false, "searchable": true },
                { "data": "Flang", "autoWidth": false, "searchable": true },
                { "data": "ConRod", "autoWidth": false, "searchable": true },
                { "data": "PistonLot", "autoWidth": false, "searchable": true },
                { "data": "PistonPinLot", "autoWidth": false, "searchable": true },
                { "data": "ValvePlateLot", "autoWidth": false, "searchable": true },
                { "data": "Rotor", "autoWidth": false, "searchable": true },
                { "data": "CrankCase", "autoWidth": false, "searchable": true },
                { "data": "Piston", "autoWidth": false, "searchable": true },
                { "data": "Screw_FB", "autoWidth": false, "searchable": true },
                { "data": "Gasket_Leaf", "autoWidth": false, "searchable": true },
                { "data": "SuctionValveLeaf", "autoWidth": false, "searchable": true },
                { "data": "ValvePlate", "autoWidth": false, "searchable": true },
                { "data": "UniversalGasket", "autoWidth": false, "searchable": true },
                { "data": "CylinderHead", "autoWidth": false, "searchable": true },
                { "data": "SuctionMuffler", "autoWidth": false, "searchable": true },
                { "data": "SMFSpring", "autoWidth": false, "searchable": true },
                { "data": "DischargeGasket", "autoWidth": false, "searchable": true },
                { "data": "Screw_CH", "autoWidth": false, "searchable": true },
                { "data": "StatorScrew", "autoWidth": false, "searchable": true },
                { "data": "SuspensionSpring", "autoWidth": false, "searchable": true },
                { "data": "Stator", "autoWidth": false, "searchable": true },
                { "data": "LowerShellAssembly", "autoWidth": false, "searchable": true },
                { "data": "InternalDischargeTube", "autoWidth": false, "searchable": true },
                { "data": "BrazingRing", "autoWidth": false, "searchable": true },
                { "data": "UpperShell", "autoWidth": false, "searchable": true },
                { "data": "SuctionRubberPlug", "autoWidth": false, "searchable": true },
                { "data": "ServiceRubberPlug", "autoWidth": false, "searchable": true },
                { "data": "DischargeRubberPlug", "autoWidth": false, "searchable": true },
                { "data": "TBA", "autoWidth": false, "searchable": true },
                { "data": "Remarks", "autoWidth": false, "searchable": true },
                { "data": "AddedBy", "autoWidth": false, "searchable": true },
                

                { "data": "UpdatedBy", "autoWidth": false, "searchable": true },
                
                {
                    "data": "UpdatedDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    }
                }

           



            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };




            }

    });
    $("#txtCode").val('');
    $("#txtCode").focus();

    }
</script>
