﻿<style>
    .sticky-container {
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: -130px;
        top: 50px;
        width: 320px;
        z-index: 1100;
    }

    .sticky li {
        list-style-type: none;
        background-color: #1e2631;
        font-size: 25px;
        color: #efefef;
        height: 43px;
        padding: 0px;
        margin: 0px 0px 1px 0px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
    }

        .sticky li:hover {
            margin-left: -120px;
        }

        .sticky li i {
            float: left;
            margin: 6px 5px;
            margin-right: 15px;
        }

        .sticky li p {
            padding-top: 5px;
            margin: 0px;
            line-height: 16px;
            font-size: 18px;
        }

            .sticky li p a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }

                .sticky li p a:hover {
                    text-decoration: underline;
                }
</style>
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <i class="fa fa-bookmark"></i>
            <p><a href="@Url.Action("Qc", "QcPanel")">Back To <br>Qc Panel</a></p>
        </li>

    </ul>
</div>
