﻿@{
    ViewBag.Title = "QcLotTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    label {
        color: black !important;
    }
    input {
        color: #ff0000!important;
    }
    select {
        color: darkslateblue !important;
        font-weight: bold !important;
    }
</style>


<div class="content">
    <div class="row">
        <div class="col-md-6 pr-1">
            <div class="form-group">
                <label for="ddlLot">Lot Number</label>

                <select id="ddlLot" data-placeholder="Choose a Lot Number" class="chosen-select form-control" tabindex="1"></select>


            </div>
        </div>
        
        <div class="col-md-6 pr-1">
            <div class="form-group">
              
                <button type="button" id="btnClear" onclick="location.reload();" class="btn btn-warning btn-round">Clear</button>

            </div>
        </div>
    </div>
</div>



<div class="content" id="divFields" style="display: none;">
    <div class="row">

        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">QC lot tracking (manual entry per shift 1 time against lot barcode)</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Lot Number</label>
                                    <input type="text" id="txtLot" autocomplete="off" class="form-control" placeholder="Type LotNumber">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Marking Lot Barcode</label>
                                    <input type="text" id="txtMarkingLotBarcode" autocomplete="off" class="form-control" placeholder="Type Marking Lot Barcode">

                                </div>
                            </div>
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>IA Production Date</label>
                                    <input type="text" id="txtIaProductionDate" autocomplete="off" class="form-control" placeholder="Type IA Production Date">

                                </div>
                            </div>
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Any Major Issue with this lot during assembly</label>
                                    <input type="text" id="txtMajorIssue" autocomplete="off" class="form-control" placeholder="Any Major Issue with this lot during assembly">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Compressor Model   </label>
                                    <input type="text" id="txtModel" autocomplete="off" class="form-control" placeholder="Compressor Model">

                                </div>
                            </div>
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Compressor Lot Number by QC</label>
                                    <input type="text" id="txtLotByQc" autocomplete="off" class="form-control" placeholder="Compressor Lot Number by QC">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Shrinked Rotor Production Date & Lot</label>
                                    <input type="text" id="txtShrinkedRotor" autocomplete="off" class="form-control" placeholder="Shrinked Rotor Production Date & Lot">

                                </div>
                            </div>
                            
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Crankshaft Lot & Group</label>
                                    <input type="text" id="txtCrankShaft" autocomplete="off" class="form-control" placeholder="Crankshaft Lot & Group">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Flange Bearing Lot and Group </label>
                                    <input type="text" id="txtFlang" autocomplete="off" class="form-control" placeholder="Flange Bearing Lot and Group">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Connecting rod Lot & Production Date</label>
                                    <input type="text" id="txtConRod" autocomplete="off" class="form-control" placeholder="Connecting rod Lot & Production Date">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Piston Lot & Production Date</label>
                                    <input type="text" id="txtPistonLot" autocomplete="off" class="form-control" placeholder="Piston Lot & Production Date">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Piston Pin Lot</label>
                                    <input type="text" id="txtPistonPinLot" autocomplete="off" class="form-control" placeholder="Piston Pin Lot">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Valve Plate Lot & Production date</label>
                                    <input type="text" id="txtValvePlateLot" autocomplete="off" class="form-control" placeholder="Valve Plate Lot & Production date">

                                </div>
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            

                            

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Rotor</label>
                                    <input type="text" id="txtRotor" class="form-control" autocomplete="off" placeholder="Type Rotor">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Crank Case</label>
                                    <input type="text" id="txtCrankCase" class="form-control" autocomplete="off" placeholder="Type Crank Case">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Piston</label>
                                    <input type="text" id="txtPiston" class="form-control" autocomplete="off" placeholder="Type Piston">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Screw (FB)</label>
                                    <input type="text" id="txtScrew_FB" class="form-control" autocomplete="off" placeholder="Type Screw (FB)">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Gasket Leaf</label>
                                    <input type="text" id="txtGasket_Leaf" class="form-control" autocomplete="off" placeholder="Type Gasket Leaf">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Suction Valve Leaf</label>
                                    <input type="text" id="txtSuctionValveLeaf" class="form-control" autocomplete="off" placeholder="Type Suction Valve Leaf">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Valve Plate</label>
                                    <input type="text" id="txtValvePlate" class="form-control" autocomplete="off" placeholder="Type Valve Plate">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Universal Gasket</label>
                                    <input type="text" id="txtUniversalGaskete" class="form-control" autocomplete="off" placeholder="Type Universal Gasket">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Cylinder Head</label>
                                    <input type="text" id="txtCylinderHead" class="form-control" autocomplete="off" placeholder="Type Cylinder Head">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Suction Muffler</label>
                                    <input type="text" id="txtSuctionMuffler" class="form-control" autocomplete="off" placeholder="Type Suction Muffler">

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>SMF Spring</label>
                                    <input type="text" id="txtSMFSpring" class="form-control" autocomplete="off" placeholder="Type SMF Spring">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Discharge Gasket</label>
                                    <input type="text" id="txtDischargeGasket" class="form-control" autocomplete="off" placeholder="Type Discharge Gasket">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Screw (CH)</label>
                                    <input type="text" id="txtScrew_CH" class="form-control" autocomplete="off" placeholder="Type Screw(CH)">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Stator Screw</label>
                                    <input type="text" id="txtStatorScrew" class="form-control" autocomplete="off" placeholder="Type Stator Screw">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Suspension Spring</label>
                                    <input type="text" id="txtSuspensionSpring" class="form-control" autocomplete="off" placeholder="Type Suspension Spring">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Stator</label>
                                    <input type="text" id="txtStator" class="form-control" autocomplete="off" placeholder="Type Stator">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Lower Shell Assembly</label>
                                    <input type="text" id="txtLowerShellAssembly" class="form-control" autocomplete="off" placeholder="Type Lower Shell Assembly">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Internal Discharge Tube</label>
                                    <input type="text" id="txtInternalDischargeTube" class="form-control" autocomplete="off" placeholder="Type Internal Discharge Tube">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>BrazingRing</label>
                                    <input type="text" id="txtBrazingRing" class="form-control" autocomplete="off" placeholder="Type Brazing Ring">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Upper Shell</label>
                                    <input type="text" id="txtUpperShell" class="form-control" autocomplete="off" placeholder="Type Upper Shell">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Suction Rubber Plug</label>
                                    <input type="text" id="txtSuctionRubberPlug" class="form-control" autocomplete="off" placeholder="Type Suction Rubber Plug">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Service Rubber Plug</label>
                                    <input type="text" id="txtServiceRubberPlug" class="form-control" autocomplete="off" placeholder="Type Service Rubber Plug">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Discharge Rubber Plug</label>
                                    <input type="text" id="txtDischargeRubberPlug" class="form-control" autocomplete="off" placeholder="Type Discharge Rubber Plug">

                                </div>
                            </div>

                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>TBA</label>
                                    <input type="text" id="txtTBA" class="form-control" autocomplete="off" placeholder="Type TBA">

                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <input type="text" id="txtRemarks" class="form-control" autocomplete="off" placeholder="Type Remarks">

                                </div>
                            </div>

                        </div>


                        <div class="row pull-right">
                            <div class="update ml-auto mr-auto">
                                <button type="button" id="btnSave" class="btn btn-primary btn-round">Save</button>
                            </div>
                            <div class="update ml-auto mr-auto">
                                <button type="button" id="btnUpdate" style="display: none" class="btn btn-primary btn-round">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>

<script>

    $(function () {

        LoadAllLotNumber();
        $("#txtIaProductionDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
    });


    $("#ddlLot").change(function () {

        if ($("#ddlLot").val() == "0") {
            $("#divFields").hide();
        } else {


            VerifyLotInfo($("#ddlLot").val());
            
          

        }

    });
    
    function VerifyLotInfo(lotNumber) {
        
        $.ajax({
            url: '@Url.Action("GetQcTrackingLotInfo", "Common")',
            type: 'Post',
            data: JSON.stringify({
                lotNumber: lotNumber
            }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (result) {
                
                if (result.LotNumber == "null") {
                    $("#divFields").show();
                    $("#txtLot").val($("#ddlLot").val());

                } else {
                    iziToast.error({
                        timeout: 1000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Note:',
                        message: 'Previous Data Found Please Update'
                    });
                    $("#divFields").show();
                    $("#txtLot").val(result.LotNumber);
                    $("#txtMarkingLotBarcode").val(result.MarkingLotBarcode);
                    $("#txtRotor").val(result.Rotor);
                    $("#txtCrankCase").val(result.CrankCase);
                    $("#txtPiston").val(result.Piston);
                    $("#txtScrew_FB").val(result.Screw_FB);
                    $("#txtGasket_Leaf").val(result.Gasket_Leaf);
                    $("#txtSuctionValveLeaf").val(result.SuctionValveLeaf);
                    $("#txtValvePlate").val(result.ValvePlate);
                    $("#txtUniversalGaskete").val(result.UniversalGasket);
                    $("#txtCylinderHead").val(result.CylinderHead);
                    $("#txtSuctionMuffler").val(result.SuctionMuffler);
                    $("#txtSMFSpring").val(result.SMFSpring);
                    $("#txtDischargeGasket").val(result.DischargeGasket);
                    $("#txtScrew_CH").val(result.Screw_CH);
                    $("#txtStatorScrew").val(result.StatorScrew);
                    $("#txtSuspensionSpring").val(result.SuspensionSpring);
                    $("#txtStator").val(result.Stator);
                    $("#txtLowerShellAssembly").val(result.LowerShellAssembly);
                    $("#txtInternalDischargeTube").val(result.InternalDischargeTube);
                    $("#txtBrazingRing").val(result.BrazingRing);
                    $("#txtUpperShell").val(result.UpperShell);
                    $("#txtSuctionRubberPlug").val(result.SuctionRubberPlug);
                    $("#txtServiceRubberPlug").val(result.ServiceRubberPlug);
                    $("#txtDischargeRubberPlug").val(result.DischargeRubberPlug);
                    $("#txtTBA").val(result.TBA);
                    $("#txtRemarks").val(result.Remarks);
                    
                    $("#txtIaProductionDate").val(result.IaProductionDate);
                    $("#txtMajorIssue").val(result.MajorIssue);
                    $("#txtModel").val(result.Model);
                    $("#txtLotByQc").val(result.LotByQc);
                    $("#txtShrinkedRotor").val(result.ShrinkedRotor);
                    $("#txtCrankShaft").val(result.CrankShaft);
                    $("#txtFlang").val(result.Flang);
                    $("#txtConRod").val(result.ConRod);
                    $("#txtPistonLot").val(result.PistonLot);
                    $("#txtPistonPinLot").val(result.PistonPinLot);
                    $("#txtValvePlateLot").val(result.ValvePlateLot);
                    $("#btnUpdate").show();
                    $("#btnSave").hide();
                }
                

                @*if (result.IsSuccess) {
                    iziToast.success({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Setup Completed Successfully'
                    });

                    setTimeout(function() {
                        window.location.href = "@Url.Action("QcLotTracking", "QcPanel")";
                    }, 2000);
                }

                else if (result.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }*@
                   
            },
            error: function (request) {
                alert(request.responseText);
            }

        });
        
    }

    function LoadAllLotNumber() {

        var url = "@Url.Action("GetAllLotNumbers", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlLot");
            $("#ddlLot").chosen("destroy");
            elem.empty();

            elem.append("<option value='0'> Please Select Lot Number </option>");

            $.each(json, function (idx, obj) {

                elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }


    $("#btnSave").click(function() {
        if ($("#txtLot").val() == "") {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Lot Number Required'
            });
            return false;
        }

        else {

            var qcLotTracking = {};

            qcLotTracking.LotNumber = $("#txtLot").val();
            qcLotTracking.MarkingLotBarcode = $("#txtMarkingLotBarcode").val();
            qcLotTracking.Rotor = $("#txtRotor").val();
            qcLotTracking.CrankCase = $("#txtCrankCase").val();
            qcLotTracking.Piston = $("#txtPiston").val();
            qcLotTracking.Screw_FB = $("#txtScrew_FB").val();
            qcLotTracking.Gasket_Leaf = $("#txtGasket_Leaf").val();
            qcLotTracking.SuctionValveLeaf = $("#txtSuctionValveLeaf").val();
            qcLotTracking.ValvePlate = $("#txtValvePlate").val();
            qcLotTracking.UniversalGasket = $("#txtUniversalGaskete").val();
            qcLotTracking.CylinderHead = $("#txtCylinderHead").val();
            qcLotTracking.SuctionMuffler = $("#txtSuctionMuffler").val();
            qcLotTracking.SMFSpring = $("#txtSMFSpring").val();
            qcLotTracking.DischargeGasket = $("#txtDischargeGasket").val();
            qcLotTracking.Screw_CH = $("#txtScrew_CH").val();
            qcLotTracking.StatorScrew = $("#txtStatorScrew").val();
            qcLotTracking.SuspensionSpring = $("#txtSuspensionSpring").val();
            qcLotTracking.Stator = $("#txtStator").val();
            qcLotTracking.LowerShellAssembly = $("#txtLowerShellAssembly").val();
            qcLotTracking.InternalDischargeTube = $("#txtInternalDischargeTube").val();
            qcLotTracking.BrazingRing = $("#txtBrazingRing").val();
            qcLotTracking.UpperShell = $("#txtUpperShell").val();
            qcLotTracking.SuctionRubberPlug = $("#txtSuctionRubberPlug").val();
            qcLotTracking.ServiceRubberPlug = $("#txtServiceRubberPlug").val();
            qcLotTracking.DischargeRubberPlug = $("#txtDischargeRubberPlug").val();
            qcLotTracking.TBA = $("#txtTBA").val();
            qcLotTracking.Remarks = $("#txtRemarks").val();
            qcLotTracking.IaProductionDate = $("#txtIaProductionDate").val();
            qcLotTracking.MajorIssue = $("#txtMajorIssue").val();
            qcLotTracking.Model = $("#txtModel").val();
            qcLotTracking.LotByQc = $("#txtLotByQc").val();
            qcLotTracking.ShrinkedRotor = $("#txtShrinkedRotor").val();
            qcLotTracking.CrankShaft = $("#txtCrankShaft").val();
            qcLotTracking.Flang = $("#txtFlang").val();
            qcLotTracking.ConRod = $("#txtConRod").val();
            qcLotTracking.PistonLot = $("#txtPistonLot").val();
            qcLotTracking.PistonPinLot = $("#txtPistonPinLot").val();
            qcLotTracking.ValvePlateLot = $("#txtValvePlateLot").val();



            InsertQcLotTrackingInfo(qcLotTracking);


        }

    });
    
    function InsertQcLotTrackingInfo(qcLotTracking) {
        
        $.ajax({
            url: '@Url.Action("InsertQcLotTrackingInfo", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({
                qcLotTracking: qcLotTracking
            }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function(result) {

                if (result.IsSuccess) {
                    iziToast.success({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Inserted Successfully'
                    });

                    setTimeout(function() {
                        window.location.href = "@Url.Action("QcLotTracking", "QcPanel")";
                    }, 2000);
                }

                else if (result.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }
                   
            },
            error: function (request) {
                alert(request.responseText);
            }

        });

    }
    //Update Operation 
    



    $("#btnUpdate").click(function() {
        if ($("#txtLot").val() == "") {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Lot Number Required'
            });
            return false;
        }

        else {

            var qcLotTracking = {};

            qcLotTracking.LotNumber = $("#txtLot").val();
            qcLotTracking.MarkingLotBarcode = $("#txtMarkingLotBarcode").val();
            qcLotTracking.Rotor = $("#txtRotor").val();
            qcLotTracking.CrankCase = $("#txtCrankCase").val();
            qcLotTracking.Piston = $("#txtPiston").val();
            qcLotTracking.Screw_FB = $("#txtScrew_FB").val();
            qcLotTracking.Gasket_Leaf = $("#txtGasket_Leaf").val();
            qcLotTracking.SuctionValveLeaf = $("#txtSuctionValveLeaf").val();
            qcLotTracking.ValvePlate = $("#txtValvePlate").val();
            qcLotTracking.UniversalGasket = $("#txtUniversalGaskete").val();
            qcLotTracking.CylinderHead = $("#txtCylinderHead").val();
            qcLotTracking.SuctionMuffler = $("#txtSuctionMuffler").val();
            qcLotTracking.SMFSpring = $("#txtSMFSpring").val();
            qcLotTracking.DischargeGasket = $("#txtDischargeGasket").val();
            qcLotTracking.Screw_CH = $("#txtScrew_CH").val();
            qcLotTracking.StatorScrew = $("#txtStatorScrew").val();
            qcLotTracking.SuspensionSpring = $("#txtSuspensionSpring").val();
            qcLotTracking.Stator = $("#txtStator").val();
            qcLotTracking.LowerShellAssembly = $("#txtLowerShellAssembly").val();
            qcLotTracking.InternalDischargeTube = $("#txtInternalDischargeTube").val();
            qcLotTracking.BrazingRing = $("#txtBrazingRing").val();
            qcLotTracking.UpperShell = $("#txtUpperShell").val();
            qcLotTracking.SuctionRubberPlug = $("#txtSuctionRubberPlug").val();
            qcLotTracking.ServiceRubberPlug = $("#txtServiceRubberPlug").val();
            qcLotTracking.DischargeRubberPlug = $("#txtDischargeRubberPlug").val();
            qcLotTracking.TBA = $("#txtTBA").val();
            qcLotTracking.Remarks = $("#txtRemarks").val();
            qcLotTracking.IaProductionDate = $("#txtIaProductionDate").val();
            qcLotTracking.MajorIssue = $("#txtMajorIssue").val();
            qcLotTracking.Model = $("#txtModel").val();
            qcLotTracking.LotByQc = $("#txtLotByQc").val();
            qcLotTracking.ShrinkedRotor = $("#txtShrinkedRotor").val();
            qcLotTracking.CrankShaft = $("#txtCrankShaft").val();
            qcLotTracking.Flang = $("#txtFlang").val();
            qcLotTracking.ConRod = $("#txtConRod").val();
            qcLotTracking.PistonLot = $("#txtPistonLot").val();
            qcLotTracking.PistonPinLot = $("#txtPistonPinLot").val();
            qcLotTracking.ValvePlateLot = $("#txtValvePlateLot").val();

            UpdateQcLotTrackingInfo(qcLotTracking);


        }

    });
    
    function UpdateQcLotTrackingInfo(qcLotTracking) {
        
        $.ajax({
            url: '@Url.Action("UpdateQcLotTrackingInfo", "QcPanel")',
            type: 'Post',
            data: JSON.stringify({
                qcLotTracking: qcLotTracking
            }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function(result) {

                if (result.IsSuccess) {
                    iziToast.success({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Updated  Successfully'
                    });

                    setTimeout(function() {
                        window.location.href = "@Url.Action("QcLotTracking", "QcPanel")";
                    }, 2000);
                }

                else if (result.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }
                   
            },
            error: function (request) {
                alert(request.responseText);
            }

        });

    }

</script>