﻿@{
    ViewBag.Title = "ViewRejectedItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-dialog {
        min-width: 100%;
        margin: 0;
    }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
        text-align: center;
        font-size: 12px;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    .accordion-dt {
        background-color: #483d8b;
        color: #FFFFFF;
        cursor: pointer;
        padding: 18px;
        width: 30%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion-dt:hover {
            background-color: #17a2b8;
        }

        .accordion-dt:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }


    .dataTables_scrollHeadInner {
        width: 100% !important;
    }

        .dataTables_scrollHeadInner table {
            width: 100% !important;
        }
</style>

<div class="content">
    <div class="container-fluid">
        @Html.Partial("~/Views/PartialViews/_PartialNavToQc.cshtml")

        <div class="row">

            <div class="col-lg-12" id="divHoldedItems" style=" overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Production Report (Qc Pending Items)</h3>
                    </div>
                    <div class="card-body" style="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                    <!-- Accordion card -->
                                    <!-- Accordion card -->
                                    <div class="card">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" style="background-color: crimson;" id="headingTwo2">
                                            <a class="collapsed" style="color: white; text-align: center;" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                               aria-expanded="false" aria-controls="collapseTwo2">
                                                <h5 class="mb-0">
                                                    Pass Option <i class="fas fa-angle-down rotate-icon"></i>
                                                </h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                             data-parent="#accordionEx">
                                            <div class="card-body">
                                                <div class="row" style="text-align: center">
                                                    <div class="col-lg-12" style="text-align: center">
                                                        <input type="checkbox" name="select-all-pass" value="Pass all" /> All Pass
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                            @*<div class="col-md-4">
                                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                        <!-- Accordion card -->
                                        <!-- Accordion card -->
                                        <div class="card">

                                            <!-- Card header -->
                                            <div class="card-header" role="tab" style="background-color: brown;" id="headingTwo3">
                                                <a class="collapsed" style="color: white;text-align: center;" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo3"
                                                   aria-expanded="false" aria-controls="collapseTwo3">
                                                    <h5 class="mb-0">
                                                        Custom Search Option <i class="fas fa-angle-down rotate-icon"></i>
                                                    </h5>
                                                </a>
                                            </div>

                                            <!-- Card body -->
                                            <div id="collapseTwo3" class="collapse" role="tabpanel" aria-labelledby="headingTwo3"
                                                 data-parent="#accordionEx">
                                                <div class="card-body">
                                                    Custom Search Option

                                                    <input type="text" name="basic_example_1" id="basic_example_1" value="" />
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>*@

                            <div class="col-md-4">
                                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                    <!-- Accordion card -->
                                    <!-- Accordion card -->
                                    <div class="card">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" style="background-color: navy;" id="headingTwo4">
                                            <a class="collapsed" style="color: white; text-align: center;" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo4"
                                               aria-expanded="false" aria-controls="collapseTwo4">
                                                <h5 class="mb-0">
                                                    Data Save Option <i class="fas fa-angle-down rotate-icon"></i>
                                                </h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseTwo4" class="collapse" role="tabpanel" aria-labelledby="headingTwo4"
                                             data-parent="#accordionEx">
                                            <div class="card-body">
                                                <input type="button" style="width: 100%" id="btnRejectItemProcessSave" class="btn btn-success" value="Save" />
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                        <table id="datatableRejectedItems" class="table-bordered " cellspacing="0">

                            <thead style="font-size: 10px !important;">
                                <tr>
                                    <th style="font-size: 11px !important;font-weight: normal !important;">Pass </th>
                                    <th>Rejected Tracking Id </th>
                                    <th>Lot Number</th>
                                    <th>Barcode</th>
                                    <th>MasterBarcode</th>
                                    <th>Remarks</th>
                                    <th>Production Date</th>
                                    <th>Rejected By</th>
                                    <th>Rejected Date</th>

                                </tr>
                            </thead>
                            <tbody class="tbody" style="color: black"></tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/uitimepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/uitimepicker/jquery-ui-timepicker-addon.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>
<script>

    $(function () {

        GetRejectedItemsData();

    });
    var table;
    function GetRejectedItemsData() {
        debugger;
        var buttonCommon = {

        };
        table = $('#datatableRejectedItems').DataTable({
            "ajax": {
                "url": "@Url.Action("GetrejectedItems", "QcPanel")",
                "type": "GET",
                "datatype": "json"
            },
            "destroy": true,
            "columnDefs":
         [{
             "searchable": true,

             visible: false
         },
                 { "width": "10%", "targets": 0 },
                 { "width": "9%", "targets": 1 }
         ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 50,
            "scrollY": "600px",
            "scrollX": true,

            "dom": 'Blfrtip',
            "sScrollY": (0.6 * $(window).height()),
            "bPaginate": true,
            "bJQueryUI": true,
            "bScrollCollapse": true,
            "bAutoWidth": true,
            "sScrollXInner": "100%",

            "buttons": [

         $.extend(true, {}, buttonCommon, {
             extend: 'excelHtml5',
             text: '<i class="fa fa-file-excel-o"></i> Excel',
             title: 'Rejected Items',
             footer: true,
         }),
         {
             extend: 'excelHtml5',
             text: '<i class="fa fa-file-excel-o"></i> Excel',
             exportOptions: { orthogonal: 'export' },
             title: 'Rejected Items'
         },
         {
             extend: 'csvHtml5',
             text: '<i class="fa fa-files-o"></i> Csv',
             exportOptions: { orthogonal: 'export' },
             title: 'Hourly Target Report'
         },
         {

             extend: 'print',
             text: '<i class="fa fa-print"></i> Print',
             title: 'Rejected Item ',
             messageTop: "Rejected Item </br> ",
             orientation: 'landscape',
             pageSize: 'LEGAL',
             exportOptions: {
                 columns: ':not(.no-print)'
             },
             footer: true,
             autoPrint: true

         },


         'colvis'
            ],
            "columns": [

                {
                    "data": "",
                    "render": function (data, type, row) {
                        return '<input type="checkbox" name="true" id="true">';
                    }
                },
                { "data": "RejectTrackingId", "autoWidth": true, "searchable": true },
                { "data": "LotNumber", "autoWidth": true, "searchable": true },
                { "data": "BarCode", "autoWidth": true, "searchable": true },
                { "data": "MasterBarcode", "autoWidth": true, "searchable": true },
                { "data": "Remarks", "autoWidth": true, "searchable": true },
                 //{ "data": "ProductionDate", "autoWidth": false, "searchable": true },

                {
                    "data": "ProductionDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));

                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    }
                },
                 { "data": "AddedBy", "autoWidth": false, "searchable": true },
                {
                    "data": "AddedDate",
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";

                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));

                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes();
                    }
                }


            ],

        });
        //table.clear().draw();
        //$('#container').css('display', 'block');
        //table.columns.adjust().draw();
        $('input[name="select-all-pass"]').click(function () {

            if ($(this).prop('checked') == true) {
                // $('input[name="select-all-reject"]').prop('checked', false);
                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var $tr = this.nodes().to$();
                    $tr.find('input[name="true"]').prop('checked', true);
                    //$tr.find('input[name="false"]').prop('checked', false);
                    // $tr.find('input[name="select-all-false"]').prop('checked', false);
                });
            }

            if ($(this).prop('checked') == false) {
                //$('input[name="select-all-reject"]').prop('checked', false);
                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var $tr = this.nodes().to$();
                    $tr.find('input[name="true"]').prop('checked', false);
                    // $tr.find('input[name="false"]').prop('checked', false);
                    // $tr.find('input[name="select-all-reject"]').prop('checked', false);
                });
            }


        });

        //$('input[name="select-all-reject"]').click(function () {

        //    if ($(this).prop('checked') == true) {
        //        $('input[name="select-all-pass"]').prop('checked', false);
        //        table.rows().every(function (rowIdx, tableLoop, rowLoop) {
        //            var $tr = this.nodes().to$();
        //            $tr.find('input[name="true"]').prop('checked', false);
        //            $tr.find('input[name="false"]').prop('checked', true);
        //            $tr.find('input[name="select-all-pass"]').prop('checked', false);
        //        });
        //    }

        //    if ($(this).prop('checked') == false) {
        //        $('input[name="select-all-pass"]').prop('checked', false);
        //        table.rows().every(function (rowIdx, tableLoop, rowLoop) {
        //            var $tr = this.nodes().to$();
        //            $tr.find('input[name="true"]').prop('checked', false);
        //            $tr.find('input[name="false"]').prop('checked', false);
        //            $tr.find('input[name="select-all-reject"]').prop('checked', false);
        //        });
        //    }


        //});

        //$(document).on('click', 'input[name=true]', function () {


        //    if ($(this).prop('checked') == true) {

        //        $(this).prop('checked', true);
        //        $(this).closest('#datatableHoldedItemsDetails tr').find('input[name=false]').prop('checked', false);
        //    }
        //    if ($(this).prop('checked') == false) {

        //        $(this).prop('checked', false);
        //        $(this).closest('#datatableHoldedItemsDetails tr').find('input[name=false]').prop('checked', false);
        //    }


        //});


        //$(document).on('click', 'input[name=false]', function () {


        //    if ($(this).prop('checked') == true) {

        //        $(this).prop('checked', true);
        //        $(this).closest('#datatableHoldedItemsDetails tr').find('input[name=true]').prop('checked', false);
        //    }
        //    if ($(this).prop('checked') == false) {

        //        $(this).prop('checked', false);
        //        $(this).closest('#datatableHoldedItemsDetails tr').find('input[name=true]').prop('checked', false);
        //    }


        //});


        //setTimeout( $('#mdHoldDetailsModal').modal('show'),10000);


        setTimeout(function () {
            table.fnAdjustColumnSizing();
        }, 10);
    }

    //**************Rejected items process Save 
    

    $("#btnRejectItemProcessSave").click(function () {
        // $("#popUpModal").modal("show");
        var status;
        var rejected = [];

        table.rows().every(function (rowIdx, tableLoop, rowLoop) {
            var $tr = this.nodes().to$();
            if ($tr.find('input[name="true"]').is(':checked')) {
                if ($tr.find('input[name="true"]').is(':checked')) {
                    status = 'y';

                }
                //if (!$tr.find('input[name="true"]').is(':checked') && $tr.find('input[name="false"]').is(':checked')) {

                //    status = 'n';

                //}
                rejected.push({
                    RejectTrackingId: $tr.find('td:eq(1)').text(),
                    LotNo: $tr.find('td:eq(2)').text(),
                    BarCode: $tr.find('td:eq(3)').text(),
                    MasterBarcode: $tr.find('td:eq(4)').text(),
                    Status: status,


                });

            }

        });
        //console.log(holdData);
        if (rejected.length > 0) {

            $.ajax({
                url: '@Url.Action("PrepareRejectedDataToUpdate", "QcPanel")',
                type: 'Post',
                data: JSON.stringify({ rejected: rejected }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    if (data.IsSuccess) {

                        iziToast.success({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success!-',
                            message: data.Message,
                            //backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                        
                        setTimeout($('#mdHoldDetailsModal').modal('hide'), 8000);
                        
                        setTimeout(function () {
                            window.location.href = "@Url.Action("ViewRejectedItems", "QcPanel")";
                        }, 8000);
                        //$("#popUpModal").modal("hide");
                    } else {
                        

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: data.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                    }
                   // $("#popUpModal").modal("hide");
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });

        } else {
            //$("#popUpModal").modal("hide");
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'warning!-',
                message: 'Please select any data to save',
                backgroundColor: '#E70F0F',
                theme: 'dark', // dark
               
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#FDFEFE',
                messageSize: 15,
            });


        }
    });

</script>
