﻿
@{
    ViewBag.Title = "ViewQcPassedItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #myModal .modal-dialog {
        min-width: 100%;
    }

    div.ui-datepicker {
        font-size: 12px;
    }

    .dataTables_scroll {
        overflow: auto;
    }



    table.dataTable thead tr {
        background-color: #9C27B0;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }

    table.dataTable thead tr {
        background-color: darkslategray;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        font-size: 12px !important;
    }

    th.dt-center, td.dt-center {
        text-align: center;
    }

    table.dataTable tbody tr {
        color: black;
        font-weight: bold;
        text-align: center;
    }

    #tblBrandSubCategoryDatatable thead tr th {
        text-align: center;
    }

    .dataTables_scrollBody {
        height: auto !important;
    }


    /* Hiding the checkbox, but allowing it to be focused */
    .badgebox {
        opacity: 0;
    }

        .badgebox + .badge {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgebox:focus + .badge {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */
            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgebox:checked + .badge {
            /* Move the check mark back when checked */
            text-indent: 0;
        }
</style>
<div class="content">
    <div class="container-fluid">

        <div class="row">

            @*<div class="col-md-6">
                <div class="card card-chart" style="text-align: center; border: 1px solid #4169e1 !important;">
                    <div class="card-header card-header-rose">
                        Select Report Type
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="chkPending" class="btn btn-danger" style="color: white; background-color: red; text-align: center">
                                    Production ( Pending )
                                    <input type="checkbox" name="chkCriteria" value="Pending" id="chkPending" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label for="chkPassed" class="btn btn-success" style="color: white;background-color: darkgreen; text-align: center">
                                    Production ( Passed )
                                    <input type="checkbox" name="chkCriteria" value="Passed" id="chkPassed" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                </label>
                              

                            </div>

                        </div>
                    </div>
                </div>
            </div>*@

            <div class="col-md-12">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-header card-header-rose">
                        Search report
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtFromDate">From Date</label>

                                    <input id="txtFromDate" type="text" placeholder="From Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label for="txtToDate">To Date</label>

                                    <input id="txtToDate" type="text" placeholder="To Date" class="form-control form-control-success txtDate">
                                </div>
                            </div>
                            <div class="col-md-4 pr-1" style=" display: flex;align-items: center;justify-content: center;">
                                <div class="form-group" style=" display: flex;align-items: center;justify-content: center;">
                                    <label for="btnSave" style=" display: flex;align-items: center;justify-content: center;">&nbsp;</label>

                                    <input type="button" id="btnSearch" value="Search" style="margin-top: 20px;" class="btn btn-primary">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>




        <div class="row">

            @*For passedI Items*@
            <div class="col-lg-12" id="divAssemblyProductionData" style="display: none; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Production Report (Qc Passed Items)</h3>
                    </div>
                    <div class="card-body" style="">
                        <table id="datatableProductionLine" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                            <thead style="font-size: 12px;">
                                <tr>
                                    <th>Date</th>
                                    <th>Model</th>
                                    <th>Category</th>
                                    <th>Shift</th>
                                    <th>Status</th>
                                    <th>Production Count</th>

                                </tr>
                            </thead>

                            @*<tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>

            @*For passedI Items*@

            @*For Pending Items*@
            <div class="col-lg-12" id="divAssemblyProductionDataPending" style="display: none; overflow: auto">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-close">

                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Production Report (Qc Passed Items)</h3>
                    </div>
                    <div class="card-body" style="">
                        <table id="datatableProductionQcPassed" class="table table-bordered" style="width:100%;font-size: 12px !important;">

                            <thead style="font-size: 12px;">
                                <tr>
                                    <th>Date</th>
                                    <th>Model</th>
                                    <th>Category</th>
                                    <th>Shift</th>
                                    <th>Status</th>
                                    <th>Production Count</th>

                                </tr>
                            </thead>

                            @*<tfoot>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>

            @*For Pending Items*@


        </div>
    </div>
</div>


<div class="modal fade" id="myModalShort" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table id="tblDataLoader" cellpadding="3" cellspacing="3" class="reportTbl" border="0" align="center" style="float:left">
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/jquery.dataTables-1.10.9.css" rel="stylesheet" />
<link href="~/Scripts/DatatablePrint/dataTables-2.2.4.tableTools.min.css" rel="stylesheet" />
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/DatatablePrint/jquery.dataTable-1.10.9.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.colVis.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.flash.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.html5.min.js"></script>
<script src="~/Scripts/DatatablePrint/buttons.print.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DatatablePrint/dataTables.foundation.min.js"></script>
<script src="~/Scripts/DatatablePrint/vfs_fonts.js"></script>
<script src="~/Scripts/DatatablePrint/pdfmake.min.js"></script>
<script src="~/Scripts/DatatablePrint/jszip.min.js"></script>
<script>
    $(function() {

        $("#txtFromDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];
        GetQcPassedItems(fromdate, todate);

    });

    $("#btnSearch").click(function() {
        var gridateFrom = $("#txtFromDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];
        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];
        GetQcPassedItems(fromdate, todate);
    });


    var tablePending;
    function GetQcPassedItems(fromdate, todate) {
        var buttonCommon = {
            
        };
      
        $("#divAssemblyProductionData").hide();
        $("#divAssemblyProductionDataPending").show();
        /////////////////////////

        tablePending = $('#datatableProductionQcPassed').DataTable({
            "ajax": {
                "url": "@Url.Action("GetQcPassedItems", "Report")",
            "type": "GET",
            "data": function(d) {
                d.fromdate = fromdate;
                d.todate = todate;
            },
            "datatype": "json"
        },
            "destroy": true,
            "columnDefs":
        [{
            "searchable": true,

            visible: false
        },
            //{ "width": "50%", "targets": 0 }

            { "width": "10%", "targets": 0 },
            { "width": "9%", "targets": 1 }
        ],

        "pageLength": 50,

        "scrollY": "800px",
        "scrollX": true,
        "dom": 'Bfrtip',
        "buttons": [
            $.extend(true, {}, buttonCommon, {
                extend: 'excelHtml5',
                text: '<i class="fa fa-file-excel-o"></i> Excel',
                title: 'Assembly Line Status',
                footer: true,
            }),
            {
                extend: 'csvHtml5',
                text: '<i class="fa fa-files-o"></i> Csv',
                exportOptions: { orthogonal: 'export' },
                title: 'Assembly Line Status'
            },
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i> Print',
                title: 'Assembly Line Status ',
                messageTop: "Assembly Line Status </br> ",
                orientation: 'landscape',
                pageSize: 'LEGAL',
                exportOptions: {
                    columns: ':not(.no-print)'
                },
                footer: true,
                autoPrint: true
            },
            'colvis'
        ],
        "columns": [
            { "data": "DateTime", "autoWidth": false, "searchable": true },
            { "data": "Model", "autoWidth": false, "searchable": true },
            { "data": "CategoryName", "autoWidth": false, "searchable": false },
            { "data": "ShiftName", "autoWidth": false, "searchable": false },
            { "data": "Status", "autoWidth": false, "searchable": false },
            {"data": "Total","autoWidth": false, "searchable": false,},
        ],
        });

    }

</script>

