﻿@{
    ViewBag.Title = "CheckSerial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card card-chart" style="text-align: center; border: 1px solid #DC2366 !important">
                    <div class="card-header card-header-rose">
                        Scan Serial
                    </div>
                    <div class="card-body">
                        <input id="txtCode" style="height: 50px; font-size: 20px; border: 3px solid #9730b0" type="text" placeholder=" Scan Serial" class="form-control form-control-success">
                    </div>

                </div>
            </div>
            
            
            
            <div class="col-md-5" id="idShow" style="display: none;font-size: 30px;font-weight: bold;text-align: center;vertical-align: middle">
               
            </div>

        </div>
    </div>
</div>
<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<script src="~/Scripts/jqueryprint/jquery.min.js"></script>
<script src="~/Scripts/jqueryprint/jQuery.print.min.js"></script>
<script src="~/Scripts/Barcode.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>
<script>
    $(function () {

        $("#txtCode").focus();
    });



    $("#txtCode").on('keydown', function (e) {

        debugger;
        if ($("#txtCode").val().length == 13) {
            var code = $("#txtCode").val();
            $.ajax({
                url: '@Url.Action("CheckSerialCode", "UpdatePanel")',
                type: 'Post',
                data: JSON.stringify({ barcode: code }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {


                    if (data.Id == "1") {
                        $("#idShow").show();
                        $("#idShow").css("background-color", "green");
                        $("#idShow").text(data.Message);
                        $("#idShow").css("color", "white");
                        $("#txtCode").focus();
                        $("#txtCode").val('');
                        
                        $("#idShow").fadeOut(2100);
                    }
                    
                    if (data.Id == "2") {
                        $("#idShow").show();
                        $("#idShow").css("background-color", "red");
                        $("#idShow").text(data.Message);
                        $("#idShow").css("color", "white");
                        $("#txtCode").focus();
                        $("#txtCode").val('');
                        $("#idShow").fadeOut(2100);
                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        }

    });

    </script>