﻿@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-header .fa {
        transition: .3s transform ease-in-out;
    }

    .card-header .collapsed .fa {
        transform: rotate(90deg);
    }
    /* Hiding the checkbox, but allowing it to be focused */
    .badgebox {
        opacity: 0;
    }

        .badgebox + .badge {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgebox:focus + .badge {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */
            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgebox:checked + .badge {
            /* Move the check mark back when checked */
            text-indent: 0;
        }

    /* Hiding the checkbox, but allowing it to be focused */
    .badgeboxs {
        opacity: 0;
    }

        .badgeboxs + .badges {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgeboxs:focus + .badges {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */
            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgeboxs:checked + .badges {
            /* Move the check mark back when checked */
            text-indent: 0;
        }
</style>
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6">
                <div class="card card-chart" style="text-align: center; border: 1px solid #4169e1 !important;">

                    <h5 class="card-header">
                        <a data-toggle="collapse" href="#collapse-example" style="color: purple" aria-expanded="false" aria-controls="collapse-example" id="heading-example" class="d-block">
                            <i class="fa fa-chevron-down pull-right"></i>
                            Select Update Criteria
                        </a>
                    </h5>
                    <div id="collapse-example" class="collapse hide" aria-labelledby="heading-example">
                        <div class="card-body">
                            <div class="row">
                                @*<div class="col-md-6">
                                    <label for="chkPending" class="btn btn-danger" style="color: white; background-color: red; text-align: center">
                                        Update Barcode
                                        <input type="checkbox" name="chkCriteria" value="Pending" id="chkPending" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                    </label>
                                </div>*@
                                <div class="col-md-6">
                                    <label for="chkUBDC" class="btn btn-success" style="color: white;background-color: darkgreen; text-align: center;width: 200px">
                                        Update Barcode
                                        <input type="checkbox" name="chkCriteria" value="UBCD" id="chkUBDC" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                    </label>
                                  

                                </div>
                                <div class="col-md-6">
                                    <label for="chkUMBCD" class="btn btn-success" disabled="disabled" style="color: white; background-color: red; text-align: center; width: 200px">
                                        Update Master Barcode
                                        <input type="checkbox" name="chkCriteria" value="UMBCD" id="chkUMBCD" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                    </label>


                                </div>
                                
                                <div class="col-md-6">
                                    <label for="chkULBCD" class="btn btn-success" disabled="disabled" style="color: white; background-color: darkblue; text-align: center; width: 200px">
                                        Update Lot Barcode
                                        <input type="checkbox" name="chkCriteria" value="ULBCD" id="chkULBCD" class="badgebox checkbox-template"><span class="badge">&check;</span>
                                    </label>


                                </div>
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
              
                <div class="card card-chart" id="divSearchItem" style="text-align: center; display:none ">
                    <div class="card-header card-header-rose">
                        Search Field
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @*<div class="col-md-6">
                                <label for="chkPending" class="btn btn-danger" style="color: white; background-color: red; text-align: center">
                                    Update Barcode
                                    <input type="checkbox" name="chkCriterias" value="Pending" id="chkPending" class="badgeboxs checkbox-templates"><span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label for="chkPassed" class="btn btn-success" style="color: white;background-color: darkgreen; text-align: center">
                                    Production ( Passed )
                                    <input type="checkbox" name="chkCriterias" value="Passed" id="chkPassed" class="badgeboxs checkbox-templates"><span class="badge">&check;</span>
                                </label>
                             

                            </div>*@

                        </div>
                        
                        <input id="txtMBCode" style="height: 50px;display: none; font-size: 20px;" type="text" placeholder="Scan Compressor Barcode" class="form-control form-control-success">

                        
                    </div>

                </div>
                <div class="card card-chart" id="divDataForBarcode" style="text-align: center; display:none;color: black !important;font-size: 20px;text-align: left ">
                    <div class="card-header card-header-rose">
                        Search Related Data
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="txtBcUp"> Barcode</label>
                                    <input id="txtBcUp" type="text" placeholder="" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="txtMbcUp"> Master Barcode</label>
                                    <input id="txtMbcUp" type="text" placeholder="" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="txtBcUp">Lot Barcode</label>
                                    <input id="txtLbcUp" type="text" placeholder="" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="txtPrdDateUp">Production Date</label>
                                    <input id="txtPrdDateUp" type="text" placeholder="" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="txtModUp">Model</label>
                                    <input id="txtModUp" type="text" placeholder="" class="form-control form-control-success txtDate">
                                </div>
                            </div>

                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="txtModUp">Category</label>
                                    <select id="ddlCategory" data-placeholder="Choose a Shift" class="chosen-select form-control" tabindex="1"></select>
                                </div>
                            </div>

                        </div>
                        

                        <div class="row pull-right">

                            <div class="col-md-12">

                                <input type="button" id="btnBcUpdate" class="btn btn-success" value="Update" />
                                <input type="button" id="btnBcDelete" class="btn btn-danger" value="Delete" />
                                <input type="button" id="btnBcClear" class="btn btn-primary" onclick="location.reload();" value="Clear" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdActualBC"/>
<link href="~/Scripts/Choosen/chosen.css" rel="stylesheet" />
<link href="~/Scripts/Choosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<link href="~/Content/Jquery-ui-1.12.1.css" rel="stylesheet" />
<script src="~/Scripts/jqueryprint/jquery.min.js"></script>
<script src="~/Scripts/jqueryprint/jQuery.print.min.js"></script>
<script src="~/Scripts/Barcode.js"></script>
<script src="~/Scripts/iziToast.min.js"></script>
<script src="~/Scripts/DatatablePrint/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/Choosen/chosen.jquery.min.js"></script>
<script>
    $('input[type="checkbox"]').click(function () {
        debugger;
        $("#txtMBCode").hide();
        $("#divSearchItem").hide();
        $("#divDataForBarcode").hide();
        $('input.checkbox-template').not(this).prop('checked', false);
        var inputValue = $(this).attr("value");
        var isChecked = $(this).is(':checked');
        if (inputValue == "UBCD" && isChecked) {
            $("#txtMBCode").show();
            $("#divSearchItem").show();
            $("#txtMBCode").val('');
            $("#txtMBCode").focus();
          
        }

    });
 
    function LoadAllCategories(name,code) {

        var url = "@Url.Action("GetCategories", "Common")";
        $.getJSON(url, function (json) {
            var elem = $("#ddlCategory");
            $("#ddlCategory").chosen("destroy");
            elem.empty();
            elem.append('<option value="' + code + '">' + name + '</option>');
            //elem.append("<option value='0'> Please Select Any Category </option>");

            $.each(json, function (idx, obj) {

                if (obj.Id != code) {
                    elem.append('<option value="' + obj.Id + '">' + obj.value + '</option>');
                }
               
            });

            elem.chosen({ width: "100%", height: "10px" });

            //$(".chosen-select").chosen({ height: "10%" });

        });
    }


    $("#txtMBCode").on('keydown', function (e) {

        debugger;
        if ($("#txtMBCode").val().length == 12) {
            var code = $("#txtMBCode").val();
            $.ajax({
                url: '@Url.Action("GetBarcodeInforForUpdate", "UpdatePanel")',
                type: 'Post',
                data: JSON.stringify({ barcode: code }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data && data.length > 0) {
                        

                        $("#divDataForBarcode").show();
                        $("#hdActualBC").val(code);
                        $("#txtBcUp").val(data[0].BarCode);
                        $("#txtMbcUp").val(data[0].MasterBarCode);
                        $("#txtLbcUp").val(data[0].LotNo);
                        $("#txtPrdDateUp").val(data[0].DateTime);
                        $("#txtModUp").val(data[0].Model);
                        LoadAllCategories(data[0].CategoryName, data[0].CategoryCode);
                        //LoadAllCategories();

                    } else {

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: 'No Data Found',
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                        $("#txtMBCode").val('');

                        $("#txtMBCode").focus();

                        return false;
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        }

    });


    $("#btnBcUpdate").click(function() {

        iziToast.show({
            theme: 'dark',
            icon: 'icon-person',
            timeout: 2000,
            title: 'Wait!!',
            imageWidth: 150,
            message: 'Are You Sure To Update ??? ',
            position: 'center',
            layout: 1,
            messageSize: 15,
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                ['<button>Ok</button>', function(instance, toast) {
                   // alert();
                    var firedButton = $("#btnBcUpdate").val();
                  
                    ModifyCompressorBarcodeinfo(firedButton);

                }, true],
                ['<button>Close</button>', function(instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutUp',
                        onClosing: function(instance, toast, closedBy) {
                            console.info('closedBy: ' + closedBy);
                        }
                    }, toast, 'buttonName');

                }]
            ],
            onOpening: function(instance, toast) {
                console.info('callback abriu!');
            },
            onClosing: function(instance, toast, closedBy) {
                console.info('closedBy: ' + closedBy);
            }
        });


    });
    
    $("#btnBcDelete").click(function () {

        iziToast.show({
            theme: 'dark',
            icon: 'icon-person',
            timeout: 2000,
            title: 'Wait!!',
            imageWidth: 150,
            message: 'Are You Sure To Delete ??? ',
            position: 'center',
            layout: 1,
            messageSize: 15,
            progressBarColor: 'rgb(0, 255, 184)',
            buttons: [
                ['<button>Ok</button>', function (instance, toast) {
                    var firedButton = $("#btnBcDelete").val();
                    ModifyCompressorBarcodeinfo(firedButton);

                }, true],
                ['<button>Close</button>', function (instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutUp',
                        onClosing: function (instance, toast, closedBy) {
                            console.info('closedBy: ' + closedBy);
                        }
                    }, toast, 'buttonName');

                }]
            ],
            onOpening: function (instance, toast) {
                console.info('callback abriu!');
            },
            onClosing: function (instance, toast, closedBy) {
                console.info('closedBy: ' + closedBy);
            }
        });


    });




    function ModifyCompressorBarcodeinfo(clickType) {
      
        var productionMaster = {};
        
        var gridateFrom = $("#txtPrdDateUp").val().split('-');
        var date = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];


        productionMaster.PreviousBarcode = $("#hdActualBC").val();
        productionMaster.Barcode = $("#txtBcUp").val();
        productionMaster.MasterBarcode = $("#txtMbcUp").val();
        productionMaster.LotBarcode = $("#txtLbcUp").val();
        productionMaster.ProductionDate = date;
        productionMaster.Model = $("#txtModUp").val();
        productionMaster.CategoryCode = $("#ddlCategory").val();;
        if (productionMaster.PreviousBarcode != null) {
            $.ajax({
                url: '@Url.Action("ModifyCompressorBarcodeinfo", "UpdatePanel")',
                type: 'Post',
                data: JSON.stringify({ productionMaster: productionMaster, clickType: clickType }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    if (data.IsSuccess) {
                        iziToast.success({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Operation Completed Successfully'
                        });
                        $("#btnPass").hide();
                        $("#txtCode").val('');
                      

                        setTimeout(function () {
                            window.location.href = "@Url.Action("Update", "UpdatePanel")";
                        }, 3000);
                    }

                    else if (data.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    }


                    else {

                        iziToast.warning({
                            timeout: 1000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'warning!-',
                            message: 'No Data Found',
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,

                        });
                        $("#txtCode").val('');
                        $("#txtCode").focus();
                        return false;

                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });





        } else {
            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'warning!-',
                message: 'No Data Added To Update',
                backgroundColor: '#E70F0F',
                theme: 'dark', // dark
                zindex: 999,
                progressBarColor: '#091B2B',
                titleSize: 15,
                messageColor: '#FDFEFE',
                messageSize: 15,
            });
           

            return false;
        }
    }

</script>